<div id="post-comments" class="post-comments">

    {{!-- Disqus Comments  --}}
    <div id="disqus_thread" class="mapache-disqus u-hide"></div>

    {{!-- Comments section for facebook --}}
    <div class="fb-comments mapache-facebook u-hide" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"></div>
</div>
