<div id="post-comments" class="post-comments">

    {{!-- Disqus Comments  --}}
    <div id="disqus_thread" class="mapache-disqus u-hide"></div>

    {{!-- Comments section for facebook --}}
    <div class="fb-comments mapache-facebook u-hide" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"></div>
</div>

{{#contentFor "scripts"}}

{{!-- Disqys Comments --}}
<script>
    var disqus_config = function () {
        this.page.url = '{{url absolute="true"}}';
        this.page.identifier = 'ghost-{{comment_id}}';
    };

    (function() {
        if (typeof disqusShortName !== 'undefined') {
            $('.mapache-disqus').removeClass('u-hide');
            var d = document, s = d.createElement('script');
            s.async = true;
            // IMPORTANT: Replace EXAMPLE with your forum shortname!
            s.src = 'https://'+disqusShortName+'.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    })();
</script>

{{/contentFor}}
