<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> Powered by <a href="https://ghost.org" target="_blank">Ghost</a></div>
        <div class="footer-design-author"><span>Design with</span> <i class="i-favorite heart"></i> by <a href="https://goo.gl/gCU1yH" target="_blank" title="Developer Web FullStack.">@GodoFredoNinja</a></div>
    </div>
</footer>
