{{!-- Footer Page --}}
<footer id="footer" class="footer">
  <div class="footer-wrap">
    <div class="copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> All rights reserved.</div>
    <div class="by">
      <a href="http://godofredo.ninja/godofredo"><span class="icon-code"></span> <span>with</span> <span class="icon-favorite"></span> <span>by GodoFredo</span></a>
    </div>
  </div>
</footer>
<div class="overlay"></div>
