{{!-- Footer Page --}}
<footer class="Footer">
  <div class="Footer-wrap">
    <div class="u-wrap">
      <div class="row">
        <div class="col s12 m6">
          <div class="Footer-copy">Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> All rights reserved. Desing by <a href="https://godofredo.ninja/godofredo">GodoFredoNinja</a> </div>
        </div>
        <div class="col s12 m6">
          <ul class="Footer-social">
            {{!-- Link Social Media --}}
            <li class="Footer-socialItem"><a href="#" class="btn-floating waves-effect waves-light icon-facebook"></a></li>
            <li class="Footer-socialItem"><a href="#" class="btn-floating waves-effect waves-light icon-twitter"></a></li>
            <li class="Footer-socialItem"><a href="#" class="btn-floating waves-effect waves-light icon-google"></a></li>
            <li class="Footer-socialItem"><a href="#" class="btn-floating waves-effect waves-light icon-github"></a></li>
            <li class="Footer-socialItem"><a href="#" class="btn-floating waves-effect waves-light icon-dribbble"></a></li>
            <li class="Footer-socialItem"><a href="#" class="btn-floating waves-effect waves-light icon-linkedin2"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
