{{!-- Footer Page --}}
<footer class="godo-footer">
  <div class="full-site-width">
    <div class="godo-footer-copyright clear center">
        <p class="copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> All rights reserved.</p>
        <p class="by"><a href="http://godofredo.ninja/godofredo"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i> with <i class="fa fa-heart"></i> by GodoFredo</a></p>
    </div>
  </div>
</footer>
