<section id="ScrollBody" class="container u-p-t-2 {{#is "paged"}}margin-top{{/is}}">
    <div class="row">
        <div class="col s12 content">

            <div class="feed-entry-content">
                <div class="feed-entry-wrapper">
                    {{#foreach posts}} {{> entry}} {{/foreach}}
                </div>
            </div>

            {{^is "paged"}}
                <a href="#" class="mapache-load-more" data-page-total="{{pagination.pages}}">Load more <i class="i-keyboard_arrow_down"></i></a>
            {{else}}
                {{"pagination"}}
            {{/is}}
        </div>

        {{!-- Add Sidebar --}}
        {{> "sidebar"}}

    </div>
</section>
