<div class="row">
    <div class="col-left">
        <div class="story-feed">
            <div class="story-feed-content">

                {{!-- The tag below includes the post loop - partials/story/story-list.hbs --}}
                {{#foreach posts}}
                    {{> "story/story-list"}}
                {{/foreach}}

            </div>
        </div>

        {{!-- Pagination - partials/helper/helper-pagination.hbs --}}
        {{> "helper/helper-pagination"}}
    </div>

    {{!-- Sidebar - partials/sidebar.hbs --}}
    {{> "sidebar"}}
</div>
