<section id="ScrollBody" class="container u-p-t-2 {{#is "paged"}}margin-top{{/is}}">
	<div class="row">
		<div class="col s12 content">
			<div class="feed-wrapper">
				{{#foreach posts}} {{> entry}} {{/foreach}}
			</div>

			{{#is "paged"}}
				{{"pagination"}}
			{{else}}
				<div class="pagination" style="display:none">
					<a href="#" id="pagination" class="pagination-link" mapache-page="{{pagination.pages}}" mapache-limit="{{@blog.posts_per_page}}">Load more</a>
				</div>
			{{/is}}
		</div>

		{{!-- Add Sidebar --}}
		{{> "sidebar"}}

	</div>
</section>
