{{! -- Add Pagination -- }}
<div class="pagination">    
    <a href="#" id="pagination" class="pagination-link" mapache-page="{{pagination.pages}}" mapache-limit="{{@blog.posts_per_page}}">Load more</a>
</div>
