{{! -- Add Pagination -- }}
<div class="row">
    <a href="#" id="pagination" class="pagination col s12" data-page="{{pagination.pages}}" mapache-limit="{{pagination.limit}}" mapache-url="{{@blog.url}}">
        <span class="pagination-icon i-spinner"></span>
        <span class="text">Load More</span>
    </a>
</div>
