{{! -- Add Pagination -- }}
<div class="pagination" style="display:none">    
    <a href="#" id="pagination" class="pagination-link" mapache-page="{{pagination.pages}}" mapache-limit="{{@blog.posts_per_page}}">Load more</a>
</div>
