{{#get "posts" limit="6" include="tags,author"}}
	<div class="related-posts hide-before-md">
		<h2 class="related-posts-title">YOU MAY ALSO LIKE</h2>
		<div class="entries">
			<div class="row layout-wrap layout-row">
				{{#foreach posts}}
				<div class="col m4 {{#if image}}{{else}}no-image{{/if}}">
					<div class="related-posts-list">
						{{#if image}}
							<figure class="image">
								<a href="{{url}}" class="image-link">
									<span class="entries-bg" style="background-image:url({{image}})"></span>
								</a>
							</figure>
						{{/if}}
						<h2 class="title"><a href="">{{title}}</a></h2>
					</div>
				</div>
				{{/foreach}}
			</div>
		</div>
	</div>
{{/get}}