<div class="search u-fixed">
    {{!-- search form --}}
    <form class="search-form u-relative u-sizeFullWidth u-marginAuto u-marginBottom20">
        <input id="search-field" class="u-sizeFullWidth u-md-fontSizeBase u-fontSize40 u-fontWeightSemibold" type="text" placeholder="{{t "Search"}}..." />
    </form>

    {{!-- Search results --}}
    <div id="searchResults" class="search-results u-marginAuto u-sizeFullWidth"></div>
</div>
