{{!-- Sidebar right --}}
<div class="sidebar show-on-medium-screen">

  {{!-- Add your content here --}}
  <div class="card">
    <div class="title">Title Karannnn</div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
    Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue.
  </div>

  {{!-- Another way to add here --}}
  <div class="items">
    <img src="http://41.media.tumblr.com/3966b51da2d941f0c01a907f190ebcb9/tumblr_nqx8hsjuCl1tubinno1_1280.jpg" alt="" />
  </div>

  {{!-- Another way to add here --}}
  <div class="card">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
    Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue.
  </div>

  {{!-- Add your content here - block fixed --}}
  <div class="hidden">
    <img src="https://s3.amazonaws.com/StartupStockPhotos/uploads/46.jpg" alt="" />
  </div>

</div>
