{{!-- Sidebar right --}}
<div id="sidebar" class="col s12 m4 sidebar sidebar-sticky u-h-b-{{#is "post"}}lg{{else}}md{{/is}}">
    {{!-- 5 articles featured in page (home - author - tag) --}}
    {{#is "home" }}
        {{#get "posts" filter="featured:true" limit="2" as |featured| }}
            {{> "sidebar-post-featured" widgetTitle=(t "Featured Posts") widgetPosts=featured }}
        {{/get}}
    {{/is}}

    {{!-- 5 articles recents in page (post) --}}
    {{#is "post, tag, author, paged" }}
        {{#get "posts" limit="5" as |recents| }}
            {{> "sidebar-post" widgetTitle=(t "Latest Posts") widgetPosts=recents }}
        {{/get}}
    {{/is}}

    {{!-- Tag Cloud --}}
    {{> "sidebar-tag-cloud" }}

    {{!-- Twitter --}}
    <div class="sidebar-items u-hide u-card-shadow">
        <h3 class="sidebar-title">{{t "Recents Tweets"}}</h3>
        <div class="widget-twitter"></div>
    </div>

    {{!-- facebook --}}
    <div class="sidebar-items u-hide u-card-shadow" style="min-height:500px">
        <h3 class="sidebar-title">Facebook</h3>
        <div class="widget-facebook"></div>
    </div>
</div>
