{{!-- Sidebar right --}}
<div id="sidebar" class="col s12 sidebar u-h-b-{{#is "post"}}lg{{else}}md{{/is}}">
    <div class="sidebar-sticky ">
        {{!-- 5 articles featured in page (home - author - tag) --}}
        {{#is "home" }}
            {{#get "posts" filter="featured:true" limit="5" as |featured| }}
                {{> "sidebar-post" widgetTitle="Featured Posts" widgetPosts=featured }}
            {{/get}}
        {{/is}}

        {{!-- 5 articles recents in page (post) --}}
        {{#is "post, tag, author, paged" }}
            {{#get "posts" limit="5" as |recents| }}
                {{> "sidebar-post" widgetTitle="Latest" widgetPosts=recents }}
            {{/get}}
        {{/is}}

        {{!-- Tag Cloud --}}
        {{> "sidebar-tag-cloud" }}
    </div>
</div>
