{{!-- Sidebar right --}}
<div id="sidebar" class="col-gd-right sidebar hide-before-lg">

    {{#get "posts" filter="featured:true" limit="5" as |featured|}}
        {{> "widget-featured" widgetTitle="Featured Posts" widgetPosts=featured}}
    {{/get}}

    {{!-- Add your content here --}}

</div>
