{{!-- Add Twitter Widget --}}
<div class="Sidebar-items col s12 m6 Sidebar-social">
  <div class="Sidebar-content z-depth-1 white">
    <h3 class="Sidebar-title icon-twitter">Sígueme en Twitter</h3>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/GodoFredoNinja" data-widget-id="247666431938920449">Tweets por el @GodoFredoNinja.</a>

  </div>
</div>

