{{!-- Add Facebook Plugin --}}
<div class="Sidebar-items col s12 s6 center">
  <div class="fb-page" data-href="https://www.facebook.com/godofredo.ninja" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/godofredo.ninja"><a href="https://www.facebook.com/godofredo.ninja">GodoFredo</a></blockquote></div></div>
</div>

{{!-- Add Twitter Widget --}}
<div class="Sidebar-items col s12 m6">
  <div class="Sidebar-content z-depth-1 white">
    <h3 class="Sidebar-title icon-twitter">Sígueme en Twitter</h3>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/GodoFredoNinja" data-widget-id="247666431938920449">Tweets por el @GodoFredoNinja.</a>

  </div>
</div>

