{{!-- Sidebar Post Template --}}
<div class="sidebar-items">
    <h3 class="sidebar-title">{{widgetTitle}}</h3>

    {{#foreach widgetPosts}}
    <div class="sidebar-post">
        <a href="{{url absolute="true"}}" class="sidebar-post--link">
            <span class="sidebar-post--border">{{@number}}</span>
            <h3 class="sidebar-post--title">{{title}}</h3>
        </a>
    </div>
    {{/foreach}}

</div>
