<div id="newsletter" class="bottom-subscribe col s12 m7" style="display:none">
	<h5>Subscribe to {{@blog.title}}</h5>
	<p>Receive updates to our latest news, features and exclusive.</p>
	<form id="newsletter-form" class="newsletter-form" action="" method="post" target="_blank">
		<div class="input-group">
			<input class="form-control newsletter-email" name="EMAIL"  type="email"size="16"  placeholder="Enter your email address" required="required">
			<span class="input-group-btn"><button class="btn btn-primary" type="submit">Sign Up</button></span>
		</div>
	</form>
</div>
