<div id="related" class="related-posts hide-before-md" mapache-post-id="{{id}}" mapache-post-total="2" mapache-tag="{{#if tags }}{{#foreach tags limit="1"}}{{id}}{{/foreach}}{{/if}}">
    <h2 class="related-posts-title">YOU MAY ALSO LIKE</h2>
    <div class="entries">
        <div id="related-wrap" class="row layout-wrap layout-row"> </div>
    </div>
</div>
