{{!-- Post Related <use api ghost> --}}

<div id="post-related" class="post-related u-h-b-md" mapache-post-id="{{id}}" mapache-post-total="6" mapache-tag="{{#if tags }}{{#foreach tags limit="1"}}{{id}}{{/foreach}}{{/if}}">
	<h2 class="post-related-title u-b-b">Related Article</h2>
	<div id="post-related-wrap" class="row"></div>
</div>
