<div id="related" class="related-posts hide-before-md" mapache-post-id="{{id}}" mapache-post-total="6" mapache-tag="{{#if tags }}{{#foreach tags limit="1"}}{{id}}{{/foreach}}{{/if}}">
	<h2 class="related-posts-title">Related Article</h2>
	<div class="entries">
		<div id="related-wrap" class="row layout-wrap layout-row"> </div>
	</div>
</div>
