.button {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .44);
  cursor: pointer;
  display: inline-block;
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 37px;
  letter-spacing: 0;
  line-height: 35px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &--chromeless {
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    color: rgba(0, 0, 0, .44);
    height: auto;
    line-height: inherit;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    white-space: normal;

    &:active,
    &:hover,
    &:focus {
      border-width: 0;
      color: rgba(0, 0, 0, .6);
    }
  }

  &--large {
    font-size: 15px;
    height: 44px;
    line-height: 42px;
    padding: 0 18px;
  }

  &--dark {
    background: rgba(0, 0, 0, .84);
    border-color: rgba(0, 0, 0, .84);
    color: rgba(255, 255, 255, .97);

    &:hover {
      background: $primary-color;
      border-color: $primary-color;
    }
  }
}

// Primary
.button--primary {
  border-color: $primary-color;
  color: $primary-color;
}

.button--large.button--chromeless,
.button--large.button--link {
  padding: 0;
}

.buttonSet {
  > .button {
    margin-right: 8px;
    vertical-align: middle;
  }

  > .button:last-child {
    margin-right: 0;
  }

  .button--chromeless {
    height: 37px;
    line-height: 35px;
  }

  .button--large.button--chromeless,
  .button--large.button--link {
    height: 44px;
    line-height: 42px;
  }

  & > .button--chromeless:not(.button--circle) {
    margin-right: 0;
    padding-right: 8px;
  }

  & > .button--chromeless:last-child {
    padding-right: 0;
  }

  & > .button--chromeless + .button--chromeless:not(.button--circle) {
    margin-left: 0;
    padding-left: 8px;
  }
}

.button--circle {
  background-image: none !important;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  line-height: 38px;
  padding: 0;
  text-decoration: none;
  width: 40px;
}

// Btn for tag cloud or category
// ==========================================================================
.tag-button {
  background: rgba(0, 0, 0, .05);
  border: none;
  color: rgba(0, 0, 0, .68);
  font-weight: 700;
  margin: 0 8px 8px 0;

  &:hover {
    background: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .68);
  }
}

// button dark line
// ==========================================================================
.button--dark-line {
  border: 1px solid #000;
  color: #000;
  display: block;
  font-weight: 600;
  margin: 50px auto 0;
  max-width: 300px;
  text-transform: uppercase;
  transition: color .3s ease, box-shadow .3s cubic-bezier(.455, .03, .515, .955);
  width: 100%;

  &:hover {
    color: #fff;
    box-shadow: inset 0 -50px 8px -4px #000;
  }
}
