.container {
  margin: 0 auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  width: 100%;
  max-width: $container-xl;

  // @media #{$sm-and-up}{max-width: $container-sm;}
  // @media #{$md-and-up}{max-width: $container-md;}
  // @media #{$lg-and-up}{max-width: $container-lg;}
  // @media #{$lg-and-up} {  }
}

.margin-top {
  margin-top: $header-height;
  padding-top: 1rem;

  @media #{$md-and-up} { padding-top: 1.8rem }
}

@media #{$md-and-up} {
  .content {
    flex-basis: 69.66666667% !important;
    max-width: 69.66666667% !important;
    // flex: 1 !important;
    // max-width: calc(100% - 300px) !important;
    // order: 1;
    // overflow: hidden;
  }

  .sidebar {
    flex-basis: 30.33333333% !important;
    max-width: 30.33333333% !important;
    // flex: 0 0 330px !important;
    // order: 2;
  }
}

@media #{$xl-and-up} {
  .content { padding-right: 40px !important }
}

@media #{$lg-and-up} {
  .feed-entry-wrapper {
    .entry-image {
      width: 40% !important;
      max-width: 40% !important;
    }

    .entry-body {
      width: 60% !important;
      max-width: 60% !important;
    }
  }
}

@media #{$lg-and-down} {
  body.is-article .content {
    max-width: 100% !important;
  }
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  // margin: -8px;

  margin-left: - $gutter-width / 2;
  margin-right: - $gutter-width / 2;

  // // Clear floating children
  // &:after {
  //  content: "";
  //  display: table;
  //  clear: both;
  // }

  .col {
    // float: left;
    // box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;

    $i: 1;

    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");

      &.s#{$i} {
        // width: $perc;
        flex-basis: $perc;
        max-width: $perc;
      }
      $i: $i + 1;
    }

    @media #{$md-and-up} {

      $i: 1;

      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");

        &.m#{$i} {
          // width: $perc;
          flex-basis: $perc;
          max-width: $perc;
        }
        $i: $i + 1
      }
    }

    @media #{$lg-and-up} {

      $i: 1;

      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");

        &.l#{$i} {
          // width: $perc;
          flex-basis: $perc;
          max-width: $perc;
        }
        $i: $i + 1;
      }
    }
  }
}
