// partial color Change for blue
@mixin colorBlue($color-theme) {
  .btn.btn-primary,
  .cover,
  .header.toolbar-shadow,
  .header.toolbar-shadow,
  .mapache-load-more:hover,
  .nav-mob,
  .post-related .no-image .entry,
  .u-tags:hover,
  {
    background-color: $color-theme !important;
  }
  .form-control:focus{
    border-color: $color-theme !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba($color-theme,0.6);
  }
  .mapache-load-more:hover{
    border-color: $color-theme !important;
  }
}


// Full Color Change
@mixin colorFull($color-theme) {

  a,
  .btn,
  .nav-mob-copyright a,
  .pagination .pagination-link{
    color: $color-theme;
  }

  mark {
    background-image: linear-gradient(to bottom, lighten($color-theme, 35%), lighten($color-theme, 30%));
  }

  .btn.btn-primary,
  .cover,
  .header.toolbar-shadow,
  .nav-mob,
  .post-actions-comment,
  .post-related .no-image .entry,
  .sidebar .title-primary,
  .mapache-load-more:hover,
  .u-tags:hover{
    background-color: $color-theme !important;
  }
  .form-control:focus{
    border-color: $color-theme !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba($color-theme,0.6);
  }

  .btn.btn-download-cloud,
  .btn.btn-download{
    background-color: $color-theme;
    &:hover{background-color: darken($color-theme, 8%);}
  }
  .pagination .pagination-link:before{
    border: 2px solid $color-theme;
  }
  .mapache-load-more:hover{
    border-color: $color-theme !important;
  }
  .pagination .pagination-link.loanding:before{
    border-bottom: 2px solid $color-theme;
  }

  blockquote {
    border-color: $color-theme;
  }
}
