main
  margin-top 20px


// Author page
.Author
  margin-bottom 3em
  padding-top 2em !important
  padding-bottom 2em !important
  position relative
  overflow hidden


  &.cover
    background-position center
    background-size cover
    color #fff
    text-shadow 0 1px 1px rgba(114,114,114,0.9)

    .Author-line
      display none
    .Author-avatar
      box-shadow none

    .Author-name
    .Author-meta span
    .Author-website
      color #fff
  &-wrap
    position relative

  &-profile
    height 120px
    margin 0 auto
    position relative
    width 120px
    z-index 10

  &-info
    margin 0 auto
    max-width 620px
    padding 5px 0
  &-name
    font-size 1.8em
    margin 10px auto 0 auto
  &-about
    margin 5px 0
  &-meta
    margin 15px auto 0 auto
    span
      color #9a9a9a
      font-weight 500
      margin 0 5px
  &-website
    color #9a9a9a
    &:hover
      color #1378ae

  &-line
    background #DDDBDB
    border 0
    display block
    height 1px
    margin 0
    position absolute
    top 60px
    width 100%


// Autor post main
.AuthorPost
  font-size 16px
  &-img
    display block
    height 100px
    margin 0 auto
    width 100px
  &-meta
    padding-top 10px !important
    text-align center
  &-name
    display block
    font-size 1.5em
    font-weight 500
    text-align center
    text-transform capitalize
  &-location
    margin-right 10px
  &-web
    font-weight bold
    i
      vertical-align middle
  &-top
    padding-bottom 10px
    color $color-date
    a
      font-weight 500


// Footer
.Footer
  background-color #fff
  box-shadow 0 1px 3px 0 rgba(0,0,0,0.4)
  padding-top 1em
  position relative
  text-align center
  z-index 99
  &-wrap
    padding-top 1em
  &-copy
    opacity .9
    padding-bottom 10px
  &-social
    padding 0
    margin 0
  &-socialItem
    display inline-block
    list-style none
    margin-left 2px
    vertical-align top
    a
      color #fff
      margin 0
      padding 0
      width 36px
      &:hover
        opacity .9

// Menu Navigation
.Menu
  background #3a5795 !important
  overflow visible

  .side-nav a
    height 44px
    line-height 44px
  i
    font-size 30px !important

  &-openDesktop
    display none

  &-desktop
    display none

  // result rearch
  &-resultForm
    padding 10px 15px
    line-height 1
    color #6d6d6d
    display block
    &:hover
      background-color rgba(0, 0, 0, 0.1)
    // &:first-child
    //   border-top solid 1px #d6d6d6
    &:last-child
      // border-bottom solid 1px #aaa
      padding-bottom 20px

  &-openSearch
  &-closeSearch
    background #3a5795
    cursor pointer
    display inline-block
    line-height 1
    position absolute
    right 0.75rem
    top 12px
  &-form
    z-index 999
    opacity 1
    transition all .2s ease
    left 0
    position absolute
    text-align left
    width 100%
    top 0

    form
      background #3a5795
      margin-right 50px
    input
      margin 0
      &:focus
        // border-bottom none !important
        box-shadow none !important
    &.close
      opacity 0
      display none


// Logo
.Logo
  display none
  height 64px
  margin 0 auto
  overflow hidden
  text-align center
  font-weight bold
  &-img
    max-width 180px
    margin-top 10px

// Post Loop
.Ps
  &-inner
    margin-bottom 30px
    padding-bottom 50px
    position relative
    &:hover
      .Ps-link
        color #f04f53
  &-img
    background-position top center
    background-size cover
    height 200px
    position relative
  &-title
    font-size 18px
    font-weight 500
    line-height 1.3
    margin 0 auto
    position relative
  &-excerpt
    padding 0 15px
    font-size 16px
  &-link
    color $color-title
    display block
    font-weight 500
    padding 12px 15px 8px 15px
  &-footer
    border-top 1px solid #edecec
    bottom 0
    color $color-date
    left 0
    position absolute
    right 0
  &-datetime
    display inline-block
    vertical-align top
  &-tag
  &-share
    padding 10px 15px
  &-share
    cursor pointer
    &:hover
      .Ps-shareC
        backface-visibility hidden
        opacity 1
        transform translateX(0)
        visibility visible
  // share social
  &-shareC
    opacity 0
    position absolute
    bottom 45px
    right 5px
    z-index 10
    text-align center
    margin 0
    transform translateX(-40px)
    transition-duration .3s
    transition-timing-function cubic-bezier(.25,.1,.25,1)
    visibility hidden
  &-shareI
    margin-bottom 5px

// pagination
.pagination
  color #444
  padding 3em 0.75rem !important
  text-align center
  &-newer
  &-number
  &-older
    display inline-block
    position relative
    vertical-align middle
  &-number
    height 55.5px
    line-height 45px
    padding 0 20px

// Post Page
.Post
  &-imgContent
    line-height 0
    margin 0 auto
    padding 0 0 1.5em 0
  &-title
    font-size 2em
    line-height 35px
    margin-top 0
    margin-bottom 10px
  &-main
    padding 1em
    border-radius 0 0 2px 2px
  &-content
    font-size 16px
    p img
      display block
      margin 0 auto
    a
      border-bottom .08em solid rgba(0,0,0,0.1)
      padding-bottom 0.2em
      &:hover
        border-bottom .08em solid $link-blue-hover
        color $link-blue-hover
    ul
      padding-left 1em
      li
        position relative
        padding 0 0 15px 1em

        p
          margin 0

        i
          color #e91e63
          font-size 10px
          left 0
          position absolute
          top 5px
      &:nth-child(2n+1)
        li i
          color #4CAF50

    h2
    h3
    h4
    h5
    h6
      margin 1.5em auto .5em auto
      &:before
        color $color-before-title
        content '#'
        display inline
        font-weight bold
        margin-right 5px

    blockquote
      border-color $color-blockquote
      width 90%
      margin-left auto
      margin-right auto


// Share Post
.Share
  padding 1.5em 0
  &-hidden
    display none
    margin-left 5px
    text-transform capitalize
  &-items
    margin-right 5px
    padding-left 1.5em
    padding-right 1.5em
    display inline-block
    vertical-align top
  .whatsapp
    padding-left 0
    padding-right 0
  .icon-linkedin2
    display none
  &-title
    font-size 1.3em
    font-weight 500
    padding 1em 0


// Sidebar
.Sidebar
  width 100% !important
  &-items
    margin-bottom 1.5em
    padding 0 0 1em 0
    width 100% !important
  &-content
    border-radius 0 0 2px 2px
    padding 0 0.75rem
  &-title
    font-size 20px
    font-weight 500
    margin 0 auto
    padding 8px 0
    &.icon-twitter
      color #fff
      margin-left -0.75rem
      margin-right -0.75rem
      text-align center
      &:before
        margin-right 5px


// Page Tag
.Tag
  margin-bottom 3em
  padding-top 2em !important
  padding-bottom 2em !important
  position relative
  min-height 250px
  &.cover
    background-size cover
    background-position center
    text-shadow 0 1px 1px rgba(114,114,114,0.9)
    .Tag-title
    .Tag-description
      color #fff

  &-wrap
    right 0
    left 0
    position absolute
    top 50%
    transform translate(0,-50%)
    padding 0 0.75rem
    max-width 620px
    margin 0 auto
  &-title
    font-size 1.8em
    margin 10px auto 20px auto
    text-transform uppercase
  &-description
    margin 5px 0

// Error 404
.Error
  height 400px
  &-wrap
    left 50%
    margin 0 auto
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width 100%
  img
    width 200px
    margin 0 0 15px auto
  &-text
    font-size 3em
    line-height 1
    font-weight 600
  p
    margin 0
