// Header
.Header
  height 64px
  line-height 64px
  padding 0 16px
  &-form
    position relative


// Logo
.Logo
  max-width 200px
  overflow hidden

// Post Loop

.Ps
  &-inner
    margin-bottom 30px
    padding-bottom 50px
    position relative
  &-img
    background-position top center
    background-size cover
    height 200px
    position relative
    transition .3s ease all
  &-title
    font-size 18px
    font-weight 500
    line-height 1.3
    margin 0
    min-height 75px
    padding 5px 15px
    position relative
  &-link
    color #484848
    position absolute
    top 50%
    transform translate(0, -50%)
  &-footer
    border-top 1px solid #edecec
    bottom 0
    color #6d6d6d
    left 0
    position absolute
    right 0
  &-tag
    padding 10px 15px

// pagination
.pagination
  color #444
  padding 3em 0.75rem !important
  text-align center
  &-newer
  &-number
  &-older
    display inline-block
    position relative
    vertical-align middle
  &-number
    height 55.5px
    line-height 45px
    padding 0 20px
