// Autor post main
.AuthorPost
  font-size 16px
  &-img
    display block
    height 100px
    margin 0 auto
    width 100px
  &-meta
    padding-top 10px !important
    text-align center
  &-name
    display block
    font-size 1.5em
    font-weight 500
    text-align center
    text-transform capitalize
  &-location
    margin-right 10px
  &-web
    font-weight bold
    i
      vertical-align middle
  &-top
    color $color-gray
    a
      font-weight 500


// Footer
.Footer
  background-color #fff
  box-shadow 0 1px 3px 0 rgba(0,0,0,0.4)
  padding-top 1em
  position relative
  text-align center
  z-index 99
  &-wrap
    padding-top 1em
  &-copy
    opacity .9
    padding-bottom 10px
  &-social
    padding 0
    margin 0
  &-socialItem
    display inline-block
    list-style none
    margin-left 2px
    vertical-align top
    text-align center
    a
      color #fff
      margin 0
      padding 0
      width 36px
      &:hover
        opacity .9

// Menu Navigation
.Menu
  overflow visible
  color $color-gray
  box-shadow none
  border-bottom solid 1px #e7e6e6

  &-item
    max-height 40px
    float none
    line-height 2
    position relative
    &:hover
      background transparent
    a
      height 100%
      line-height 30px
      span
        display inline-block
        vertical-align middle
      i
        line-height 1
        height auto
        font-size 22px
      &.active
      &:hover
        background #444
        color #fff

        i
          color #fff

      .display-name
        margin-left 10px
    &.bb
      padding 15px 0
      max-height 100%
      font-weight 500
  a
    color $color-gray

  &-openDesktop
    display none
    font-size 35px

  &-desktop
  &-social
    display none

  // result rearch
  &-resultForm
    padding 10px 15px
    line-height 1
    display block
    &:hover
      background-color rgba(0, 0, 0, 0.1)
    // &:first-child
    //   border-top solid 1px #d6d6d6
    &:last-child
      // border-bottom solid 1px #aaa
      padding-bottom 20px

  &-openSearch
  &-closeSearch
    background #fff
    cursor pointer
    display inline-block
    line-height 1
    position absolute
    right 0.75rem
    top 12px
  &-form
    z-index 999
    opacity 1
    transition all .2s ease
    left 0
    position absolute
    width 100%
    top 0

    form
      background #fff
      margin-right 50px

      #Search-results
        position absolute
        top 63px
        width 100%
    input
      margin 0
      padding-left 5px !important
      width 100%
    &.close
      opacity 0
      display none
    button
      display none


// Logo
.Logo
  font-weight bold
  &-img
    max-width 180px
    margin-top 10px
    max-height 30px

// Post Loop
.Ps
  &-inner
    margin-bottom 30px
    padding-bottom 50px
    position relative
    &:hover
      .Ps-link
        color #f04f53
  &-img
    background-position top center
    background-size cover
    display block
    height 200px
    position relative
  &-title
    font-size 18px
    font-weight 500
    line-height 1.3
    margin 0 auto
    position relative
  &-excerpt
    padding 0 15px
    font-size 16px
  &-link
    color $color-title
    display block
    font-weight 500
    padding 12px 15px 8px 15px
  &-footer
    border-top 1px solid #edecec
    bottom 0
    color $color-date
    left 0
    position absolute
    right 0
  &-datetime
    display inline-block
    vertical-align top
  &-tag
  &-share
    padding 10px 15px
  &-share
    cursor pointer
    &:hover
      .Ps-shareC
        backface-visibility hidden
        opacity 1
        transform translateX(0)
        visibility visible
  // share social
  &-shareC
    opacity 0
    position absolute
    bottom 45px
    right 5px
    z-index 10
    text-align center
    margin 0
    transform translateX(-40px)
    transition-duration .3s
    transition-timing-function cubic-bezier(.25,.1,.25,1)
    visibility hidden
  &-shareI
    margin-bottom 5px

// pagination
.pagination
  color #444
  padding 3em 0.75rem !important
  text-align center
  &-newer
  &-number
  &-older
    display inline-block
    position relative
    vertical-align middle
  &-number
    height 55.5px
    line-height 45px
    padding 0 20px

// Post Page
.Post
  padding 0 !important
  &-header
    position relative
    overflow hidden
    width 100%
  &-img
    display block
    width 100%
  &-headerCont
    box-sizing border-box
    margin 8px
    padding 12px
  &-tags
    font-weight 500
    text-transform uppercase
  &-title
    font-size 2em
    line-height 1
    margin-bottom 5px
    margin-top 0
  &-main
    border-radius 0 0 2px 2px
  &-content
    font-size 16px
    padding 0 20px
    margin 8px
    p img
      display block
      margin 0 auto
    a
      border-bottom .08em solid rgba(0,0,0,0.1)
      padding-bottom 0.2em
      &:hover
        border-bottom .08em solid $color-blue
    ul
      padding-left 1em
      li
        position relative
        padding-left 1em
        margin-bottom 10px

        p
          margin 0

        i
          color #e91e63
          font-size 10px
          left 0
          position absolute
          top 5px
      &:nth-child(2n+1)
        li i
          color #4CAF50

    h2
    h3
    h4
    h5
    h6
      margin 1em auto .2em auto

    blockquote
      border-color $color-blockquote
      width 90%
      margin-left auto
      margin-right auto


  .card
    box-shadow none
    border 1px solid #dcdcdc
    margin 8px

// Share Post
.Share
  &-hidden
    display none
    margin-left 5px
    text-transform capitalize
  &-items
    margin-right 5px
    padding-left 1.5em
    padding-right 1.5em
    display inline-block
    vertical-align top
  .whatsapp
    padding-left 0
    padding-right 0
  .icon-linkedin
    display none
  &-title
    font-size 1.3em
    font-weight 500
    padding 1em 0


// Sidebar
.Sidebar
  width 100% !important
  &-items
    margin-bottom 1.5em
    padding 0 0 1em 0
    width 100% !important
  &-content
    border-radius 0 0 2px 2px
    padding 0 0.75rem
  &-title
    font-size 20px
    font-weight 500
    margin 0 auto
    padding 8px 0
    &.icon-twitter
      color #fff
      margin-left -0.75rem
      margin-right -0.75rem
      text-align center
      &:before
        margin-right 5px
  // facebook & twitter
  &-social
    display none


// Header all page (author tag home)
.Header
  position relative
  min-height 210px
  padding 0 !important
  &-profile
    margin 0
    position absolute
    width 100px
    left 15px
    top 0
  &-title
    font-size 1.5em
    margin 0
  &-description
    margin 5px 0
  &-info
    font-size 16px
    padding 8px
  &-meta
    color $color-gray
    margin-top 10px
    span
      margin 0 5px
  &-home
    max-width 600px
    margin 0 auto
    color #fff
    text-shadow 0 -1px 2px rgba(0, 0, 0, 0.76)
  &-homeTitle
    color #fff
    font-size 2em
    margin 0
  &-homeDes
    font-size 18px
    line-height 20px

// Error 404
.Error
  height 400px
  &-wrap
    left 50%
    margin 0 auto
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width 100%
  img
    width 200px
    margin 0 0 15px auto
  &-text
    font-size 3em
    line-height 1
    font-weight 600
  p
    margin 0


// Follow Me
.Follow
  display none
  span
    float left
    position relative
    &.fb
      margin 15px 11px 0 0
    &.tw
      height 20px
      margin-top 15px
      margin-right 10px
    &.yt
      margin-top 13px
    &.texto
      line-height 50px
      margin 0 45px
      font-size 16px
