// Color Site

$link-blue = #1378ae

$link-blue-hover = #039be5

$color-body-text = #333

$color-title = #4e5665

// Color title before "#"
$color-before-title = #f04f53

// Color border blockquote
$color-blockquote = #8bc34a

// tag Pre and code
$color-bg-pre  = #253238

// List count num
$color-ol-num = #1378ae
