
$color-icon = #696969

// colores
$color-blue = #1378ae
$color-gray = #767676
$color-green = #37a557
$color-orange = #e5a430
$color-coral = #d15258


// Color Site


$color-body-text = #333

$color-title = #4e5665

// Color title before "#"
$color-before-title = #f04f53

// Color border blockquote
$color-blockquote = #8bc34a

// tag Pre and code
$color-bg-pre  = #253238

// List count num
$color-ol-num = #1378ae


// Color loop date and post top author
$color-date = #6d6d6d
