@import 'nib'

body
  background-color #e5e5e5
  background-image url('../img/bg-Body.jpg')
  letter-spacing .01em
  line-height 1.846
  text-rendering optimizeLegibility

img
  max-width 100%
  width auto



@import 'body'
@import 'mixin'
