@import 'nib'
@import 'color'
@import 'icon'

a
  color $link-blue

body
  background-color #e9eaed
  line-height 1.7
  text-rendering optimizeLegibility
  // color #4e5665
  color $color-body-text

img
  max-width 100%
  width auto

h1
h2
h3
h4
h5
h6
  font-weight bold
  font-size 1.5em
  line-height 1.3
  color $color-title

ul li code
ol li code
p code
  background $color-bg-pre
  border-radius 3px
  color #fff
  padding 0 10px 3px 10px

pre
  background $color-bg-pre !important
  border-radius .3em
  color #fff
  margin .5em 0
  overflow auto
  padding 1em

strong
  font-weight bold

hr
  border none
  border-bottom 1px dashed #b7b7b7
  margin 2.5em auto
  padding 0

ol
  list-style-type none
  margin 0
  margin-left 1em
  padding 1em 0
  counter-reset li-counter

  li
    position relative
    margin-bottom 20px
    padding-left 0.5em
    border-left 2px solid #CCCCCC

    &:before
      color $color-ol-num
      content counter(li-counter)
      counter-increment li-counter
      font-family "Roboto", sans-serif !important
      font-weight bold !important
      left -1.4em
      line-height 1
      position absolute
      text-align right
      top 0
      width 0.8em


@import 'body'
@import 'mixin'

// css mi adds
@import 'ads'

@import 'prism'

// media
@import 'media/601'
@import 'media/992'

// keyframes
@import 'keyframes'

