// Utilidades
.u-wrap
  max-width 1260px
  margin 0 auto
  position relative

.u-avatar
  border-radius 50%
  box-shadow 1px 5px 1px rgba(204,204,204,0.8)
  border 5px solid #fff
  &:hover
    animation-duration .75s
    animation-iteration-count 1
    animation-name buzz-out
    animation-timing-function linear

// border de cajas
.u-border
  border 1px solid #dcdcdc
  border-radius 2px
  background #fff
  min-height 115px

.u-cover
  background-color transparent
  background-size cover
  height 210px
  position relative

// color icon principal
.u-blue
  color $color-blue
.u-green
  color $color-green
.u-orange
  color $color-orange
.u-coral
  color $color-coral




// cleanner
.clear
.u-wrap
  &:before
  &:after
    clear both
    content " "
    display table

// Post Twitter embed Css Center
.fb-post
.twitter-tweet
  margin 0 auto 30px auto !important
  display block !important
  text-align center


// Color btn social
.icon-facebook
  background #3b5998 !important
.icon-twitter
  background #55acee !important
.icon-youtube
  background #e52d27 !important
.icon-github
  background #201F1F !important
.icon-google
  background #dd4b39 !important
.icon-whatsapp
  background #5cbe4a !important
.icon-dribbble
  background #ea4c89 !important
.icon-linkedin
  background #069 !important
.icon-instagram
  background #306088 !important
.icon-spotify
  background #2ebd59 !important

// Color Icon social
.color-facebook
  color #3b5998 !important
.color-twitter
  color #55acee !important
.color-youtube
  color #e52d27 !important
.color-github
  color #201F1F !important
.color-google
  color #dd4b39 !important
.color-whatsapp
  color #5cbe4a !important
.color-dribbble
  color #ea4c89 !important
.color-linkedin
  color #069 !important
.color-instagram
  color #306088 !important
.color-spotify
  color #2ebd59 !important

// videos responsives
.fluid-width-video-wrapper
  margin-bottom 30px

