.u-wrap
  max-width 1200px
  margin 0 auto
  position relative
.Inline
  display inline-block
  vertical-align middle

.u-avatar
  border-radius 50%
  box-shadow 1px 5px 1px rgba(204,204,204,0.8)
  border 5px solid #fff
  &:hover
    animation-duration .75s
    animation-iteration-count 1
    animation-name buzz-out
    animation-timing-function linear


// cleanner
.clear
.u-wrap
  &:before
  &:after
    clear both
    content " "
    display table

// Post Twitter embed Css Center
.fb-post
.twitter-tweet
  margin 1.5em auto !important
  display block !important
  text-align center


// Color btn social
.icon-facebook
  background #3b5998 !important
.icon-twitter
  background #55acee !important
.icon-youtube
  background #e52d27 !important
.icon-github
  background #201F1F !important
.icon-google
  background #dd4b39 !important
.icon-whatsapp
  background #5cbe4a !important
.icon-dribbble
  background #ea4c89 !important
.icon-linkedin2
  background #069 !important
