{
  "root": true,
  parser: "babel-eslint",
  "extends": "airbnb",
  "env": {
    "amd": true,
    "browser": true,
    "jquery": true,
    "node": true,
  },
  "rules": {
    "no-console": 0,
    "func-names": 0,
    "react/require-extension": 0,
    "import/extensions": [1, { "js": "never" }],
    import/no-extraneous-dependencies: [error, { devDependencies: true }]
  }
}
