{{!-- Layout --}}
{{!< default }}

{{#contentFor "mapache_class_body"}}is-article is-article-single{{/contentFor}}

{{#post}}
<article class="post">

    <header class="u-container u-maxWidth740 u-marginTop30">
        {{!-- Article Header - partials/article/article-header.hbs --}}
        {{> "article/article-header"}}

        {{!-- Article Author - partials/article/article-author.hbs --}}
        {{> "article/article-author"}}
    </header>

    {{!-- Article Image - partials/helper/helper-article-image.hbs --}}
    {{> "helper/helper-article-image"}}

    <div class="u-maxWidth740 u-marginAuto u-container u-marginTop20">
        {{!-- Article Content - partials/article/article-body.hbs --}}
        {{> "article/article-body"}}
    </div>
</article>
{{/post}}

{{!-- Related Articles - partials/article/article-related.hbs --}}
{{> "article/article-related"}}