{{!-- Layout --}}
{{!< layout-article }}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "mapache_class_body"}}is-audio{{/contentFor}}

{{!-- Video Container --}}
{{#contentFor "mapache_audio"}}
    <div class="audio-post-format u-hide" style="margin-bottom:30px"></div>
{{/contentFor}}

<div class="row">
    <div class="col s12 content">

        {{!-- Article Content  --}}
        {{> "article" }}

    </div>

    {{!-- Sidebar --}}
    {{> "sidebar" }}
</div>

