{{!-- Layout --}}
{{!< layout-article }}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "mapache_class_body"}}is-video{{/contentFor}}

{{!-- Video Container --}}
<div class="video-post-format"></div>

<div class="row">
    <div class="col s12 content">

        {{!-- Article Content  --}}
        {{> "article" }}

    </div>

    {{!-- Sidebar --}}
    {{> "sidebar" }}
</div>
