{{!-- Layout --}}
{{!< default }}

{{!-- Class for <body> --}}
{{#contentFor "mapache_class_body"}}is-contact{{/contentFor}}

{{#post}}
<article class="container mx-auto py-12 relative {{#if feature_image}} grid gap-16 lg:grid-cols-2 {{/if}}">
        <div>
            <header class="mx-auto max-w-2xl mb-10">
                <h1 class="text-4xl text-title lg:text-5xl capitalize">{{title}}</h1>
                {{#if custom_excerpt}}<p class="text-xl mt-8 text-gray-600">{{custom_excerpt}}</p>{{/if}}
            </header>

            {{content}}
        </div>

        {{!-- Featured Media - partials/components/media-cover.hbs --}}
        {{#if feature_image}}
        <figure class="relative mb-4 overflow-hidde rounded h-96 order-first lg:h-auto lg:order-none">
            {{> "components/media-cover" background=feature_image alt_title=name}}
        </figure>
        {{/if}}
</article>
{{/post}}