{{!-- Layout --}}
{{!< default }}

{{#contentFor "mapache_class_body"}}is-single-post has-cover is-head-transparent{{/contentFor}}

{{#post}}
{{!-- Article Header Cover - partials/article/article-header-cover.hbs --}}
{{> "article/article-header-cover"}}

<div class="post container mx-auto max-w-3xl my-8">
    {{!-- Article Author - partials/components/author-meta.hbs --}}
    {{> "components/author-meta"}}

    {{!-- Article Content - partials/article/article-body.hbs --}}
    {{> "article/article-body"}}
</div>
{{/post}}

{{!-- Related Articles - partials/article/article-related.hbs --}}
{{> "article/article-related"}}