{{!-- Layout --}}
{{!< layout-article }}

{{#post}}

{{!-- Featured Image large  --}}
{{#if feature_image}}
    <figure class="post-image"><img src="{{feature_image}}" alt="{{title}}"/></figure>
{{/if}}

{{/post}}

<div class="row">
    <div class="col s12 content">

        {{!-- Article Content  --}}
        {{> "article" }}

    </div>

    {{!-- Sidebar --}}
    {{> "sidebar" }}
</div>

