{{!-- Layout --}}
{{!< default }}

{{#contentFor "mapache_class_body"}}is-image share-margin has-cover is-transparency{{/contentFor}}


<div class="cc-image u-overflowHidden u-boxShadowBottom u-relative">
    {{!-- Image and Backround Iand overlay --}}
    {{#post}}

    {{#if feature_image}}
        <figure class="cc-image-figure u-textAlignCenter u-block u-marginAuto u-sizeFullWidth">
            <img src="{{feature_image}}" class="u-block u-marginAuto" alt="{{title}}"/>
        </figure>
    {{else}}
        <div class="u-absolute0 lazy-load-image u-block" data-src="{{asset "images/not-image.jpg"}}"></div>
    {{/if}}
    {{!-- Gradient --}}
    <div class="u-bgGradient u-absolute0 zindex2"></div>

    {{/post}}

    <div class="cc-image-header u-absolute zindex3">
        <div class="extreme-container">
            {{!-- Article Header - partials/article/article-header.hbs --}}
            {{> "article/article-header"}}
        </div>
    </div>
</div>

{{!-- Ad --}}
{{> "ad/ad-post-header"}}

<section class="post extreme-container u-marginTop30 u-marginBottom40">
    <div class="row">
        <article class="col-left">

            {{!-- Article Author - partials/article/article-author.hbs --}}
            {{> "article/article-author"}}

            {{!-- Article Content - partials/article/article-body.hbs --}}
            {{> "article/article-body"}}
        </article>

        {{!-- Sidebar - partials/sidebar.hbs --}}
        {{> "sidebar"}}
    </div>
</section>

{{!-- Comments partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{!-- Instagram partials/widget/widget-instagram.hbs --}}
{{> "widget/widget-instagram"}}
