{{!-- Layout --}}
{{!< default }}

{{#contentFor "mapache_class_body"}}is-article-single show-category share-margin has-cover is-transparency{{/contentFor}}

<div class="cc-image u-overflowHidden u-relative u-boxShadowBottom">
    {{!-- Image and Backround Iand overlay --}}
    {{#post}}
    {{#if feature_image}}
        <figure class="cc-image-figure u-textAlignCenter u-block u-marginAuto u-sizeFullWidth">
            <img src="{{feature_image}}" class="u-block u-marginAuto" alt="{{title}}"/>
        </figure>
    {{/if}}
    {{/post}}

    <div class="cc-image-header u-absolute zindex2">
        <div class="extreme-container">
            {{!-- Title & Excerpt - partials/article/article-header.hbs --}}
            {{> "article/article-header"}}
        </div>
    </div>
</div>

{{!-- Ad --}}
{{> "ad/ad-post-header"}}

<section class="post u-maxWidth740 u-container u-marginAuto u-marginTop30 u-marginBottom40">

    {{!-- Article Author - partials/article/article-author.hbs --}}
    {{> "article/article-author"}}

    {{!-- Article Content - partials/article/article-body.hbs --}}
    {{> "article/article-body"}}

</section>

{{!-- Comments partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{!-- Instagram partials/widget/widget-instagram.hbs --}}
{{> "widget/widget-instagram"}}
