{{!-- Add Layout --}}
{{!< default}}

{{!-- Add Error Page 404 --}}
<main class="container errorpage vertiacal-aling margin-top">
    <div class="vertiacal-aling-wrap">
        <div class="vertiacal-aling-content errorpage-content">
            <h1 class="errorpage-title">404</h1>
            <p>Oops! Looks like what you're looking for can't be found.</p>
        </div>
    </div>
</main>
