{{!-- Add Layout --}}
{{!< default}}
{{!-- Add Error Page 404 --}}
<div class="Error col s12 center clear">
    <div class="Error-wrap">
      <img src="/assets/img/error.svg"/>
      <div class="Error-text">ERROR 404</div>
      <p>LO QUE BUSCAS NO ESTA AQUÍ</p>
    </div>
</div>
