{{!-- Add Layout --}}
{{!< default}}
{{!-- Add Error Page 404 --}}
<div id="error" class="error u-align-center">
    <div class="error-wrap">
      <div class="error-text">404</div>
      <p>Oops! Looks like what you're looking for can't be found.</p>
    </div>
</div>
