{{!-- Add Layout --}}
{{!< default}}
{{!-- Add Error Page 404 --}}
<div class="error valign-wrapper">
    <div class="error-content center">
      <img src="/assets/img/error.svg"/>
      <p class="error-text">404</p>
      <p>Oops! Look's like you are lost! But, relax we got your back.</p>
    </div>
</div>
