{{!-- Add Layout --}}
{{!< default}}
{{!-- Add Error Page 404 --}}
<div class="error valign-wrapper">
    <div class="error-content center">
      <img src="/assets/img/error.svg"/>
      <div class="error-text">ERROR 404</div>
      <p>This is not the webpage you are looking you.</p>
    </div>
</div>
