{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "mapache_class_body"}}is-frontpage {{^is "paged"}}has-cover is-transparency{{/is}}{{/contentFor}}
{{#contentFor "mapache_class_site_main"}}pb4{{/contentFor}}

{{^is "paged"}}
    {{!-- Cover - partials/home/home-personal-cover.hbs --}}
    {{> "home/home-personal-cover"}}
{{/is}}

<div id="main-content" class="extreme-container u-marginTop20">
    {{> "loop"}}
</div>