{{!-- Add layout --}}
{{!< default}}
{{^is "paged"}}
	<section id="cover" class="cover vertiacal-aling full-height">
		{{#if @blog.cover}}<div class="background" style="background-image: url({{@blog.cover}})"></div>{{/if}}
		<div class="vertiacal-aling-wrap">
			<article class="cover-wrap vertiacal-aling-content">
				{{!-- Blog name --}}
				<h1 id="title-home" class="cover-title animated bounceInDown">{{@blog.title}}</h1>
				{{!-- Blog description --}}
				<p class="cover-description animated bounceIn">{{@blog.description}}</p>
			</article>
		</div>
		<a href="#main" class="scrolltop mouse hide-before-md"><span class="scroll"></span></a>
	</section>
{{/is}}
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}
