{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "mapache_class_body"}}is-frontpage {{^is "paged"}}is-pagination{{/is}}{{/contentFor}}

<section class="extreme-container u-marginTop20">
    {{> "loop"}}
</section>
