<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>{{meta_title}}</title>

  <!-- bower:css -->
  <link rel="stylesheet" href="/assets/lib/materialize/bin/materialize.css" />
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- endinject -->

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body>

  <div class="Landing">
    {{!-- Add Header --}}
    {{> "header"}}
    {{!-- Add Content Body --}}
    {{{body}}}
    {{!-- Add footer --}}
    {{> "footer"}}
  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <!-- bower:js -->
  <script src="/assets/lib/jquery/dist/jquery.js"></script>
  <script src="/assets/lib/materialize/bin/materialize.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="/assets/scripts/jquery.ghostHunter.min.js"></script>
  <script src="/assets/scripts/main.js"></script>
  <script src="/assets/scripts/prism.js"></script>
  <script src="/assets/scripts/whatsapp-button.js"></script>
  <!-- endinject -->

  {{!-- facebook Scripts --}}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  {{!-- Google Script --}}
  <script src="https://apis.google.com/js/platform.js"></script>
  {{!-- Twitter Script --}}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
