<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>{{meta_title}}</title>

  <!-- bower:css -->
  <link rel="stylesheet" href="assets/lib/materialize/bin/materialize.css" />
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- endinject -->

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body>

  <div class="Landing">
    {{!-- Add Header --}}
    {{> "header"}}
    {{!-- Add Content Body --}}
    <main>
      <div class="u-wrap">
        <section class="row">
          {{{body}}}
        </section>
      </div>
    </main>
    {{!-- Add footer --}}
    {{> "footer"}}
  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <!-- bower:js -->
  <script src="assets/lib/jquery/dist/jquery.js"></script>
  <script src="assets/lib/materialize/bin/materialize.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
