{{!-- Add Layout --}}
{{!< default}}
{{#post}}
<div class="container">
    <section class="post-wrapper">
        <article class="post" style="max-width:700px;margin:0 auto;min-height: 100vh;">
            <h1 class="post-title">{{title}}</h1>
            {{#if feature_image}}<figure class="post-image"><img src="{{feature_image}}" alt="{{title}}" class="img-responsive"/></figure>{{/if}}
            <div class="post-body">{{content}}</div>
        </article>
    </section>
</div>
{{/post}}
