{{!-- Layout --}}
{{!< default }}

{{#contentFor "mapache_class_body"}}is-article is-page{{/contentFor}}

{{#post}}

<article class="post u-maxWidth740 u-container u-marginAuto u-marginTop30 u-marginBottom40">
    {{!-- Page Title --}}
    <h1 class="post-title u-fontSize36 u-marginBottom30 u-md-fontSizeLarger">{{title}}</h1>

    {{!-- Post Image - partials/helper/helper-article-image.hbs --}}
    {{> "helper/helper-article-image"}}

    {{!-- Page Content --}}
    <div class="post-body">
        <div class="post-inner">{{content}}</div>
    </div>
</article>

{{/post}}
