{{!-- Add Layout --}}
{{!< default}}
{{#post}}
<main class="main">
	<section class="main-wrap full-site-width" style="padding-top:64px">
		<div class="main-post page-static">
			<article class="post">
				<div class="post-main">
					{{!-- Title page --}}
					<h1 class="post-title">{{title}}</h1>
					{{!-- Img page --}}
					{{#if image}}<img src="{{image}}" alt="{{title}}" class="post-img"/>{{/if}}
					{{!-- Page content --}}
					{{content}}
				</div>
			</article>
		</div>
	</section>
</main>
{{/post}}
