{{!-- Layout --}}
{{!< layout-article }}

<div class="row">
    <div class="col s12 content">

    {{#post}}
        {{!-- Block Featured Image --}}
        {{#contentFor "mapache_feature_image"}}
            {{#if feature_image}}<figure class="post-image"><img class="post-img" src="{{feature_image}}" alt="{{title}}"/></figure>{{/if}}
        {{/contentFor}}

        {{!-- Article Content  --}}
        {{> "article"}}
    {{/post}}

        {{!-- Article Related Numero 6--}}
        {{> "article-related" }}
    </div>

    {{!-- Sidebar --}}
    {{> "sidebar" }}
</div>

