{{!-- Add Layout --}}
{{!< default}}

<section class="container">
    <div class="post-wrapper">

        {{#post}}

        {{!--  Video Post Format and image post Format --}}
        {{^has tag="#image-post-format"}}
            {{#has tag="#video-post-format"}} <div class="video-post-format"></div> {{/has}}
        {{else}}
            {{#if feature_image}}<figure class="post-image"><img src="{{feature_image}}" alt="{{title}}"/></figure>{{/if}}
        {{/has}}

        <div class="row">
            <div class="col s12 content">

                {{!-- Article Content  --}}
                {{> "article"}}

            {{/post}}

                {{!-- Article Related Numero 6--}}
                {{> "article-related" }}
            </div>

            {{!-- Sidebar --}}
            {{> "sidebar" }}
        </div>
    </div>
</section>
