{{!-- Layout --}}
{{!< default }}

{{#contentFor "mapache_class_body"}}is-article{{/contentFor}}

<div class="post extreme-container u-marginTop30 u-marginBottom40">
    <div class="row">
        {{#post}}
        <article class="col col-left">
            {{!-- Article Header - partials/article/article-header.hbs --}}
            {{> "article/article-header"}}

            {{!-- Article Author - partials/article/article-author.hbs --}}
            {{> "article/article-author"}}

            {{!-- Article Image - partials/helper/helper-article-image.hbs --}}
            {{> "helper/helper-article-image"}}

            {{!-- Article Content - partials/article/article-body.hbs --}}
            {{> "article/article-body"}}
        </article>
        {{/post}}

        {{!-- Sidebar - partials/sidebar.hbs --}}
        {{> "sidebar"}}
    </div>
</div>

{{!-- Related Articles - partials/article/article-related.hbs --}}
{{> "article/article-related"}}