// Post Comments
// -----------------------------------------------------------------------------

.post-comments {
  background: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
  font-size: 14px;
  overflow-y: auto;
  transform: translateX(100%);
  transition: .2s;
  will-change: transform;
  z-index: 15;

  &-header {
    height: $header-height;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background: #fff;
  }

  &-overlay {
    background-color: rgba(0, 0, 0, .2);
    display: none;
    transition: background-color .4s linear;
    z-index: 14;
    cursor: pointer;
  }
}

body.has-comments {
  overflow: hidden;

  .post-comments-overlay { display: block }
  .post-comments { transform: translateX(0) }
}

@media #{$md-and-up} {
  .post-comments {
    left: auto;
    max-width: 700px;
    min-width: 500px;
  }
}
