body.has-cover {
  .header { position: fixed }

  &:not(.has-menu) {
    &.is-transparency {
      .header {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        transition: all .5s ease-in-out;
      }

      // .header-line { border-color: hsla(0, 0%, 100%, .1) }

      .header-left .hla, .nav ul li a, .header-logo { color: #fff; }
      .menu-burger span { background-color: #fff }
    }
  }
}
