.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  &.top2 { margin-top: -2px; }

  &--s {
    height: 18px;
    width: 18px;
  }

  &--m {
    width: 26px;
    height: 26px;
  }
}

.rotate90 { transform: rotate(90deg) }
.rotate270 { transform: rotate(270deg) }
