// Emed Card
// -----------------------------------------------------------------------------

.kg-embed-card {
  @extend %flex-align-items-center;
  @extend %direction-column;

  min-width: 100%;
  max-width: 100%;
}

// Gallery
// -----------------------------------------------------------------------------

.kg-gallery {
  &-container {
    @extend %flex;
    @extend %direction-column;

    max-width: 100%;
    width: 100%;
  }

  &-row {
    @extend %flex;
    @extend %direction-row;
    @extend %justify-content-center;

    &:not(:first-of-type) { margin: 0.75em 0 0 0 }
  }

  &-image {
    img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &:not(:first-of-type) { margin: 0 0 0 0.75em }
  }
}

@media #{$md-and-down} {
  .kg-width-wide .kg-image { width: 100% }
}
