// Previus and next article
// -----------------------------------------------------------------------------

.prev-next {
  &-span {
    // color: #888;
    // font-weight: 500;
    font-size: 1rem;
    margin-bottom: 5px;

    i {
      display: inline-block;
      transition: all 277ms cubic-bezier(0.16, 0.01, 0.77, 1)
    }
  }

  &-title {
    @extend %u-line-clamp-2;

    margin: 0;
    font-size: 18px;
  }

  &-link:hover {
    .arrow-right { animation: arrow-move-right 0.5s ease-in-out forwards }
    .arrow-left { animation: arrow-move-left 0.5s ease-in-out forwards }
  }
}

@media #{$md-and-up} {
  .prev-next-link { margin: 0 !important }
  .prev-next-right { text-align: right }
}
