// <hr> To Add borders and separate stories
// -----------------------------------------------------------------------------
.hr-list {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.0785);
  margin: 40px 0 0;
}

.story-feed .story-feed-content:first-child .hr-list:first-child {
  margin-top: 5px;
}

// .separate {
//   background-color: currentColor;
//   display: inline-block;
//   height: 1px;
//   margin-left: .75em;
//   margin-right: .75em;
//   opacity: .75;
//   vertical-align: middle;
//   width: 1.75em;
// }

.separate {
  margin-left: .4em;
  margin-right: .4em;

  &::before { content: '/'; }
}

// When the cursor is hover the story the image for a zoom animation
// -----------------------------------------------------------------------------
.image-hover {
  img {
    // transition: transform .7s;
    // transform: translateZ(0)
    transition: all 0.4s ease
  }

  &:hover img { transform: scale(1.03) }
}

//  Hover in title of story
.title-hover {
  color: var(--story-title-color);
  &:hover { opacity: .6; }
}

// Meta for Story ( Category - Datetime - more link - featured icon)
// -----------------------------------------------------------------------------
.flow-meta {
  margin-bottom: 1em;

  &-cat {
    color: var(--story-color);
    letter-spacing: .02em;
    padding: 4px 2px;

    &:hover { opacity: .6; }
  }
}

.more-link {
  @extend %secundary-font;

  transition: none .25s ease-in-out;
  transition-property: background-size, color;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 0 100%;
  background-size: 0 1px, 100% 1px;
  display: inline-block;
  color: var(--story-more-link-color);
  background-image: linear-gradient(to top, var(--story-more-link-color), var(--story-more-link-color)), linear-gradient(to top, var(--story-more-link-border), var(--story-more-link-border));
  // font-size: 15px;
  font-style: italic;
  line-height: 1.6;

  &::after { content: '...' }

  &:hover,
  &:focus {
    color: var(--story-more-link-color);
    background-size: 100% 1px, 100% 1px;
  }
}

.u-meta-featured {
  font-size: 12px;
  letter-spacing: 0.025em;
  padding: 3px 10px;
  right: 10px;
  top: 10px;
}

// Story Default list
// -----------------------------------------------------------------------------

.story {
  &-image { flex: 0 0  45% }
  &-footer { color: var(--story-footer-color) }
  &-title { margin-bottom: .625em }

  &-body {
    min-height: 250px;
    padding: 1rem 0 1rem 2rem;
  }

  &-lower {
    color: var(--story-content-color);
    flex: 1 1 auto;
    letter-spacing: .02em;
    margin-bottom: 1.5em;
  }

  &-excerpt {
    @extend %secundary-font;
    // font-family: $secundary-font;
    // color: rgba(0, 0, 0, 0.84);
    font-weight: 300;
    line-height: 1.6;
  }
}

// Travel -> Story For Travel
// -----------------------------------------------------------------------------

.story-travel {
  margin-bottom: 3.5em;

  .flow-meta { margin-bottom: 1.25em; }

  &-image-link {
    padding-top: 66.5%;
    margin-bottom: 1.375em;
  }

  &-title {
    @extend %secundary-font;

    font-weight: 400;
    line-height: 1.4;
  }
}

// Home Banner -> for story cover in top home page
// -----------------------------------------------------------------------------

.h-cover {
  &-header { padding: 30px 3.846153846% 20px }
  &-bg { background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, .9) 100%) }

  &-header,
  &-bg,
  &-img { transition: all 0.4s ease; }

  &-items:hover {
    .h-cover-header { bottom: 10px; }
    .h-cover-bg { background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .9) 100%); }
    .h-cover-img { transform: scale(1.01); }
  }
}

// stylelint-disable-next-line
.h-cover-items, // story cover for home page
.sf-cover { // story featured Cover for travel
  .flow-meta { color: rgba(255, 255, 255, .85) }

  .flow-meta-cat { color: #fff }
}

// blog -> Story for Blog
// -----------------------------------------------------------------------------

.is-blog .story-feed {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.entry {
  margin-bottom: 4rem;

  &-bg { opacity: 0; }

  &-image {
    margin-bottom: 3rem;
    padding-top: 60%;

    &:hover .entry-bg { opacity: .2; }
  }
}

// Story Grid
// -----------------------------------------------------------------------------

.post-box {
  &-image {
    padding-top: 66.66667%;
  }

  &-excerpt {
    color: #7d7d7d;
    max-height: 3.3em;
    line-height: 1.6;
  }
}

// Media query before medium
// -----------------------------------------------------------------------------
@media #{$md-and-down} {
  .hr-list { margin-bottom: 30px; }

  // story default list
  .story {
    margin-top: 20px;

    &-image {
      height: 235px;
      display: block;
    }

    &-body { padding: 1rem 0 0 }
  }
}

@media #{$md-and-up} {
  // travel -> story for template of travel
  .story-travel-image-link { padding-top: 130% }
  .story-travel-large .story-travel-image-link { padding-top: 61.614%; }

  // blog -> Story for template of blog
  .entry { margin-bottom: 6rem; }
}
