html[data-theme="dark"] {
  --text--title__Color: #eee;
  --content-text__Color: #888;
  --text--secondary__Color: #888;

  // Header
  --header-color: #eee;
  --header-color-hover: #bbb;
  --header-menu-color: #eee;
  --header-menu-color-hover: #bbb;
  --header-bg-color: #222;
  --header-logo-color: #fff;

  // global
  --hr-bg: #444;
  --figcaption-color: #888;
  --q-color: #888;
  --input-bg-color: #444;
  --input-color: #eee;
  --input-border-color: #444;

  // Search
  --search-color-link: #eee;
  --search-bg-link: #444;
  --search-bg-link-hover: #333;
  --search-color-message: #bbb;

  // sidebar
  --sidebar-post-bg: #222;
  --sidebar-post-border-color: #444;
  --border-bottom-color: rgba(255, 255, 255, 0.1);

  // Sidenav
  --sidenav-bg: #333;
  --sidenav-color: #eee;
  --sidenav-border-color: #444;

  // story
  --story-color: #fff;
  // --story-content-color: #888;
  --story-more-link-color: #888;
  --story-more-link-border: rgba(160, 160, 160, .15);
  // --story-title-color: #eee;
  --fashion-featured-bg: #222;

  // DropDown
  --drop-bg-color: #333;
  --drop-color-link: #eee;
  --drop-color-link-hover: #bbb;
  --drop-border-color: #444;

  // Post
  // --post-title-color: #eee;
  --blockquote-color: #fff;
  --post-excerpt-color: #888;
  // --post-color-link: #fff;
  --post-link-border: #444;
  --mobile-share-bg: #444;

  // BookMark
  --bookmark-bg: #222;
  // --bookmark-color: #eee;
  --bookmark-meta-color: #eee;
  --bookmark-border-color: #444;
  // --bookmark-color-des: #888;

  // Membership
  --member-plan-bg: #222;
  --member-plan-border: #444;
  --member-color: #eee;

  // page
  --archive-author-bg-img: #888;

  body {
    background-color: #222;
    color: #eee;
  }

  .header { border-bottom: 1px solid #333 }

  .header-dark-mode {
    .icon--moon { display: none; }
    .icon--sunny { display: inline-block !important; }
  }

  .u-bgGray { background-color: #2b2b2b }

  .u-textColorNormal {
    color: #bbb;
    fill: #bbb;
  }

  .u-textColorDarker {
    color: #ccc;
    fill: #ccc;
  }

  // Buttons
  .button--line {
    border-color: #2b2b2b;
    background: #2b2b2b;
    color: #fff;
  }

  .witget-subscribe {
    background-color: #222;
    border-color: #444;
    color: #eee;
  }

  // Page Author
  .author-bio { color: #eee; }

  // story
  .title-line::before,
  .title-line::after { border-top-color: #444; }

  .hr-list { border-top-color: rgba(255, 255, 255, 0.07) }

  // search
  .search-message { border-color: #555; }
  .search-close { background-color: #444; }

  // Post
  .post {
    &-inner {
      color: #ccc;

      strong { color: #fff; }
    }
  }

  .post-related { background-color: #1e1e1e; }
  .post-upgrade-cta { background-color: #333; }

  // Page
  .page-hero-bg { display: none; }
  .page-hero-wrap { color: #eee; }

  // page Author
  .author-follow .button {
    background-color: #666;
    color: #eee;
  }

  // Page Archive Author
  .author-card-media .button { border-color: #eee; }

  // Page Contact
  .is-contact .contact-stain { display: none; }

  // Page Newsletter
  .godo-ne {
    background-color: #222;
    border-color: #444;
  }
  .ne-t::before { background-color: #444 }
}
