:root {
  // Composite Color
  // --composite-color: #CC116E;
  // --composite-color-hover: #cc116ed6;

  --composite-color: #00469b;
  --composite-color-hover: #487ec0;

  // Header
  --header-color: #111;
  --header-color-hover: #555;
  --header-menu-color: #111;
  --header-menu-color-hover: #555;
  --header-bg-color: #fff;
  --header-logo-color: #000;

  // Podcast
  --podcast-button-color: #2ecc71;

  // Newsletter
  --newsletter-color: #07a131;

  // Color Palete
  // --gray--100: #f7f8fa;
  // --gray--200: #e8e9ec;
  // --gray--300: #aeaeb3;
  // --gray--400: #999a9e;
  --gray--500: #84858a;
  --gray--600: #707177;
  // --gray--700: #57585d;
  // --gray--800: #4a4b51;
  --gray--900: #2d2e34;

  //
  --text--secondary__Color: var(--gray--600);
  --text--title__Color: #111;
  --content-text__Color: var(--gray--900);

  // global
  --hr-bg: #ddd;
  --figcaption-color: rgba(0, 0, 0, .68);
  --q-color: rgba(0, 0, 0, .44);
  --input-bg-color: #fff;
  --input-color: #303030;
  --input-border-color: #ddd;

  // Search
  --search-color-link: rgba(0, 0, 0, .7);
  --search-bg-link: rgba(0, 0, 0, .05);
  --search-bg-link-hover: #dedede;
  --search-color-message: #738a94;

  // sidebar
  --sidebar-post-border-color: rgba(229, 239, 245, 1);
  --sidebar-post-bg: #f8f8f8;
  --border-bottom-color: rgba(0, 0, 0, 0.0785);

  // Sidenav
  --sidenav-bg: #eee;
  --sidenav-color: #111;
  --sidenav-border-color: #ddd;

  // story
  --story-color: #17181e;
  --story-footer-color: var(--text--secondary__Color);
  --story-content-color: var(--content-text__Color);
  --story-more-link-color: var(--gray--600);
  --story-more-link-border: rgba(28, 29, 33, .15);
  --story-title-color: var(--text--title__Color);
  --fashion-featured-bg: #fff;

  // DropDown
  --drop-bg-color: #eee;
  --drop-color-link: #111;
  --drop-color-link-hover: #555;
  --drop-border-color: #ddd;

  // Post
  --post-title-color: var(--text--title__Color);
  --blockquote-color: #252525;
  --post-excerpt-color: rgba(0, 0, 0, 0.6);
  --post-color-link: var(--composite-color);
  --post-link-border: #e2e1e1;
  --mobile-share-bg: #fff;

  // BookMark
  --bookmark-bg: #fff;
  --bookmark-color: var(--text--title__Color);
  --bookmark-meta-color: rgba(0, 0, 0, 0.84);
  --bookmark-border-color: rgba(0, 0, 0, 0.1);
  --bookmark-color-des: var(--gray--500);

  // Membership
  --member-plan-bg: #fff;
  --member-plan-border: #e6e8eb;
  --member-color: #212529;

  // page
  --archive-author-bg-img: #ddd;
}
