.btn,.nav-mob-copyright a,.pagination .pagination-link,a{
  color:#038d98; }

.btn.btn-primary,.cover,.header.toolbar-shadow,.nav-mob,.post-actions-comment,.post-tags a:hover,.related-posts .no-image .related-posts-list,.scroll_top:hover,.sidebar .title-primary{
  background-color:#038d98 !important; }

.form-control:focus{
  border-color:#038d98 !important;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(3,141,152,.6); }

.btn.btn-download,.btn.btn-download-cloud{
  background-color:#038d98; }
  .btn.btn-download-cloud:hover,.btn.btn-download:hover{
    background-color:#026870; }

.pagination .pagination-link:before{
  border:2px solid #038d98; }

.pagination .pagination-link.loanding:before{
  border-bottom:2px solid #038d98; }

blockquote{
  border-color:#038d98; }
