.btn,.nav-mob-copyright a,.pagination .pagination-link,a{
  color:#9c37cb; }

.btn.btn-primary,.cover,.header.toolbar-shadow,.nav-mob,.post-actions-comment,.post-tags a:hover,.related-posts .no-image .related-posts-list,.scroll_top:hover,.sidebar .title-primary{
  background-color:#9c37cb !important; }

.form-control:focus{
  border-color:#9c37cb !important;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(156,55,203,.6); }

.btn.btn-download,.btn.btn-download-cloud{
  background-color:#9c37cb; }
  .btn.btn-download-cloud:hover,.btn.btn-download:hover{
    background-color:#842dac; }

.pagination .pagination-link:before{
  border:2px solid #9c37cb; }

.pagination .pagination-link.loanding:before{
  border-bottom:2px solid #9c37cb; }

blockquote{
  border-color:#9c37cb; }
