<ul class="u-unstyled u-flex1">
    <li><a href="http://localhost:2368/" class="navigation-link u-fontSize15 u-block">Home</a></li>
    <li><a href="http://localhost:2368/apps/" class="navigation-link u-fontSize15 u-block ">Apps</a></li>
    <li><a href="http://localhost:2368/tag/getting-started/" class="navigation-link u-fontSize15 u-block ">Tag</a></li>

    {{!-- With Menu Dropdown --}}
    <li class="dropdown">
        <a href="http://localhost:2368/serials" class="navigation-link u-fontSize15 u-block dropbtn">Serials <span class="u-fontSize13">▼</span></a>

        {{!-- Sub Menu --}}
        <div class="dropdown-content">
            <a href="https://demo.com">Lucifer</a>
            <a href="https://demo.com">DBS</a>
            <a href="https://demo.com">DBH</a>
        </div>
    </li>

    <li><a href="https://docs.ghost.org" class="navigation-link u-fontSize15 u-block ">Help</a></li>
</ul>
