<div class="post-header u-marginBottom20">
    <h1 class="post-title u-fontSizeLargest u-md-fontSizeLarger">{{title}}</h1>
    {{#if custom_excerpt}}<p class="post-excerpt u-fontSize20 u-marginTop20 text-muted">{{custom_excerpt}}</p>{{/if}}
</div>
