<div class="post-share-mob u-hide-after-lg u-flex u-flexCenter justify-content-center u-fixed u-absolute0">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        class="bg-facebook button u-textColorWhite"
        onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
        <svg class="icon icon--s"><use xlink:href="#icon-facebook"></use></svg> Share
    </a>

    <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
        class="bg-twitter button u-textColorWhite"
        onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
        <svg class="icon icon--s"><use xlink:href="#icon-twitter"></use></svg> Tweet
    </a>

    <a href="whatsapp://send?text={{url absolute="true"}}"
        target="_blank"
        rel="noopener noreferrer"
        class="bg-whatsapp button u-textColorWhite">
        <svg class="icon icon--s"><use xlink:href="#icon-whatsapp"></use></svg> Send
    </a>
</div>