<header class="post-header mb-6">
    {{!-- Category and Datetime partials/components/primary-tag.hbs --}}
    {{> "components/primary-tag"}}

    <h1 class="post-title text-4xl md:text-42 text text-title">{{title}}</h1>
    {{#if custom_excerpt}}<p class="post-excerpt text-xl mt-5 text-gray-500">{{custom_excerpt}}</p>{{/if}}
</header>
