<div id="post-comments" class="post-comments post-comments-show u-hide">
        {{!-- close Comments  --}}
    <div class="post-comments-header u-fontSizeSmaller">
        <span class="js-toggle-comments i-close"></span>
    </div>

    <div class="post-comments-wrap u-padding15">
        <div class="mapache-disqus-loanding u-textAlignCenter u-marginTop30">{{t "Loading..."}}</div>
        {{!-- Disqus Comments --}}
        <div id="disqus_thread" class="mapache-disqus u-hide"></div>
        {{!-- Comments section for facebook --}}
        {{!-- <div class="fb-comments mapache-facebook u-hide" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"></div> --}}
    </div>
</div>

{{!-- Overlay --}}
<div class="post-comments-overlay u-absolute0 js-toggle-comments"></div>

{{#contentFor "scripts"}}
<script>
    (function(d, s, id) {
        if (typeof disqusShortName === 'undefined') return;

        $('.post-comments-show').removeClass('u-hide');

        var disqus_config = function () {
            this.page.url = '{{url absolute="true"}}';
            this.page.identifier = 'ghost-{{comment_id}}';
        };

        /* Comments Count */
        var count = d.createElement(s);
        count.src = 'https://'+disqusShortName+'.disqus.com/count.js';
        count.id = 'dsq-count-scr';
        count.async = true;
        (d.head || d.body).appendChild(count);

        // Toggle Comments
        $('.js-toggle-comments').on('click', function (e) {
            e.preventDefault();
            $('body').toggleClass('has-comments').removeClass('is-showNavMob')

            /* Call Disqus */
            var js, djs = d.getElementsByTagName(s)[0];

            if (d.getElementById(id)) {
                return;
            } else {
                setTimeout(function(){
                    $('.mapache-disqus-loanding').remove();
                    $('.mapache-disqus').removeClass('u-hide');
                }, 2000);
            };

            js = d.createElement(s);
            js.id = id;
            js.src = 'https://'+disqusShortName+'.disqus.com/embed.js';
            js.async = true;
            djs.parentNode.insertBefore(js, djs);
        });
    }(document, 'script', 'disqus-js'));
</script>
{{/contentFor}}
