{{!-- Article related --}}
{{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |post_related|}}

<section class="post-related u-backgroundWhite u-paddingTop30 u-paddingBottom20 u-overflowHidden">

{{!-- Ad --}}
{{> "ad/ad-post-footer"}}

{{#if post_related}}

    <div class="extreme-container story--card story--grid">
        <div class="row">

            {{#foreach post_related}}

            <div class="col s12 m6 l4">
                {{> "story/story-grid"}}
            </div>

            {{/foreach}}

        </div>
    </div>

{{/if}}

</section>
{{/get}}
