{{#if tags}}

<div class="post-tags u-marginTop30 buttonSet">
    {{#foreach tags}}
        <a href="{{url absolute="true"}}" title="{{name}}" class="button button--tag button--line u-textCapitalize">{{name}}</a>
    {{/foreach}}
</div>

{{/if}}
