<div id="post-comments" class="post-comments post-comments-show">
        {{!-- close Comments  --}}
    <div class="post-comments-header u-fontSizeSmaller">
        <span class="js-toggle-comments i-close"></span>
    </div>

    {{!-- Comments --}}
    <div class="post-comments-wrap u-padding15">
        <div id="commento"></div>
    </div>
</div>

{{!-- Overlay --}}
<div class="post-comments-overlay u-absolute0 js-toggle-comments"></div>

{{#contentFor "scripts"}}
<script>
    var toggleComments = document.querySelectorAll('.js-toggle-comments');

    toggleComments.forEach(function (item) {
        item.addEventListener('click', function(e) {
            e.preventDefault();
            document.body.classList.toggle('has-comments');
        });
    });
</script>
<script src="https://cdn.commento.io/js/commento.js" defer></script>
{{/contentFor}}
