{{#post}}
<div class="post-header u-marginBottom20">
    <h1 class="post-title u-fontSize40 u-md-fontSizeLarger">{{title}}</h1>
    {{#if custom_excerpt}}<p class="post-excerpt u-fontSize20 u-paddingTop10">{{custom_excerpt}}</p>{{/if}}
</div>
{{/post}}
