/**
  * 1. body
  * 2. blockquote
  * 3. cite - figcamption - figure
  * 4. hr
  * 5. image
  * 6. ul ol
  * 7. mark and q
  * 8. Input Textarean
  * 9. table
  */

//Default styles
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

// 1. Body
// -----------------------------------------------------------------------------

body {
  @extend %primary-font;
  // font-family: $primary-font;
  // color: $primary-text-color;
  color: #212529;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    outline: 0;
  }
}

// 2. Blockquote
// -----------------------------------------------------------------------------

blockquote {
  position: relative;
  margin: 20px 0 20px;
  padding: 20px 20px 0;
  color: var(--blockquote-color);
  font-size: 24px;
  line-height: 1.44;
  font-weight: 500;
  text-align: center;
  font-style: italic;
  font-family: Georgia, Merriweather, serif;

  &::before {
    z-index: 0;
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(5px) rotate(1deg);
    color: var(--composite-color);
    opacity: .4;
    font-size: 10rem;
    font-family: Georgia, Arial, sans-serif;
    font-style: normal;
    line-height: .4;
    content: "\201c";
  }

  p:first-of-type { margin-top: 0 }
}

@media #{$md-and-down} {
  blockquote { font-size: 1.125rem }
}

// 3. cite - figcamption - figure
// -----------------------------------------------------------------------------

figure { margin: 0 }

figcaption {
  @extend %primary-font;
  // font-family: $primary-font;
  color: var(--figcaption-color);
  display: block;
  font-feature-settings: "liga" on, "lnum" on;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 1.4;
  margin-top: 10px;
  outline: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
}

// 4. hr
// -----------------------------------------------------------------------------

hr:not(.hr-list) {
  margin: 40px auto 10px;
  height: 1px;
  background-color: var(--hr-bg);
  // background-color: #ddd;
  border: 0;
  max-width: 100%;
}

.post-footer-hr {
  // height: 1px;
  margin: 32px 0;
  // border: 0;
  // background-color: #ddd;
}

// 5. Image
// -----------------------------------------------------------------------------

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: auto;

  &:not([src]) {
    visibility: hidden;
  }
}

i {
  // display: inline-block;
  vertical-align: middle;
}

// 6. List ol - ul
// -----------------------------------------------------------------------------

ol, ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

// 7. Mark and q
// -----------------------------------------------------------------------------

mark {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, rgba(215, 253, 211, 1), rgba(215, 253, 211, 1));
  color: rgba(0, 0, 0, .8);
}

q {
  color: var(--q-color);
  display: block;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.48;
  padding-left: 50px;
  padding-top: 15px;
  text-align: left;

  &::before, &::after { display: none; }
}

// 8. Input Textarean
// -----------------------------------------------------------------------------

textarea,
input {
  background: var(--input-bg-color);
  border-radius: 3px;
  // border: 1px solid #e5e5e5;
  // border: 0;
  color: var(--input-color);
  display: block;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0 10px;
  position: relative;
  transition: box-shadow .08s ease-in, color .08s ease-in;
  width: 100%;
  // box-shadow: inset 0 0 0 1px #d7d7d7;
  border: 1px solid var(--input-border-color);
}

/* stylelint-disable-next-line */
textarea {
  min-height: 160px;
  padding: 15px 10px;
}

/* stylelint-disable-next-line */
input {
  height: $input-height-large;
  line-height: $input-height-large;
}

.input--md {
  height: $input-height;
  line-height: $input-height;
}

// 9. table
// -----------------------------------------------------------------------------

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  margin: 20px 0 0;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  -webkit-overflow-scrolling: touch;

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  th {
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

// 10. Links
// -----------------------------------------------------------------------------

.link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.link--underline {
  &:active,
  &:focus,
  &:hover {
    // color: inherit;
    text-decoration: underline;
  }
}

// 11. Main .main
// -----------------------------------------------------------------------------

// .main { margin-bottom: 4em; min-height: 80vh }

.site-wrapper {
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
}

.site-main {
  flex-grow: 1;

  &.pb4 { padding-bottom: 4rem }
}

// .main,
// .footer { transition: transform .5s ease; }

// 13. Social Media Color
// -----------------------------------------------------------------------------

@each $social-name, $color in $social-colors {
  // .c-#{$social-name} { color: $color !important; }
  .bg-#{$social-name} { background-color: $color !important; }
}

.c-facebook { color: #3b5998 }
.c-twitter { color: #55acee }

// 14. Back to Top
// -----------------------------------------------------------------------------

.back-to-top {
  background: rgba(0, 0, 0, .3);
  border-right: 0;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  height: 50px;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate3d(100px, 0, 0);
  transition: all .3s;
  width: 50px;
  z-index: 5;

  &:hover { background: rgba(0, 0, 0, .5); }

  &.to-top { transform: translate3d(0, 0, 0) }

  .icon--arrow-up {
    height: 40px;
    width: 40px;
  }
}

svg {
  height: auto;
  width: 100%;
}

// .svgIcon {
//   display: inline-block;
// }

// .svg-icon {
//   fill: currentColor;
//   display: inline-block;
//   line-height: 0;
//   overflow: hidden;
//   position: relative;
//   vertical-align: middle;

//   svg {
//     height: 100%;
//     width: 100%;
//     background: inherit;
//     fill: inherit;
//     pointer-events: none;
//     transform: translateX(0);
//   }
// }

// 15. Loanding Bar
// -----------------------------------------------------------------------------

.loadingBar {
  background-color: #48e79a;
  display: none;
  height: 2px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  z-index: 800;
}

.is-loading .loadingBar {
  animation: loading-bar 1s ease-in-out infinite;
  animation-delay: .8s;
  display: block;
}

// 16. LazyLoad Image Imate
// -----------------------------------------------------------------------------
// .lazyload,
// .lazyloading {
//   opacity: 0;
//   filter: blur(16px);
//   transform: scale(1.1);
// }

// .lazyloaded {
//   opacity: 1;
//   transition: opacity 300ms;
// }

.blur-up {
  animation: fadeIn 3s ease-out;

  // &.lazyloading,
  // &.lazyload {
  //   filter: blur(5px);
  //   transition: filter 200ms;
  //   // transform: scale(1.1);
  // }

  // &.lazyloaded {
  //   filter: blur(0);
  //   // transform: scale(1);
  // }
}

// .blur-up {
//   &.lazyload { filter: blur(16px) }
//   &.lazyloading { filter: blur(8px); transition: filter 200ms; }
//   &.lazyloaded { filter: none }
// }

// 17. Video Responsive
// -----------------------------------------------------------------------------
.video-responsive {
  display: block;
  height: 0;
  // margin-top: 30px;
  overflow: hidden;
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// 18. notification for members
// -----------------------------------------------------------------------------

.notification {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9000;
  padding: 20px 60px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background: #98c22e;
  transition: all .35s cubic-bezier(.19, 1, .22, 1) .5s;
  transform: translateY(-175%);
  visibility: hidden;

  svg { right: 25px; top: 20px; }
}

.checkout-success .notification-checkout,
.signin-success .notification-signin,
.signup-success .notification-signup,
.subscribe-success .notification-subscribe {
  visibility: visible;
  transform: translateY(0);
}

.notification.closed {
  visibility: hidden;
  transition: all 1.35s cubic-bezier(.19, 1, .22, 1);
  transform: translateY(-175%);
}

// Cursor pointer gallery
.mapache-light-gallery { cursor: zoom-in }
