<div class="sidebar-items u-marginBottom30 u-flexColumn">
    <h3 class="sidebar-title u-textColorDarker title-line">{{widgetTitle}}</h3>

    {{#foreach widgetPosts}}
    <div class="sidebar-post u-relative">
        <a href="{{url absolute="true"}}" class="u-flex">
            <span class="u-flex0 sidebar-post-border u-flexCenter u-fontSize36 u-fontWeightSemibold">{{@number}}</span>
            <h3 class="u-flex1 u-fontSize15 u-fontWeightMedium u-lineHeightTight u-flexCenter">{{title}}</h3>
        </a>
    </div>
    {{/foreach}}

</div>
