.topic {
  &-img {
    transition: transform .7s;
    transform: translateZ(0)
  }

  // &-gradient {
  //   background: linear-gradient(to right, #ff416c, #ff4b2b);
  // }

  &-card {
    height: 320px;
    padding: 30px;
    letter-spacing: 0.02em;
    background: linear-gradient(60deg, #562db5, #19afc9);

    &:hover {
      .topic-img { transform: scale(1.03); }
      .topic-bg { opacity: .5; }
    }
  }
}

@media #{$md-and-down} {
  .topic-card { height: 200px }
}
