// .is-newsletter {
//   color: rgba(0, 42, 115, .02);
// }

// Newsletter Page
// -----------------------------------------------------------------------------

.ne {
  // color: rgb(41, 67, 75);

  &-t::before {
    background-color: #e0f6ec;
    bottom: 5%;
    content: "";
    display: block;
    height: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 105%;
    z-index: -1;
  }

  &-body ul li { font-size: 1rem }
}

// Newsletter Form
// -----------------------------------------------------------------------------

.godo-ne {
  @extend %primary-font;
  // font-family: $primary-font;
  background: #fff;
  border-radius: 4px;
  border: solid 1px #e6e8eb;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .03), inset 0 4px 0 0 var(--newsletter-color);
  margin: 40px auto 30px;
  max-width: 600px;
  min-width: auto !important;
  padding: 30px 50px 40px 50px;
  position: relative;
  width: 100%;

  &-form {
    width: 100%;

    label {
      color: var(--newsletter-color);
      display: block;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 0.1em;
      margin: 0 0 15px 0;
      text-transform: uppercase;
    }

    small {
      display: block;
      font-size: 12px;
      margin: 15px 0 0;
      opacity: .8;
    }

    &-group {
      @extend %flex-align-items-center;
      @extend %justify-content-center;
    }
  }

  &-input {
    @extend %primary-font;

    margin-right: 10px;

    &.error { border-color: #e16767 }
  }

  // &-button {
  //   @extend .button;
  //   @extend .button--dark;
  //   @extend .button--large;
  // }

  &-success {
    text-align: center;
    h3 { font-size: 1.4rem; font-weight: 600; margin-bottom: 20px; }
    p { font-size: 15px; font-style: italic }
  }
}

// Newsletter Quotes
// -----------------------------------------------------------------------------

.godo-n-q {
  @extend %flex;
  // display: flex;
  margin: 2vw 0;
  position: relative;
  z-index: 2;

  blockquote {
    @extend %secundary-font;
    // font-family: $secundary-font;
    border: 0;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5em;
    margin: 20px 0 0 0;
    opacity: 0.8;
    padding: 0;
    color: inherit;

    &::before { display: none }
  }

  img {
    border-radius: 100%;
    border: #fff 5px solid;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .18);
    display: block;
    height: 105px;
    width: 105px;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px 0 0 0;
    color: currentColor;
  }

  &-i {
    @extend %primary-font;
    @extend %flex-align-items-center;
    @extend %direction-column;

    flex: 1 1 300px;
    margin: 0 20px 40px;
    text-align: center;
  }

  &-d {
    color: var(--newsletter-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: 6px 0 0 0;
    text-transform: uppercase;
  }
}

//  media Query
@media #{$md-and-down} {
  .godo-ne-input { margin: 0 0 10px }
  .godo-ne-form-group { flex-direction: column }
  .godo-ne-button { width: 100%; margin-bottom: 5px }
}
