// Page Archive Authors
// -----------------------------------------------------------------------------

.author-card {
  padding: 0 10px;

  &-avatar {
    height: 280px;

    img {
      // filter: brightness(1) contrast(.9) grayscale(1);
      box-shadow: 8px 8px 0 0 var(--archive-author-bg-img);
      transition: all .2s ease;

      &:hover { box-shadow: 0 0 var(--archive-author-bg-img) }
    }
  }

  &-website { color: #999 }
  &-website:hover { opacity: .8; }
  &-name:hover { opacity: .6; }

  &-bio {
    padding-top: 4px;
    margin-bottom: 12px;
    line-height: 1.5;
  }

  .button {
    flex: 1 0 0;
    height: 32px;
    line-height: 30px;
  }

  &-media {
    .button:last-child {
      margin-left: -.05rem;
    }

    .button:not(:first-child):not(:last-child) {
      margin-left: -.05rem;
    }
  }
}
