// Archive Contact Page
// -----------------------------------------------------------------------------

.contact {
  &-form {
    width: 100%;
    max-width: 510px;
    text-align: center;
  }

  // background 1
  &-stain {
    width: 75%;
    height: auto;
    top: -40px;
    left: 15%;
    z-index: 1;
  }

  // background 2
  &-svg {
    z-index: 3;
    top: 0;
    left: 11%;
    width: 80%;
    pointer-events: none;
  }

  &-maps::before {
    height: 50px;
    width: 2px;
    background: #85aeaa;
    content: '';
    display: inline-block;
    margin-bottom: 90px;
  }
}

// pae (Phone - Adress - email)
// -----------------------------------------------------------------------------

.pae {
  margin-bottom: 60px;
  margin-top: 100px;

  &-icon svg {
    width: 64px;
    height: 64px;
  }

  &-title {
    font-size: 1.2rem;
    margin: 20px 0;
    letter-spacing: 0.05em;
    font-weight: 500
  }
}
