// checkout
// --------------------------------------------------

.is-membership {
  background: rgba(0, 42, 115, .02);
  // .main { margin-bottom: 0; }
}

.checkout {
  &-wrap {
    margin: 5vw auto 10vw;
    text-align: center;
  }

  &-title { @extend %secundary-font; }

  &-des {
    // color: #121519;
    opacity: .6;
    margin: 0 auto 60px;
    max-width: 500px;
  }

  &-plan {
    padding: 30px;
    border-radius: 4px;
    background-color: var(--member-plan-bg);
    border: solid 1px var(--member-plan-border);
    text-align: left;
    min-width: 290px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .03), inset 0 4px 0 0 var(--composite-color);
  }
}

.checkout-plan-header {
  position: relative;
  padding: 0 0 50px;
  color: #8392a5;
  text-align: center;
}

.checkout-plan-header h3 {
  margin: 0 0 25px 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--member-color);
  text-transform: uppercase;
}

.checkout-plan-header span {
  font-size: 2.2rem;
  font-weight: 300;
}

.checkout-plan-header strong {
  color: var(--member-color);
  font-size: 4rem;
  font-weight: 500;
}

.checkout-plan-header::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 25px;
  left: 30%;
  right: 30%;
  background: var(--member-plan-border);
  // background: rgba(39, 44, 49, .08);
  border-radius: 2px;
}

.checkout-plan-content { justify-content: space-between }

.checkout-plan-content li {
  position: relative;
  margin: 0;
  padding: 0 0 15px 20px;
  line-height: 1.4em;
}

.checkout-plan-content li::before {
  display: block;
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--composite-color);
  content: "✓";
}
