// Podcast page
// -----------------------------------------------------------------------------

.spc {
  &-header {
    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
      display: block;
      z-index: 2;
    }

    &::before {
      height: 200px;
      top: 0;
      background-image: linear-gradient(to top, transparent, $podcast-card-bg-dark);
    }

    &::after {
      height: 300px;
      bottom: 0;
      background-image: linear-gradient(to bottom, transparent, $podcast-color-bg-dark);
    }
  }

  // Podcast Content
  &-h {
    &-inner {
      padding: calc(9vw + 55px) 4vw 120px;
      font-size: 1.25rem;
    }

    &-t { font-size: 4rem }

    // Excerpt
    &-e {
      color: #fecd35;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 5px;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }

  // Description
  &-des {
    margin: 40px auto 30px;
    line-height: 1.4;
    font-family: Georgia, 'Merriweather', serif;
    opacity: .8;

    em {
      font-style: italic;
      color: #fecd35;
    }
  }

  // buttons RSS
  &-buttons .button {
    background: hsla(0, 0%, 100%, .9);
    border-radius: 35px;
    transition: background .5s ease;

    &:hover {
      background: #fff;
      color: #000;
    }

    img {
      display: inline-block;
      height: 20px;
      margin: 0 8px 0 0;
      width: auto;
    }
  }
}

// Podcast Card (Story)
// -----------------------------------------------------------------------------
.spc-c {
  color: #fff;
  background-color: $podcast-card-bg-dark;

  &-img {
    min-height: 200px;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      top: auto;
      width: 100%;
      height: 70%;
      background-image: linear-gradient(to bottom, transparent, $podcast-card-bg-dark);
    }
  }

  &-body {
    padding: 15px 20px;
  }
}

// Podcast Button Play
// -----------------------------------------------------------------------------
.listen-btn {
  border: 2px solid var(--podcast-button-color);
  color: var(--podcast-button-color);
  letter-spacing: 3px;
  transition: all .1s linear;

  &:hover {
    color: #fff;
    background-color: var(--podcast-button-color);
  }
}

// Page Podcast
// -----------------------------------------------------------------------------
.is-podcast {
  background-color: $podcast-color-bg-dark !important;

  .flow-meta-cat, .flow-meta, .header-left > li > a, .nav ul li a { color: #fff }
  // .header-line { border-color: rgba(255, 255, 255, 0.1) }
  .menu-burger span { background-color: #fff }
  .footer, .header { background-color: $podcast-color-bg-dark }
}

// Media query
// -----------------------------------------------------------------------------
@media #{$lg-and-up} {
  .spc-c {
    display: flex;

    &-img {
      width: 285px;
      flex: 0 0 auto;

      &::after {
        top: 0;
        right: 0;
        width: 140px;
        height: 100%;
        background-image: linear-gradient(to right, transparent, $podcast-card-bg-dark);
      }
    }
  }

  .spc-h-inner { font-size: 1.875rem; }
}
