// Podcast page
// -----------------------------------------------------------------------------

.spc {
  &-header {
    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
      display: block;
      z-index: 2;
    }

    &::before {
      height: 200px;
      top: 0;
      background-image: linear-gradient(to top, transparent, $podcast-card-bg-dark);
    }

    &::after {
      height: 300px;
      bottom: 0;
      background-image: linear-gradient(to bottom, transparent, $podcast-color-bg-dark);
    }
  }

  // Podcast Content
  &-h {
    &-inner {
      padding: calc(9vw + 55px) 4vw 120px;
      font-size: 1.25rem;
    }

    &-t { font-size: 4rem }

    // Excerpt
    &-e {
      color: #fecd35;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 5px;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }

  // Description
  &-des {
    margin: 40px auto 30px;
    line-height: 1.4;
    font-family: Georgia, 'Merriweather', serif;
    opacity: .8;

    em {
      font-style: italic;
      color: #fecd35;
    }
  }

  // buttons RSS
  &-buttons .button {
    background: hsla(0, 0%, 100%, .9);
    border-radius: 35px;
    transition: background .5s ease;

    &:hover {
      background: #fff;
      color: #000;
    }

    img {
      display: inline-block;
      height: 20px;
      margin: 0 8px 0 0;
      width: auto;
    }
  }
}

// Media query
// -----------------------------------------------------------------------------
@media #{$lg-and-up} {
  .spc-h-inner { font-size: 1.875rem; }
}
