// Post Content
// -----------------------------------------------------------------------------

.post {
  margin-bottom: 4.5rem;

  // title
  &-title {
    line-height: 1.2;
    max-width: 1000px;
  }

  &-excerpt {
    @extend %secundary-font;

    // color: rgba(0, 0, 0, 0.6);
    // color: var(--post-excerpt-color);
    line-height: 1.6;
  }

  // author
  &-author-social {
    vertical-align: middle;
    margin-left: 2px;
    padding: 0 3px;
  }

  &-img { width: 100% }
}

// Author - Avatar
// -----------------------------------------------------------------------------

.avatar-image {
  display: inline-block;
  vertical-align: middle;

  &--smaller {
    width: 50px;
    height: 50px;
  }
}

// Post Content Inner
// -----------------------------------------------------------------------------

.post-inner {
  @extend %secundary-font;
  @extend %flex-align-items-center;
  @extend %direction-column;

  font-size: 18px;
  line-height: 1.7;

  & > *:not(a) {
    margin: 1rem 0 1rem 0;
    min-width: 100%;

    &:first-child {
      margin-top: 2rem;
    }
  }

  p { margin: 1rem 0 1rem 0; }

  a:not(.kg-bookmark-container):not(.button) {
    // box-shadow: inset 0 -2px 0 currentColor;
    color: var(--post-color-link);
    text-decoration: none;
    word-break: break-word;
    // transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
    transition: color, border-color .2s linear;
    border-bottom: 1px solid var(--post-link-border);

    &:hover { border-bottom-color: var(--post-color-link) }
  }

  q,
  blockquote {
    margin: 2.5rem 0 2.5rem 0;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    color: var(--post-title-color);
    line-height: 1.2;
    margin-top: 3rem;
    margin-bottom: 1rem;

    & + p { margin-top: 0 }
  }

  ul,
  ol {
    counter-reset: post;

    li {
      margin-bottom: 10px;
      margin-left: 30px;

      &::before {
        box-sizing: border-box;
        display: inline-block;
        margin-left: -22px;
        position: absolute;
        text-align: right;
      }
    }
  }

  ul > li::before {
    content: "\2022";
    font-family: Georgia, Arial, system-ui;
    transform: scale(1.1);
  }

  ol > li::before {
    content: counter(post) ".";
    counter-increment: post;
    padding-right: 12px;
  }
  // warning success and Note
  // -----------------------------------------------------------------------------

  .warning {
    background: #fbe9e7;
    color: #d50000;
  }

  .note {
    background: #e1f5fe;
    color: #0288d1;
  }

  .success {
    background: #e0f2f1;
    color: #00897b;
  }

  .warning, .note, .success {
    padding: 20px;
    border-radius: 5px;

    // stylelint-disable-next-line
    a {
      color: inherit !important;
      border-color: inherit !important;
    }
  }
}

// Post Upgrade
// -----------------------------------------------------------------------------

.post-upgrade-cta {
  background-color: #F6F1E4;
  // box-shadow: rgba(0, 0, 0, 0.15) 0 2px 10px;
  padding: 48px 56px;
  text-align: center;
  max-width: 600px;
  min-width: auto !important;
  margin: 4rem auto !important;

  .button { width: 270px }
}

.post-upgrade-title { margin: 0 }

// Post Related
// -----------------------------------------------------------------------------

.post-related {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f8f8f8;
}

// Light Gallery
// -----------------------------------------------------------------------------

.lg-backdrop { background-color: rgba(0, 0, 0, .8) !important }
.lg-sub-html, .lg-toolbar { background-color: rgba(0, 0, 0, .1) !important }

// Breakpoints Medium devices
// -----------------------------------------------------------------------------

@media #{$md-and-down} {
  .post-inner {
    font-size: 17px;

    q {
      font-size: 22px;
      line-height: 1.4;
    }

    q,
    blockquote {
      margin: 1.75rem 0 1.75rem 0;
      padding-left: 0;
    }

    iframe { width: 100% !important }
  }
}

@media #{$lg-and-down} {
  .post-header,
  .post-author,
  .post-body {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto
  }
}

@media #{$lg-and-up} {
  body.is-article .post-body-wrap { margin-left: 70px; }

  body.is-video,
  body.is-image {
    .post-author { margin-left: 70px }
  }
}
