.topic {
  // .story-img {
  //   transition: transform .7s;
  //   transform: translateZ(0)
  // }

  &-gradient {
    transition: .4s;
    background-color: #000;
    opacity: .3;
  }

  &-items {
    height: 320px;
    padding: 30px;

    &:hover {
      // .story-img { transform: scale(1.03); }
      .topic-gradient { opacity: .5; }
    }
  }

  &-c {
    background-color: var(--primary-color);
    color: #fff;
  }
}
