[godo-state~=menu_open] {
  height: 100%;
  overflow: hidden;

  @media #{$medium-and-up}{
    height: auto;
    overflow: auto;
  }
}

// Fixed Navbar

.navbar-fixed {
  position: relative;
  height: $navbar-height;
  z-index: 998;
}

// nav page

.godo-nav{
  background: $primary-color;
  color: #fff;
  height: $navbar-height;
  padding: 10px 16px;
  position: fixed;
  width: 100%;
  @extend %primary-box-shadow;


  .nav-open,
  .nav-search-open,
  .nav-social{
    opacity: .7;

    &:hover,
    &.active{
      background-color: rgba(204,204,204,.15);
      box-shadow: none;
      opacity: 1;
    }
  }

  .btn i{
    font-size: 1.5em;
  }

  // nav-search-open
  .nav-search-open{
    margin-right: -8px;
  }
  .nav-open{
    margin-left: -8px;
  }

  // Logo Page

  .logo{
    opacity: .7;
    margin-left: 5px;
    &:hover{
      opacity: 1;
    }
    span{
      color: #fff;
      font-size: $navbar-brand-font-size;
      font-weight: bold;
      line-height: 1.3;
    }
    img{max-height:32px;}
  }

}

// Godo Menu Navigation slide

.godo-menu{
  background: #fff;
  height: 600px;
  left: -16px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: $navbar-height - 10px;
  visibility: hidden;
  width: 300px;
  z-index: 1;
  @extend %primary-box-shadow;
  @include transition-duration(.3s);

  ul{
    height: 100%;
    overflow-y: auto;
    padding: 15px 0;
    position: fixed;
    width: 310px;

    a{
      color: $navbar-font-color;
      text-transform: capitalize;
      display: block;
      font: 500 16px/25px Roboto,sans-serif;
      padding: 8px 20px;
      overflow: hidden;

      i{
        color: #727272;
        margin-right: 10px;
      }

      &:hover,
      &.active {
        background-color: rgba(0,0,0,.1);
        color: $primary-color;
        i{
          color: $primary-color;
        }
      }
    }

  }
}

// nav social Panel

.nav-social{
  &:hover .nav-socialPanel{
    filter: none;
    pointer-events: auto;
    opacity: 1;
    -ms-filter: none;
  }
  span{
    margin-right: 10px;
  }

  .nav-socialPanel{
    background-color: #fff;
    opacity: 0;
    padding: 16px 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: ($navbar-height - 10);
    width: 340px;
    @include transition-duration(.3s);
    @extend %primary-box-shadow;

    a{
      color: $navbar-font-color;
      float: left;
      padding: 10px 16px;
      text-transform: uppercase;
      text-align: left;
      width: 50%;
      &:hover{
        background: rgba(0,0,0,0.05);
      }
    }
  }
}


// Search menu Navigation

.godo-search{
  display: none;
  float: left;
  max-width: 872px;
  position: relative;
  width: calc(100% - 40px);
  @include transition(background .2s);

  i{
    display: none;
    font-size: 1.5em;
    left: 20px;
    position: absolute;
    top: 5px;
  }

  .godo-search-field{
    background-color: #fff;
    border-radius: 2px;
    border: 0;
    color: $navbar-font-color;
    height: 36px;
    margin: 0;
    outline: 0;
    padding: 8px;
    width: 100%;
    @include transition(color .2s);
    @include box-sizing(border-box);
    &:focus{
      border: 0;
    }
  }

  .godo-search-result{
    background: #fff;
    left: -16px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    position: absolute;
    right: -66px;
    top: ($navbar-height - 10);
    @extend %primary-box-shadow;

    a{
      color: $navbar-font-color;
      display: block;
      padding: 5px 16px;
      &:hover{
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}



// mediaquery navbar

@media #{$medium-and-up} {
  .nav-open,
  .logo{
    display: block !important;
  }
  .nav-search-open {
    display: none !important;
  }

  // godo Menu top

  .godo-menu{
    left: 0;
    right: auto;
    height: auto;
    ul{
      height: auto;
      position: relative;
    }
  }

  // Search menu

  .godo-search{
    display: inline-block;
    width: calc(100% - 256px);
    margin-left: 24px;

    &.active{
      @include placeholders($navbar-font-color);
      i{
        color: #757575;
      }
    }

    .godo-search-field{
      color: #fff;
      background-color: rgba(255, 255, 255, 0.25);
      padding-left: 60px;
      &:hover{
        background-color: rgba(255, 255, 255, 0.40);
      }
      &:focus{
        color: $navbar-font-color;
        border-radius: 2px;
        background: #fff;
      }
    }

    .godo-search-result{
      left: 0;
      right: 0;
    }

    @include placeholders(#fff);
 }

}
