.post{
  padding:  0;
  @extend .card;

  img{
    display: block;
  }

  h1{
    color: #757575;
  }
  h2{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 3px;
  }

}

.post-title{
  margin-top: 0;
}


// post content
.post-main{
  padding:  0 2em 2em 2em;
  @extend .clear;

  ul{
    padding-left: 40px;
    margin-bottom: 1em;
    li{
      list-style: disc outside;
    }
  }
  li,li p{
    margin: 8px 0;
    padding: 0;
  }


}


// author
.post-author{
  background: rgba(176,190,197,.16);
  margin-bottom: 20px;
  border-bottom: 1px solid #ECEFF1;
  padding: 13px 2em;
  overflow: auto;
  position: relative;
  @extend .clear;

  .post-author-avatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 10px;
    display: block;
    overflow: hidden;
  }

  .post-author-name{
    color: #212121;
    letter-spacing: -.01em;
  }
  .post-author-date{
    font-style: italic;
    font-size: 14px;
    color: #78909C;
    line-height: 1;
  }

}

// comments
.comments{
  margin-top: 1.5em;
  overflow: hidden;
  @extend .card;
}

// follow
.follow{
  background: $color-bg-page;
  height: 50px;
  span{
    float: left;
  }
  .texto{
    line-height: 50px;
    margin: 0 10px;
    @media #{$medium-and-up}{
      margin: 0 45px;
    }
  }
  .fb{
    margin: 15px 11px 0 0;
  }
  .tw{
    height: 20px;
    margin-top: 15px;
    margin-right: 10px;
  }
  .yt{
    margin-top: 13px;
  }
}


// Media query
@media #{$small-and-up}{

  .post-title{
    font-weight: 500;
  }

}
