.btn {
  background: $color-buttons;
  border-radius: 2px;
  border: 0 !important;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 500 14px/20px Roboto,sans-serif;
  height: 36px;
  letter-spacing: .5px;
  line-height: 36px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  @include transition(all .3s ease-out);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  i{
    line-height: inherit;
  }

  &:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    opacity: .87;
    border: none !important;
  }

  &.download{background: $color-buttons-download !important;}
  &.link{background: $color-buttons-link !important;}

  &.download,
  &.link{
    padding-left: 20px;
    padding-right: 20px;
    i{
      margin-right: 5px;
    }
  }

  &.btn-circle{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 0;
    line-height: 55px
  }

  &.disabled{
    background-color: rgba(0,0,0,0.12);
    color: rgba(0,0,0,0.26);
    cursor: default;
    box-shadow: none;
    cursor: not-allowed;
  }

  &.btn-flat{
    box-shadow: none;
    background: transparent;
  }
}
