// Header post
.cover{
	background: $primary-color;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	color: #fff;
	letter-spacing: .2px;
	min-height: 550px;
	position: relative;
	text-shadow: 0 0 10px rgba(0,0,0,.33);
	z-index: 2;

	&-wrap{
		margin: 0 auto;
		max-width: 700px;
		padding: 16px;
		position: relative;
		text-align: center;
		z-index: 99;
	}

	&-title{
		font-size: 3rem;
		margin: 0 0 30px 0;
		line-height: 1.2;
	}



	//  cover mouse scroll
	.mouse{
		width: 25px;
		position: absolute;
		height: 36px;
		border-radius: 15px;
		border: 2px solid #888;
		border: 2px solid rgba(255,255,255,0.27);
		bottom: 40px;
		right: 40px;
		margin-left: -12px;
		cursor: pointer;
		transition: border-color 0.2s ease-in;
		.scroll {
			display: block;
			margin: 6px auto;
			width: 3px;
			height: 6px;
			border-radius: 4px;
			background: rgba(255, 255, 255, 0.68);
			animation-duration: 2s;
			animation-name: scroll;
			animation-iteration-count: infinite;
		}
	}

	// cover background
	&-background{
		position: absolute;
		overflow: hidden;
		background-size: cover;
		background-position: center;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&:before{
			display: block;
			content: ' ';
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.7)));
		}
	}

}


.author{
	a{color: #FFF!important;}

	&-header{
		margin-top: 10%;
	}
	&-name-wrap{
		display: inline-block;
	}
	&-title{
		display: block;
		text-transform: uppercase;
	}
	&-name{
		margin: 5px 0;
		font-size: 1.75rem;
	}
	&-bio{
		margin: 1.5rem 0;
		line-height: 1.8;
		font-size: 18px;
	}
	&-avatar{
		display: inline-block;
		border-radius: 90px;
		margin-right: 10px;
		width: 80px;
		height: 80px;
		background-size: cover;
		background-position: center;
		vertical-align: bottom;
	}

	// Author meta (location - website - post total)
	&-meta{
		margin-bottom: 20px;
		span{
			display: inline-block;
			font-size: 17px;
			font-style: italic;
			margin: 0 2rem 1rem 0;
			opacity: 0.8;
			word-wrap: break-word;
		}
	}

	.author-link:hover{
		opacity: 1;
	}

	//  author Follow
	&-follow{
		a{
			border-radius: 3px;
			box-shadow: inset 0 0 0 2px rgba(255,255,255,.5);
			cursor: pointer;
			display: inline-block;
			height: 40px;
			letter-spacing: 1px;
			line-height: 40px;
			margin: 0 10px;
			padding: 0 16px;
			text-shadow: none;
			text-transform: uppercase;
			&:hover{
				box-shadow: inset 0 0 0 2px #fff;
			}
		}

	}
}


@media #{$md-and-up}{
	.cover{
		&-description{
			font-size: $font-size-lg;
		}
	}

}


@media #{$md-and-down} {
	.cover{
		padding-top: $header-height;
		padding-bottom: 20px;
	}

	.author-avatar{
		display: block;
		margin: 0 auto 10px auto;
	}
}
