.footer{
	background: $footer-bg-color;
	text-align: center;
	line-height : 1;
	color: $footer-color;

	a{
		color: $footer-color-link;
	}

	&-wrap{
		overflow: auto;
		padding: 14px 24px;
		margin: 0 auto;
    	max-width: 1400px;
	}

	.heart{
		color: #ff5b5b;
		animation: heartify .5s infinite alternate;
	}

	.copy span{display: inline;vertical-align:middle}
	.copy, .by{
		margin-top: .5rem;
		margin-bottom: .5rem;
	}

}

@media #{$md-and-up}{
	.footer{
		.copy{
			text-align: left;
		}
		.by{
			text-align: right;
		}
	}
}

@keyframes heartify{
	0% {
		transform: scale(.8);
	}
}
