.footer{
	text-align: center;
	line-height : 1;
	background: $footer-bg-color;
	color: $footer-color;
	padding: 1.6rem 0;
	font-size: 15px;

	a{
		color: $footer-color-link;
	}

	&-wrap{
		margin: 0 auto;
		max-width: 1400px;
	}

	.heart{
		color: red;
		animation: heartify .5s infinite alternate;
	}

	&-copy,
	&-design-author{
		display: inline-block;
		vertical-align: middle;
		padding: .5rem 0;
	}

}




@keyframes heartify{
	0% {
		transform: scale(.8);
	}
}
