html {
	box-sizing: border-box;
	// Sets a specific default `font-size` for user with `rem` type scales.
	font-size: $font-size-root;
	// Changes the default tap highlight to be completely transparent in iOS.
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}



// Page state no scroll
[mapache-state~=no-scroll] {
	height: 100%;
	overflow: hidden;
}

a{
	color: $link-color;
	outline: 0;
	text-decoration: none;
	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
	&:focus {
		text-decoration: none;
		// background-color: transparent;
	}
	&.external{
		&:after{
			@extend %font-icons;
			content: $i-open_in_new;
			margin-left: 5px;
		}
	}
}




body{
	// Make the `body` use the `font-size-root`
	color: $primary-text-color;
	font-family: $primary-font;
	font-size: $font-size-base;
	line-height: $line-height;
}


figure{
	margin: 0;
}

img{
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	width: auto;
	&:not([src]) {
		visibility: hidden;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}


i{
	display: inline-block;
	vertical-align: middle;
}


hr {
	background: #F1F2F1;
	background: linear-gradient(to right,#F1F2F1 0,#b5b5b5 50%,#F1F2F1 100%);
	border: none;
	height: 1px;
	margin: 80px auto;
	max-width: 90%;
	position: relative;
	&:before{
		@extend %font-icons;
		background: #fff;
		color: rgba(73,55,65,.75);
		content: $i-code;
		display: block;
		font-size: 35px;
		left: 50%;
		padding: 0 25px;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	// margin: 1.8rem 0;
	// border: 0;
	// border-top: 1px solid $divider-color;
	// height: 0;
}


blockquote {
	border-left: 3px solid $primary-color;
	padding: 0.75rem 1.5rem;
	background: #fbfbfc;
	color: #757575;
	font-size: $blockquote-font-size;
	line-height: 1.7;
	margin: 0 0 1.25rem;
	quotes: none;
}

ol,ul,blockquote{
	margin-left: 2rem;
}

strong{
	font-weight: 500;
}


small, .small {
	font-size: 85%;
}

ol{
	padding-left: 40px;
	list-style: decimal outside;
}


/* Code Syntax
========================================================================== */
kbd,samp,code{
	font-family: $code-font !important;
	font-size: $font-size-code;
	color: $code-color;
	background: $code-bg-color;
	border-radius: 4px;
	padding: 4px 6px;
	white-space: pre-wrap;
}

code[class*=language-],
pre[class*=language-]{
	color: $pre-code-color;
	line-height: 1.5;

	.token.comment{ opacity: .8; }
	&.line-numbers{
		padding-left: 58px;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background: #F0EDEE;
			width: 40px;
			height: 100%;
		}
	}
	.line-numbers-rows {
		border-right: none;
		top: -3px;
		left: -58px;
		&>span:before{
			padding-right: 0;
			text-align: center;
			opacity: .8;
		}
	}

}


pre{
	background-color: $code-bg-color!important;
	padding: 1rem;
	overflow: hidden;
	border-radius: 4px;
	word-wrap: normal;
	margin: 2.5rem 0!important;
	font-family: $code-font !important;
	font-size: $font-size-code;

	code{
		color: $pre-code-color;
		text-shadow: 0 1px #fff;
		padding: 0;
		background: transparent;
	}
}


/* .warning & .note & .success
========================================================================== */
.warning{
	background: #fbe9e7;
	color: #d50000;
	&:before{content: $i-warning;}
}

.note{
	background: #e1f5fe;
	color: #0288d1;
	&:before{content: $i-star;}
}

.success{
	background: #e0f2f1;
	color: #00897b;
	&:before{content: $i-check_circle;color: #00bfa5;}
}

.warning, .note, .success{
	display: block;
	margin: 1rem 0;
	font-size: 1rem;
	padding: 12px 24px 12px 60px;
	line-height: 1.5;
	a{
		text-decoration: underline;
		color: inherit;
	}
	&:before{
		margin-left: -36px;
		float: left;
		font-size: 24px;
		@extend %font-icons;
	}
}


/* Vertical Aling use Flexbox
========================================================================== */
.vertiacal-aling{
	display: flex;
	flex-direction: column;
	&-wrap{
		flex-grow: 1;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-content{
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}
}

/* Social icon color and background
========================================================================== */
@each $social-name, $color in $social-colors {
	.c-#{$social-name}{
		color: $color;
	}
	.bg-#{$social-name}{
		background-color: $color !important;
	}
}


//  Clear both
.clear{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


/* pagination
========================================================================== */
.pagination{
	margin: 3.75rem auto 2.5rem;
	position: relative;
	.pagination-link{
		align-items: center;
		align-content: center;
		color: $primary-color;
		display: flex;
		height: 120px;
		justify-content: center;
		margin: 0 auto;
		position: relative;
		transition: opacity 320ms ease;
		width: 120px;
		&.loanding{
			color: #999;
			&:before{
				border: 2px solid #ccc;
				border-bottom: 2px solid $primary-color;
				animation-name: spin;
				animation-duration: 700ms;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}
		}
		&:before{
			border-radius: 50%;
			border: 2px solid $primary-color;
			content: '';
			left: 0;
			position: absolute;
			top: 0;
			height: 120px;
			width: 120px;
		}

	}
}


// .pagination nav
.pagination-nav{
	padding: 2.5rem 0 3rem;
	text-align: center;
	.page-number{
		display: none;
		padding-top: 5px;
		@media #{$md-and-up}{display: inline-block;}
	}
	.newer-posts{
		float: left;
	}
	.older-posts{
		float: right
	}
}






.mapache{
	overflow: hidden;
}


// overlay open menu
.overlay{
	background-color: rgba(50,50,50,0.5);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 59;
	transition-duration: .3s
}



/* sidebar
========================================================================== */
.sidebar{
	position: relative;
	line-height: 1.6;


	h1,h2,h3,h4,h5,h6{margin-top: 0;}

	.widget{
		margin-bottom: 2.5rem;
		position: relative;

		&-title{
			padding-bottom: 10px;
			margin-bottom: 1rem;
			border-bottom: solid 1px $accent-color;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: $font-weight;
		}

		&-post{
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: solid 1px $accent-color;
			display: flex;
			flex-direction: row;

			&-image{
				width: 130px;
				padding-right: 15px;
			}
			.image-link{
				background-size: cover;
				background-position: center;
				width: 115px;
				height: 76px;
				display: block;
			}

			&-meta{
				width: calc(100% - 130px);
				.title{
					font-size: $font-size-sm;
					margin: 0;
					line-height: 1.25;
					font-weight: $font-weight;
					&:hover{
						color: $secondary-text-color;
					}
				}

			}
		}
	}

	.title-primary{
		background-color: $primary-color;
		color: #FFFFFF;
		padding: 10px 16px;
		font-size: 18px;
	}

	// Fixed
	.fixed.active{
		position: fixed;
		top: $header-height + 28;
		width: 300px;
	}

}


// svg all icons
.svg-icon{
	margin: auto;
	background-repeat: no-repeat no-repeat;
	display: block;
	fill: currentcolor;
}

/* Video Responsive
========================================================================== */
.video-responsive{
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	margin-bottom: 1.5rem;
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}


/* Video full for tag video
========================================================================== */
#video-format{
	.video-content{
		display: flex;
		padding-bottom: 1rem;
		span{
			display: inline-block;
			vertical-align: middle;
			margin-right: .8rem;
		}
	}
}


/* Page error 404
========================================================================== */
.errorpage{
	min-height: 85vh;
	&-title{
		font-size: 5rem;
		margin-top: 0;
	}
}




/* Post Twitter facebook card embed Css Center
========================================================================== */
iframe[src*="facebook.com"],
.fb-post,
.twitter-tweet{
	display: block !important;
	margin: 0 auto 1.5rem auto !important;
	text-align: center;
}


.mapache-ad-footer-post{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-top: solid 1px #EEE;
	border-bottom: solid 1px #EEE;
}
