/* Header Page
========================================================================== */
.header{
	background: $primary-color;
	color: $header-color;
	height: $header-height;
	left: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;

	&-topbar-left{ flex: 0 0 auto; height: $header-height; }
	&-topbar-right{	flex: 1 0 auto; height: $header-height;	}


	// Logo
	&-logo{
		z-index: 998;

		span{
			font-size: $font-size-lg;
			font-weight: 500;
		}
		img{
			max-height: 35px;
			position: relative;
		}
	}

	.nav-mob-toggle,
	.search-mob-toggle{
		color: $header-color;
		padding: 0;
		z-index: 998;
	}

	// btn mobile menu open and close
	.nav-mob-toggle{
		margin-right: - ($grid-gutter-width / 2);
		position: relative;
		transition: transform .4s;
		margin: 0 !important;

		span {
		   background-color: $header-color;
		   display: block;
		   height: 2px;
		   left: 14px;
		   margin-top: -1px;
		   position: absolute;
		   top: 50%;
		   transition: .4s;
		   width: 20px;
		   &:first-child { transform: translate(0,-6px); }
		   &:last-child { transform: translate(0,6px); }
		}

	}

	// Shodow for header
	&.toolbar-shadow{ @extend %primary-box-shadow; }
	&-topbar:not(.toolbar-shadow) { background-color: transparent!important; }

}


/* Header Navigation
========================================================================== */
.header-menu{
	transition: flex .2s,margin .2s,width .2s;
	flex: 1 1 auto;
	overflow-y: auto;

	ul{
		margin-left: 2rem;
		@extend .u-flex;

		li{ padding-right: 15px; }

		a{
			color: #fff;
			height: $header-height;
			padding: 0 8px;
			position: relative;
			@extend .u-flex-center;

			&:before{
				background: #fff;
				bottom: 0;
				content: '';
				height: 2px;
				left: 0;
				opacity: 0;
				position: absolute;
				transition: opacity .2s;
				width: 100%;
			}
			&:hover:before,
			&.active:before{
				opacity: 1;
			}
		}

	}
}


/* header social
========================================================================== */
.header-follow a{
	padding: 0 10px;
	color: inherit;
	&:hover{color: rgba(255, 255, 255, 0.80)}
	&:before{font-size: $font-size-lg !important;}
}



/* Header search
========================================================================== */
.header-search{
	background: #eee;
	border-radius: 2px;
	display: none;
	flex: 0 0 auto;
	height: 36px;
	position: relative;
	text-align: left;
	transition: background .2s,flex .2s;
	vertical-align: top;
	margin-left: 1.5rem;
	margin-right: 1.5rem;

	.search-icon{
		color: #757575;
		font-size: 24px;
		left: 24px;
		position: absolute;
		top: 12px;
		transition: color .2s;
	}
}

input.search-field {
	background: 0;
	border: 0;
	color: #212121;
	height: 36px;
	padding: 0 8px 0 72px;
	transition: color .2s;
	width: 100%;
	&:focus{
		border: 0;
		outline: none;
	}
}

.search-popout{
	background: $header-color;
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24),inset 0 4px 6px -4px rgba(0,0,0,.24);
	margin-top: 10px;
	max-height: calc(100vh - 150px);
	width: calc(100% + 120px);
	margin-left: -64px;
	overflow-y: auto;
	position: absolute;
	// transition: transform .2s,visibility .2s;
	// transform: translateY(0);

	z-index: -1;

	&.closed{
		// transform: translateY(-110%);
		visibility: hidden;
	}
}

.search-suggest-results{
	padding: 0 8px 0 75px;

	a{
		color: #212121;
		display: block;
		margin-left: -8px;
		outline: 0;
		height: auto;
		padding: 8px;
		transition: background .2s;
		font-size: $font-size-sm;
		&:first-child{
			margin-top: 10px;
		}
		&:last-child{
			margin-bottom: 10px;
		}
		&:hover{
			background: #f7f7f7;
		}
	}
}




/* mediaquery medium
========================================================================== */

@media #{$lg-and-up}{
	.header-search{
		background: rgba(255,255,255,.25);
		box-shadow: 0 1px 1.5px rgba(0,0,0,0.06),0 1px 1px rgba(0,0,0,0.12);
		color: $header-color;
		display: inline-block;
		width: 200px;

		&:hover{
			background: rgba(255,255,255,.4);
		}

		.search-icon{top: 0px;}

		input[placeholder], .search-icon{color: $header-color;}

	}

	.search-popout{
		width: 100%;
		margin-left: 0;
	}

	// Show large search and visibility hidden header menu
	.header.is-showSearch{
		.header-search{
			flex: 1 0 auto;
		}
		.header-menu{
			flex: 0 0 auto;
			margin: 0;
			visibility: hidden;
			width: 0;
		}
	}
}


/* Media Query
========================================================================== */

@media #{$lg-and-down}{

	// show search mobile
	.header.is-showSearchMob{
		padding: 0;

		.header-topbar-left,
		.nav-mob-toggle{
			display: none;
		}

		.header-search{
			border-radius: 0;
			display: inline-block !important;
			height: $header-height;
			margin: 0;
			width: 100%;

			input{
				height: $header-height;
			}
		}

		.search-mob-toggle{
			border: 0;
			color: $header-search-color;
			position: absolute;
			right: 0;
			&:before{content: $i-close !important;}
		}

	}

	// show menu mobile
	body.is-showNavMob{
		overflow: hidden;

		.nav-mob{
			transform: translateX(0);
		}
		.nav-mob-toggle {
			border: 0;
			transform: rotate(90deg);
			span:first-child { transform: rotate(45deg) translate(0,0);}
			span:nth-child(2) { transform: scaleX(0);}
			span:last-child {transform: rotate(-45deg) translate(0,0);}
		}
		.search-mob-toggle{
			display: none;
		}

		.main,.footer{
			transform: translateX(-25%);
		}
	}

}
