// Menu Page


/* Navigation Mobile
========================================================================== */
.nav-mob {
	height: 100vh;
	left: 0;
	background: linear-gradient(to bottom right,#c09,#f42 85%);
	padding: 48px 20px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: .4s;
	will-change: transform;
	z-index: 997;

	a{
		color: #000;
	}

	h5{
		font-weight: 500;
		letter-spacing: .04em;
		line-height: 1.5;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	ul {
		a{
			display: block;
			font-weight: 600;
			padding: 5px 0;
			text-transform: uppercase;
		}
	}




}
