/*  Post
========================================================================== */
.post-wrapper{
	margin-top: $header-height;
	padding-top: 1.8rem;
}

.post{

	&-header{
		margin-bottom: 1.2rem;
	}

	&-title{
		color: #222;
		font-size:  2.25rem;
		height: auto;
		line-height: 1.2;
		margin: 0 0 0.9375rem;
		padding: 0;
	}

	//  Image
	&-image{
		margin-bottom: 1.45rem;
		overflow: hidden;

		@media #{$sm-and-down}{
			margin-left:  - ($grid-gutter-width / 2);
			margin-right: - ($grid-gutter-width / 2);
		}
	}

	// post content
	&-body{
		margin-bottom: 2rem;
		h2{
			border-bottom: 1px solid $divider-color;
			font-weight: 300;
			margin: 2.50rem 0 1.25rem;
			padding-bottom: 3px;
		}
		h3,h4{
			margin: 32px 0 16px;
		}
		a:focus {text-decoration: underline;}

		iframe{
			display: block !important;
			margin: 0 auto 1.5rem auto !important;
			text-align: center;
		}
	}

	// tags
	&-tags{
		margin: 1.25rem 0;
		a{
			margin: 0 10px 10px 0;
			text-transform: capitalize;
			background: #EBEBEB;
			text-shadow: none;
			box-shadow: none !important;
		}
	}

	// Post comments
	&-comments{
		margin: 0 0 1.5rem;
	}

}

/* Post author line top (author - time - tag)
========================================================================== */
.post-byline{
	color: $secondary-text-color;

	@media #{$md-and-down}{
		font-size: $font-size-sm;
		// font-size: 1rem;
	}

	a{
		font-weight: 500;
		&:active{ text-decoration: underline; }
	}

}

.post-author-avatar{
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	width: 32px;
}



/* Post Action social media
========================================================================== */
.post-actions{
	position: relative;
	margin-bottom: 1.5rem;

	a{
		color: #fff;
		font-size: 1.125rem;

		&:hover{
			background-color: #000 !important;
		}
	}

	li{
		margin-left: 6px;
		&:first-child { margin-left: 0 !important; }
	}

	&.post-actions--bottom .btn{border-radius: 0;}

	&-comment{
		background: $primary-color;
		border-radius: 18px;
		color: #FFF;
		display: inline-block;
		font-weight: 500;
		height: 32px;
		line-height: 16px;
		padding: 8px 8px 8px 10px;
		width: 64px;

		i{
			margin-right: 4px;
		}
	}

	&-shares{
		padding: 0 8px;
		text-align: center;
		line-height: 1;
	}
	&-shares-count{
		color: #000;
		font-size: 22px;
		font-weight: bold;
	}
	&-shares-label{
		font-weight: 500;
		text-transform: uppercase;
		color: $secondary-text-color;
		font-size: 12px;
	}

}


/* Post author widget bottom
========================================================================== */
.post-author{
	position: relative;
	padding: 5px 80px;
	margin-bottom: 3rem;
	font-size: 15px;

	h5{
		color: #AAA;
		font-size: 12px;
		line-height: 1.5;
		margin: 0;
	}

	li{
		margin-left: 30px;
		font-size: 14px;
		a{color: #555;&:hover{color: #000;}}
		&:first-child{margin-left: 0;}
	}

	&-bio{
		max-width: 500px;
	}

	.post-author-avatar{
		height: 64px;
		width: 64px;
		position: absolute;
		left: 0;
		top: 10px;
	}
}


/* bottom share and bottom subscribe
========================================================================== */
.share-subscribe{
	margin-bottom: 1rem;

	p{
		color: #7d7d7d;
		margin-bottom: 1rem;
		line-height: 1;
		font-size: $font-size-sm;
	}

	.social-share{float: none !important;}

	&>div{
		position: relative;
		overflow: hidden;
		margin-bottom: 15px;
		&:before{
			content: " ";
			border-top: solid 1px #000;
			position: absolute;
			top: 0;
			left: 15px;
			width: 40px;
			height: 1px;
		}

		h5{
			color: #666;
			font-size:  $font-size-sm;
			margin: 1rem 0;
			line-height: 1;
			text-transform: uppercase;
		}
	}

	//  subscribe
	.newsletter-form{
		display: flex;

		.form-group{
			max-width: 250px;
			width: 100%;
		}

		.btn{
			border-radius: 0;
		}
	}

}


/* Related post
========================================================================== */
.post-related{
	&-title{
		font-size: 17px;
		font-weight: 400;
		height: auto;
		line-height: 17px;
		margin: 0 0 20px;
		padding-bottom: 10px;
		text-transform: uppercase;
	}

}


.related-posts{
	&-list{
		margin-bottom: 18px;
		padding: 0;
		border: none;
	}

	.entries{
		border: none;
		padding-bottom: 0;
		.image{margin-bottom:10px;}
		.image-link{height: 174px;}
		.title{
			margin: 0;
			padding: 0;
			font-size: 0.9375rem;
			font-weight: 500;
			line-height: 18px;
			&:hover{
				color: $primary-color;
			}
		}
	}

	.no-image{
		position: relative;

		.related-posts-list{
			background-color: $primary-color;
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0.9375rem;
			right: 0.9375rem;
		}

		h2{
			color: #fff;
			text-align: center;
			width: 100%;
			&:hover{
				color: rgba(255, 255, 255, 0.70);
			}
		}
	}

}


/* Media Query (medium)
========================================================================== */

@media #{$md-and-up}{
	.post{
		.title{
			font-size: 2.25rem;
			margin: 0 0 1rem;
		}

		// Share social media && comments count && share count
		.post-actions{
			&.post-actions--top li:first-child {
				border-right: 1px solid #EEE;
				width: 80px;
			}
			li{
				margin-left: 8px;
			}
		}


		&-body {
			font-size: 1.125rem;
			line-height: 32px;
			p{
				margin-bottom: 1.5rem;
			}
		}
	}
}
