/*  Post
========================================================================== */
.post{

    .title{
        // color: #333;
        margin: 0 0 0.625rem;
        font-size:  1.75rem;
        line-height: 1.2;
        padding: 0;
        height: auto;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    // excerpt
    p.excerpt{
        line-height: 1.3;
        font-size: $font-size-lg;
        color: #7D7D7D;
        margin-bottom: 10px;
    }
    //  Image
    &-image{
        margin-bottom: 1.45rem;
        overflow: hidden;
    }
    // post content
    &-content{
        // color: #424242;
        h2{
            border-bottom: 1px solid $divider-color;
            font-weight: 300;
            margin: 2.50rem 0 1.25rem;
            padding-bottom: 3px;
        }
        h3,h4{
            margin: 32px 0 16px;
        }
        a:focus {text-decoration: underline;}
    }
    // tags
    .tags{
        margin: 1.25rem 0;
        .tag{
            margin: 0 10px 10px 0;
            text-transform: capitalize;
        }
    }
    // commets
    .comments{
        margin: 0 0 1.5rem;
    }

}

/* Meta (autor -date - 1 tag - comments count)
========================================================================== */
.meta{
    margin-bottom: 1rem;
    line-height: 1;

    &-author-date{
        font-size: $font-size-sm;
        color: $secondary-text-color;
        margin: 10px 0 5px;

        a{color: inherit}

        .author-name a,
        .tag a{
            color: $primary-text-color;
        }
        .author-name a:hover{color: $secondary-text-color;}

        .point{
            margin: 0 2px;
            display: inline-block;
        }
    }

}


/* Social Share
========================================================================== */
.social-share{
    padding: 5px 0;
    font-size: $font-size-sm;

    .share-count{
        text-align: center;
        // color: #000;
        margin-right: 5px;
        margin-left: 5px;
    }
    .share{
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
        font-size: $font-size-lg;
        cursor: pointer;
        &:hover{
            opacity: .7;
        }
    }

    .btn{
        padding: 8px 10px;
        border-radius: 0;
        color: #fff;
    }
}


/* bottom share and bottom subscribe
========================================================================== */
.share-subscribe{
    p{
        color: #7d7d7d;
        margin-bottom: 1rem;
        line-height: 1;
        font-size: $font-size-sm;
    }

    .social-share{float: none !important;}

    &>div{
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
        &:before{
            content: " ";
            border-top: solid 1px #000;
            position: absolute;
            top: 0;
            left: 15px;
            width: 40px;
            height: 1px;
        }

        h5{
            color: #666;
            font-size:  $font-size-sm;
            margin: 1rem 0;
            line-height: 1;
            text-transform: uppercase;
        }
    }

    //  subscribe
    .newsletter-form{
        display: flex;

        .form-group{
            max-width: 250px;
            width: 100%;
        }

        .btn{
            border-radius: 0;
        }
    }

}


/* Related post
========================================================================== */
.related-posts{
    &-list{
        margin-bottom: 18px;
        padding: 0;
        border: none;
    }
    &-title{
        border-bottom: solid 1px $accent-color;
        font-size: 17px;
        font-weight: 400;
        height: auto;
        line-height: 17px;
        margin: 0 0 20px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    .entries{
        border: none;
        padding-bottom: 0;
        .image{margin-bottom:10px;}
        .image-link{height: 174px;}
        .title{
            margin: 0;
            padding: 0;
            font-size: 1rem;
            line-height: 18px;
        }
    }

    .no-image{
        position: relative;

        .related-posts-list{
            background-color: $primary-color;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0.9375rem;
            right: 0.9375rem;
        }

        h2{
            color: #fff;
            text-align: center;
            width: 100%;
            &:hover{
                color: rgba(255, 255, 255, 0.70);
            }
        }
    }

}


/* Media Query (medium)
========================================================================== */

@media #{$md-and-up}{
    .post{
        .title{
            font-size: 2.25rem;
            margin: 0 0 1rem;
        }

        .meta-author-date{ float: left;margin-top: 12px; }
        .social-share{ float: right; }

        &-content {
            font-size: 1.125rem;
            line-height: 32px;
            p{
                margin-bottom: 1.5rem;
            }
        }
    }
}

/* Media Query (large)
========================================================================== */
@media #{$lg-and-up}{
    .post{
        .meta-author-date{ float: left;margin-top: 12px; }
        .meta-share{ float: right; }
    }
}
