/* sidebar
========================================================================== */
.sidebar{
  position: relative;
  line-height: 1.6;

  h1,h2,h3,h4,h5,h6{margin-top: 0;}

  &-items{
    margin-bottom: 2.5rem;
    position: relative;
  }

  &-title{
    padding-bottom: 10px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $font-weight;
    @extend .u-b-b;
  }

  // Entry Post for sidebar
  .entry{
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    .entry-image{
      width: 130px;
      padding-right: 15px;
      margin: 0;
    }
    .entry-image--link{
      height: 78px;
      &:hover .entry-image--bg{transform: none;}
    }
    .entry-body{
      width: calc(100% - 130px);
    }
    .entry-title{
      font-size: $font-size-sm;
      line-height: 1.25;
      margin: 0;
    }
  }

  .title-primary{
    background-color: $primary-color;
    color: #FFFFFF;
    padding: 10px 16px;
    font-size: 18px;
  }

}
