.subscribe{
    height: 90vh;

    &-title{
        font-weight: 400;
        margin-top: 0;
    }
    .form-group{
        margin-bottom: 1.5rem;

        &.error{
            input {border-color: #ff5b5b;}
        }
    }
    h3{
        margin: 0;
        margin-bottom: 8px;
        font: 400 20px/32px Roboto,sans-serif;
    }

    .btn{
        width: 100%;
    }
}



.subscribe-content{
    max-width: 700px;
    color: #7d878a;
}

.subscribe-form{
    position: relative;
    margin: 30px auto;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    background: #ebeff2;
    border-radius: 5px;
    text-align: left;
}

.subscribe-input{
    width: 100%;
    padding: 10px;
    border: #4285f4  1px solid;
    border-radius: 2px;
    &:focus{
        outline: none;
    }
}
