// box-shadow
%primary-box-shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

%font-icons{
  font-family: 'mapache' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//  Clear both
.u-clear{
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

// border-
.u-b-b{ border-bottom: solid 1px #eee;}
.u-b-t{ border-top: solid 1px #eee;}

// Padding
.u-p-t-2{
  padding-top: 2rem;
}

// Eliminar la lista de la <ul>
.u-unstyled{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.u-floatLeft {  float: left!important; }
.u-floatRight { float: right!important; }

//  flex box
.u-flex{ display: flex; flex-direction: row; }
.u-flex-wrap {display: flex; flex-wrap: wrap; }
.u-flex-center{ display: flex; align-items: center;}
.u-flex-aling-right { display: flex; align-items: center; justify-content: flex-end;}
.u-flex-aling-center { display: flex; align-items: center; justify-content: center;flex-direction: column;}

// margin
.u-m-t-1{
  margin-top: 1rem;
}



// hide global
.u-hide{display: none !important}
// hide before
@media #{$md-and-down}{ .u-h-b-md{ display: none !important } }
@media #{$lg-and-down}{ .u-h-b-lg{ display: none !important } }

// hide after
@media #{$md-and-up}{ .u-h-a-md{ display: none !important } }
@media #{$lg-and-up}{ .u-h-a-lg{ display: none !important } }
