// box-shadow
%primary-box-shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}


.u-unstyled{
  padding-left: 0;
  list-style: none;
	margin: 0;
}


// hide before
@media #{$md-and-down}{
	.hide-before-md{
		display: none !important;
	}
}


@media #{$lg-and-down}{
	.hide-before-lg{
		display: none !important;
	}
}


// hide after
@media #{$md-and-up}{
	.hide-after-md{
		display: none !important;
	}
}

// hide after
@media #{$lg-and-up}{
	.hide-after-lg{
		display: none !important;
	}
}
