/*
@package godofredoninja

========================================================================
Mapache variables styles
========================================================================
*/

/**
* Table of Contents:
*
*		1. Colors
*		2. Fonts
*		3. Typography
*		4. Header
*		5. Footer
*		6. Code Syntax
*		7. buttons
*		8. container
*		9. Grid
*		10. Media Query Ranges
*		11. Icons
*/


/* 1. Colors
========================================================================== */
$primary-color        : #4285f4;
// $primary-color        : #2856b6;

$primary-text-color: 	#424242;
$secondary-text-color:	#aaa;
$accent-color: 			#eee;

$divider-color: 		#DDDDDD;

// $link-color     : #4184F3;
$link-color     : #039be5;
// $color-bg-page  : #EEEEEE;


// social colors
$social-colors: (
	facebook    : #3b5998,
	twitter     : #55acee,
	google		: #dd4b39,
	instagram   : #306088,
	youtube     : #e52d27,
	github      : #333333,
	linkedin    : #007bb6,
	spotify     : #2ebd59,
	codepen     : #222222,
	behance     : #131418,
	dribbble    : #ea4c89,
	flickr       : #0063DC,
	reddit		: orangered,
	pocket		: #F50057,
	pinterest   : #bd081c,
	feed		: orange,
);



/* 2. Fonts
========================================================================== */
$primary-font: 	 	'Roboto', sans-serif; // font default page
$code-font: 		'Fira Mono', monospace; // font for code and pre


/* 3. Typography
========================================================================== */

$spacer:                   1rem;
$line-height:              1.5;

$font-size-root:           16px;

$font-size-base:           1rem;
$font-size-lg:             1.25rem; // 20px
$font-size-sm:             .875rem; //14px
$font-size-xs:             .0.8125; //13px

$font-size-h1:             2.25rem;
$font-size-h2:             1.875rem;
$font-size-h3:             1.5625rem;
$font-size-h4:             1.375rem;
$font-size-h5:             1.125rem;
$font-size-h6:             1rem;


$headings-margin-bottom:   ($spacer / 2);
$headings-font-family:     $primary-font;
$headings-font-weight:     500;
$headings-line-height:     1.1;
$headings-color:           inherit;

$font-weight:				500;

$blockquote-font-size:     1.125rem;


/* 4. Header
========================================================================== */
$header-bg: $primary-color;
$header-color: #fff;
$header-height: 56px;
$header-search-bg: #eee;
$header-search-color: #757575;

/* 5. Footer
========================================================================== */
$footer-bg-color:   #131313;
$footer-color-link: #ffffff;
$footer-color:      $secondary-text-color;


/* 6. Code Syntax
========================================================================== */
$code-bg-color: 	    #f7f7f7;
$font-size-code: 	    0.9375rem;
$code-color: 		    #c7254e;
$pre-code-color:        #37474f;


/* 7. buttons
========================================================================== */
$btn-primary-color:       $primary-color;
$btn-secondary-color:     #039be5;
$btn-background-color:    #e1f3fc;
$btn-active-background:   #c3e7f9;

/* 8. container
========================================================================== */

$grid-gutter-width:        1.875rem; // 30px

$container-sm:             576px;
$container-md:             750px;
$container-lg:             970px;
$container-xl:             1200px;


/* 9. Grid
========================================================================== */
$num-cols: 12;
$gutter-width: 1.875rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;


/* 10. Media Query Ranges
========================================================================== */
$sm:            640px;
$md:            766px;
$lg:            992px;
$xl:            1230px;

$sm-and-up:     "only screen and (min-width : #{$sm})";
$md-and-up:     "only screen and (min-width : #{$md})";
$lg-and-up:     "only screen and (min-width : #{$lg})";
$xl-and-up:     "only screen and (min-width : #{$xl})";

$sm-and-down:   "only screen and (max-width : #{$sm})";
$md-and-down:   "only screen and (max-width : #{$md})";
$lg-and-down:   "only screen and (max-width : #{$lg})";


/* 11. icons
========================================================================== */
$i-open_in_new:      '\e89e';
$i-warning:          '\e002';
$i-star:             '\e838';
$i-download:         '\e900';
$i-cloud_download:   '\e2c0';
$i-check_circle:     '\e86c';
$i-play:			 "\e901";
$i-code:			 "\f121";
$i-close:			 "\e5cd";
