html {
  box-sizing: border-box;
  // Sets a specific default `font-size` for user with `rem` type scales.
  font-size: $font-size-root;
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $link-color;
  outline: 0;
  text-decoration: none;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;

  &:focus {
    text-decoration: none;
    // background-color: transparent;
  }

  &.external {
    &::after {
      @extend %font-icons;
      content: $i-open_in_new;
      margin-left: 5px;
    }
  }
}

body {
  // Make the `body` use the `font-size-root`
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: $font-size-base;
  line-height: $line-height;
  margin: 0 auto;
}

figure { margin: 0; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: auto;

  &:not([src]) {
    visibility: hidden;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

i {
  display: inline-block;
  vertical-align: middle;
}

hr {
  background: #F1F2F1;
  background: linear-gradient(to right,#F1F2F1 0,#b5b5b5 50%,#F1F2F1 100%);
  border: none;
  height: 1px;
  margin: 80px auto;
  max-width: 90%;
  position: relative;

  &::before {
    background: #fff;
    color: rgba(73,55,65,.75);
    content: $i-code;
    display: block;
    font-size: 35px;
    left: 50%;
    padding: 0 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    @extend %font-icons;
  }
}

blockquote {
  border-left: 4px solid $primary-color;
  padding: .75rem 1.5rem;
  background: #fbfbfc;
  color: #757575;
  font-size: $blockquote-font-size;
  line-height: 1.7;
  margin: 0 0 1.25rem;
  quotes: none;
}

ol,ul,blockquote {
  margin-left: 2rem;
}

strong {
  font-weight: 500;
}

small, .small {
  font-size: 85%;
}

ol {
  padding-left: 40px;
  list-style: decimal outside;
}

mark {
  background-image: linear-gradient(to bottom, lighten($primary-color, 35%), lighten($primary-color, 30%));
  background-color: transparent;
}

.footer,
.main {
  transition: transform .5s ease;
  z-index: 2;
}

.mapache-facebook { display: none !important; }

/* Code Syntax
========================================================================== */
kbd,samp,code {
  font-family: $code-font !important;
  font-size: $font-size-code;
  color: $code-color;
  background: $code-bg-color;
  border-radius: 4px;
  padding: 4px 6px;
  white-space: pre-wrap;
}

code[class*=language-],
pre[class*=language-] {
  color: $pre-code-color;
  line-height: 1.5;

  .token.comment { opacity: .8; }

  &.line-numbers {
    padding-left: 58px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: #F0EDEE;
      width: 40px;
      height: 100%;
    }
  }

  .line-numbers-rows {
    border-right: none;
    top: -3px;
    left: -58px;

    & > span::before {
      padding-right: 0;
      text-align: center;
      opacity: .8;
    }
  }
}

pre {
  background-color: $code-bg-color!important;
  padding: 1rem;
  overflow: hidden;
  border-radius: 4px;
  word-wrap: normal;
  margin: 2.5rem 0!important;
  font-family: $code-font !important;
  font-size: $font-size-code;
  position: relative;

  code {
    color: $pre-code-color;
    text-shadow: 0 1px #fff;
    padding: 0;
    background: transparent;
  }
}

/* .warning & .note & .success
========================================================================== */
.warning {
  background: #fbe9e7;
  color: #d50000;
  &:before{content: $i-warning;}
}

.note{
  background: #e1f5fe;
  color: #0288d1;
  &:before{content: $i-star;}
}

.success{
  background: #e0f2f1;
  color: #00897b;
  &:before{content: $i-check_circle;color: #00bfa5;}
}

.warning, .note, .success{
  display: block;
  margin: 1rem 0;
  font-size: 1rem;
  padding: 12px 24px 12px 60px;
  line-height: 1.5;
  a{
    text-decoration: underline;
    color: inherit;
  }
  &:before{
    margin-left: -36px;
    float: left;
    font-size: 24px;
    @extend %font-icons;
  }
}


/* Social icon color and background
========================================================================== */
@each $social-name, $color in $social-colors {
  .c-#{$social-name}{
    color: $color;
  }
  .bg-#{$social-name}{
    background-color: $color !important;
  }
}

//  Clear both
.clear{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* pagination Infinite scroll
========================================================================== */
.mapache-load-more{
  border: solid 1px #C3C3C3;
  color: #7D7D7D;
  display: block;
  font-size: 15px;
  height: 45px;
  margin: 4rem auto;
  padding: 11px 16px;
  position: relative;
  text-align: center;
  width: 100%;

  &:hover{
    background: $primary-color;
    border-color: $primary-color;
    color: #fff;
  }
}

// .pagination nav
.pagination-nav{
  padding: 2.5rem 0 3rem;
  text-align: center;
  .page-number{
    display: none;
    padding-top: 5px;
    @media #{$md-and-up}{display: inline-block;}
  }
  .newer-posts{
    float: left;
  }
  .older-posts{
    float: right
  }
}

/* Scroll Top
========================================================================== */
.scroll_top{
  bottom: 50px;
  position: fixed;
  right: 20px;
  text-align: center;
  z-index: 11;
  width: 60px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;

  &.visible{
    opacity: 1;
    visibility: visible;
  }

  &:hover svg path {
    fill: rgba(0,0,0,.6);
  }
}

// svg all icons
.svg-icon svg {
  width: 100%;
  height: auto;
  display: block;
  fill: currentcolor;
}

/* Video Responsive
========================================================================== */
.video-responsive{
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 1.5rem;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

/* Video full for tag video
========================================================================== */
#video-format{
  .video-content{
    display: flex;
    padding-bottom: 1rem;
    span{
      display: inline-block;
      vertical-align: middle;
      margin-right: .8rem;
    }
  }
}

/* Page error 404
========================================================================== */
.errorPage{
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  position: relative;
  width: 100%;

  &-title{
    padding: 24px 60px;
  }

  &-link{
    color: rgba(0,0,0,0.54);
    font-size: 22px;
    font-weight: 500;
    left: -5px;
    position: relative;
    text-rendering: optimizeLegibility;
    top: -6px;
  }

  &-emoji{
    color: rgba(0,0,0,0.4);
    font-size: 150px;
  }

  &-text{
    color: rgba(0,0,0,0.4);
    line-height: 21px;
    margin-top: 60px;
    white-space: pre-wrap;
  }

  &-wrap{
    display: block;
    left: 50%;
    min-width: 680px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

/* Post Twitter facebook card embed Css Center
========================================================================== */
iframe[src*="facebook.com"],
.fb-post,
.twitter-tweet {
  display: block !important;
  margin: 1.5rem 0 !important;
}
