// Footer
// -----------------------------------------------------------------------------

.footer {
  background-color: $footer-bg-color;
  padding: 5vw 0;
  color: $footer-color;

  a {
    color: $footer-color-link;
    &:hover { color: $footer-color-link-hover; }
  }

  &-divider {
    background-color: #444 !important;
    margin: 1.5rem 0 !important;
  }

  .icon--favorite {
    height: 14px;
    width: 14px;
    color: red;
  }
}

// Footer Memu
// -----------------------------------------------------------------------------

.footer-menu {
  > ul {
    li {
      display: inline-block;
      margin: 5px 1rem 5px 0;
    }
  }
}

// Footer Social Media
// -----------------------------------------------------------------------------
/* stylelint-disable-next-line */
.footer-social-media a {
  margin-right: 1rem;
}

// Footer Subscribe
// -----------------------------------------------------------------------------

.f {
  &-subscribe-left {
    @extend %secundary-font;

    p { color: $footer-color-subscribe }
  }

  &-form {
    &-input {
      flex: 1;
      margin-right: 20px;
      background-color: $footer-bg-input-color;
      color: $footer-color-input;
      border-color: transparent;
    }

    .button { width: 115px }

    // Error
    &.error,
    &.invalid {
      .message-error {
        color: #ec694b;
        display: block !important;
      }
    }

    // success
    &.success .message-success {
      color: #acd053;
      display: block !important;
    }

    // Animation Loafing
    &.loading {
      .button-text { display: none }

      .icon--loader {
        display: inline-block !important;
        animation: spin .8s linear infinite;
      }
    }
  }
}

// BreakPoint after md
// -----------------------------------------------------------------------------

@media #{$md-and-up} {
  .footer-social-media { text-align: right; }
  .f-subscribe { justify-content: space-between }
  .f-subscribe-right { width: 70%; max-width: 485px; padding-left: 20px; }
  .f-subscribe-left { max-width: 620px; margin-bottom: 0 }
}

@media #{$md-and-down} {
  .footer {
    padding-bottom: 4rem;
  }
}
