// Container
.extreme-container {
  @extend .u-marginAuto;

  box-sizing: border-box;
  // margin-left: auto;
  // margin-right: auto;
  max-width: 1232px;
  padding-left: $container-gutter-width;
  padding-right: $container-gutter-width;
  width: 100%;
}

.post-fluid { max-width: 1650px }

// @media #{$lg-and-up} {
//   .content {
//     // flex: 1 !important;
//     max-width: calc(100% - 340px) !important;
//     // order: 1;
//     // overflow: hidden;
//   }

//   .sidebar {
//     width: 340px !important;
//     // flex: 0 0 340px !important;
//     // order: 2;
//   }
// }

.col-left {
  width: 100%;
  // flex: 1 !important;
  // flex-basis: 0;
  // flex-grow: 1;
  // max-width: 100%;
  // padding-right: 10px;
  // padding-left: 10px;
}

// @media #{$md-and-up} {
// }

@media #{$lg-and-up} {
  .col-left { max-width: calc(100% - 360px) }
  // .cc-video-left { max-width: calc(100% - 320px) }
  // .cc-video-right { flex-basis: 320px !important; max-width: 320px !important; }
  // .cc-video-right { width: 320px; flex: 0 0 auto !important }
  body.is-article .col-left { padding-right: 30px }
}

.col-right {
  @extend %flex;
  @extend %direction-column;
  // display: flex;
  // flex-direction: column;
  // padding-left: $container-gutter-width;
  // padding-right: $container-gutter-width;
  width: $sidebar-width + ($container-gutter-width * 2);
  margin-left: auto;
}

.row {
  @extend %flex;
  @extend %direction-row;
  // display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-left: - $container-gutter-width;
  margin-right: - $container-gutter-width;

  .col {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding-left: $container-gutter-width;
    padding-right: $container-gutter-width;

    $i: 1;

    @media #{$sm-and-down} {
      &.col-s12 {
        flex-basis: 100% !important;
        max-width: 100% !important;
      }
    }

    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");

      &.s#{$i} {
        flex-basis: $perc;
        max-width: $perc;
      }

      $i: $i + 1;
    }

    @media #{$md-and-up} {

      $i: 1;

      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");

        &.m#{$i} {
          flex-basis: $perc;
          max-width: $perc;
        }

        $i: $i + 1;
      }
    }

    @media #{$lg-and-up} {

      $i: 1;

      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");

        &.l#{$i} {
          flex-basis: $perc;
          max-width: $perc;
        }

        $i: $i + 1;
      }
    }
  }

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
