// Header
// -----------------------------------------------------------------------------

.header {
  background-color: var(--header-bg-color);
  // box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);
  height: $header-height;
  padding: 0 16px;
  position: sticky;
  top: 0;
  // transition: all 1s ease;
  // transition: all .5s ease-in-out;
  // border-bottom: 1px solid #eee;
  z-index: 10;

  &-logo {
    color: var(--header-logo-color);
    height: 30px;

    img { height: 100% }
  }
}

// Header Menu
// -----------------------------------------------------------------------------

.mainMenu {
  // padding-top: 8px;
  // padding-bottom: 8px;
  position: relative;
  overflow: hidden;

  & > ul {
    @extend %flex;

    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
  }
}

// stylelint-disable
.header-left .hla,
.mainMenu > ul li a {
  display: inline-block;
  font-weight: 500;
  padding: 0 8px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: .02em;
  line-height: 60px;
  cursor: pointer;
}

.mainMenu > ul li {
  a {
    color: var(--header-menu-color);
    font-size: 15px;

    &:hover { color: var(--header-menu-color-hover) }
  }

  &.nav-current a {
    color: var(--header-menu-color-hover);
  }
}

.header-left .hla {
  color: var(--header-color);
  &:hover { color: var(--header-color-hover);}
}
// stylelint-enable

// Menu Bugger Button for show menu in mobile
// -----------------------------------------------------------------------------

.menu-burger {
  height: 48px;
  position: relative;
  transition: transform .4s;
  width: 48px;

  span {
    background-color: var(--header-color);
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

// Header Social Media
// -----------------------------------------------------------------------------

.header-social-media {
  // stylelint-disable-next-line
  & > a {
    flex-basis: 100%;
    text-align: center;
    padding: 5px;
  }
}

// Header DropDown menu
// -----------------------------------------------------------------------------

.drop {
  &-content {
    background: var(--drop-bg-color);
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, .05);
    display: none;
    margin: 0;
    min-width: 430px;
    padding: 20px;
    right: -24px;
    top: 100%;
    z-index: 11;

    // stylelint-disable-next-line
    a {
      color: var(--drop-color-link);
      // stylelint-disable-next-line
      &:hover { color: var(--drop-color-link-hover); }
    }

    .header-social-media .icon {
      height: 26px;
      width: 26px;
    }
  }

  &-border {
    border-bottom: 1px solid var(--drop-border-color);
  }
}

.dropdown {
  &::before {
    border: 10px solid transparent;
    bottom: 0;
    content: '';
    display: none;
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    transition: opacity .03s linear, visibility .03s linear;
    width: 0;
    border-bottom-color: var(--drop-bg-color);
  }

  &:hover {
    &::before,
    .drop-content {
      display: block;
      animation: dropdown-display .4s cubic-bezier(.73, .005, .22, 1);
    }
  }
}

// Account Header
// -----------------------------------------------------------------------------

.account-menu {
  min-width: 240px;

  .login {
    padding: 12px 0 18px;

    // &:hover { color: #555; }
  }
}

// Breakpoint
// -----------------------------------------------------------------------------

@media #{$lg-and-down} {
  .header-left { flex-grow: 1 !important; }
  .header-logo span { font-size: 24px }

  // show menu mobile
  body.has-menu {
    overflow: hidden;

    .sideNav { transform: translateX(0); }

    .menu-burger {
      border: 0;
      transform: rotate(90deg);

      span:first-child { transform: rotate(45deg) translate(0, 0); }
      span:nth-child(2) { transform: scaleX(0); }
      span:last-child { transform: rotate(-45deg) translate(0, 0); }
    }

    .main, .footer { transform: translateX(-25%) !important }
  }
}
