// Sidebar
// -----------------------------------------------------------------------------

.sidebar {
  &-title {
    border-bottom: 1px solid var(--border-bottom-color);
    margin-bottom: 30px;
    font-weight: 500;
  }
}

// Sidebar Post
// -----------------------------------------------------------------------------

.sidebar-post {
  background-color: var(--sidebar-post-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0785);
  box-shadow: 0 1px 7px var(--border-bottom-color);
  min-height: 60px;

  h3 { padding: 10px }

  // border for post
  &-border {
    border-left: 3px solid #CC116E;
    color: rgba(0, 0, 0, .2);
    padding: 0 10px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #888;
  }

  &:hover { .sidebar-post-border { background-color: var(--sidebar-post-border-color) } }

  &:nth-child(3n) { .sidebar-post-border { border-color: darken(orange, 2%); } }
  &:nth-child(3n+2) { .sidebar-post-border { border-color: #26a8ed } }
}

// Sidebar Tags
// -----------------------------------------------------------------------------

.mp-category {
  &-list li {
    margin-bottom: 5px;
  }

  &-bg {
    background: rgba(0, 0, 0, .5);
    z-index: -1;
  }

  &-count {
    background: #fff;
    color: #111;
    height: 35px;
    width: 35px;
  }

  &-link {
    min-height: 90px;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: all ease 500ms;

    span { white-space: nowrap; letter-spacing: 0.02em; text-transform: capitalize; }

    img { z-index: -2 }

    .bar {
      border-bottom: 1px dashed rgba(255, 255, 255, .5);
      margin: 0 25px;
    }

    &:hover {
      transform: scale(1.05);
      will-change: transform;
      transition: transform 0.35s cubic-bezier(.25, .46, .45, .94);
    }
  }
}

// Sidebar Widget Form
// -----------------------------------------------------------------------------

.swf {
  &.error,
  &.invalid,
  &.success {
    .message-error,
    .message-success {
      color: #fff;
      padding: 10px;
      margin-top: 10px;
    }
  }

  &.error,
  &.invalid {
    .message-error {
      background: #ec694b;
      display: block !important;
    }
  }

  // success
  &.success .message-success {
    background: #acd053;
    display: block !important;
  }

  // Animation Loafing
  &.loading {
    .button-text { display: none }

    .icon--loader {
      display: inline-block !important;
      animation: spin .8s linear infinite;
    }
  }
}
// Twitter Widget
// -----------------------------------------------------------------------------

.widget-twitter > div { border: 1px solid rgba(0, 0, 0, 0.1) }
