// Navigation Mobile
.sideNav {
  background-color: var(--header-bg-color);
  color: var(--sidenav-color);
  height: 100vh;
  padding: $header-height 20px;
  position: fixed !important;
  transform: translateX(100%);
  transition: 0.4s;
  will-change: transform;
  z-index: 8;

  &-menu a {
    padding: 10px 0;
    display: block;
  }

  &-wrap {
    background: var(--sidenav-bg);
    overflow: auto;
    padding: 0 20px 20px;
    top: $header-height;
  }

  &-item {
    border-bottom: 1px solid var(--sidenav-border-color);
    padding: 20px 0 19px;
  }

  &-follow {
    & > a {
      padding: 0 5px;
      display: block;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
