// Sidebar
// -----------------------------------------------------------------------------

.sidebar {
  &-title {
    border-bottom: 1px solid var(--border-bottom-color);
    margin-bottom: 30px;
    font-weight: 500;
  }
}

// Sidebar Post
// -----------------------------------------------------------------------------

.sidebar-post {
  background-color: var(--sidebar-post-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0785);
  box-shadow: 0 1px 7px var(--border-bottom-color);
  min-height: 60px;

  h3 { padding: 10px }

  // border for post
  &-border {
    border-left: 3px solid #CC116E;
    color: rgba(0, 0, 0, .2);
    padding: 0 10px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #888;
  }

  &:hover { .sidebar-post-border { background-color: var(--sidebar-post-border-color) } }

  &:nth-child(3n) { .sidebar-post-border { border-color: darken(orange, 2%); } }
  &:nth-child(3n+2) { .sidebar-post-border { border-color: #26a8ed } }
}

// Sidebar Widget Form
// -----------------------------------------------------------------------------

.swf {
  &.error,
  &.invalid,
  &.success {
    .message-error,
    .message-success {
      color: #fff;
      padding: 10px;
      margin-top: 10px;
    }
  }

  &.error,
  &.invalid {
    .message-error {
      background: #ec694b;
      display: block !important;
    }
  }

  // success
  &.success .message-success {
    background: #acd053;
    display: block !important;
  }

  // Animation Loafing
  &.loading {
    .button-text { display: none }

    .icon--loader {
      display: inline-block !important;
      animation: spin .8s linear infinite;
    }
  }
}
// Twitter Widget
// -----------------------------------------------------------------------------

.widget-twitter > div { border: 1px solid rgba(0, 0, 0, 0.1) }
