// page Account
// -----------------------------------------------------------------------------

.site-account {
  padding: 5vw;
}

.account-box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
