$color-theme: #9c27b0;

.header,
.godo-cover,
.prev-next-link.no-cover:after,
.prev-next-row:hover .prev-next-btn,
.sidebar .title{
  background-color: $color-theme !important;
}
.ps .ps-byline a{
  color: $color-theme !important;
}
.pagination .btn.active{
  background: #9c27b0 !important;
}
