*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// Page state no scroll
[godo-state~=no-scroll] {
  height: 100%;
  overflow: hidden;
}

a{
  color: $color-link;
  outline: 0;
  text-decoration: none;
}

body{
  color: $primary-text-color ;
  background: $color-bg-page;
  font: 400 16px/24px $page-font;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

blockquote{
  position: relative;
  font-style: italic;
  padding-left: 75px;
  margin: 40px auto;
  color: $secondary-text-color;
  min-height: 70px;
  &:before{
    left: -5px;
    opacity: 0.5;
    position: absolute;
    top: -35px;
    font-size: 5em;
    content: "\e244";
    @include font-icon();
  }

  @media #{$small-and-up}{
    width: 90%;
  }

}

h1, h2, h3, h4, h5, h6{
  letter-spacing: -.01em;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
}

h1{
  font: 400 34px/40px $page-font;
  margin: 40px 0 20px;
}
h2{
  font: 400 26px/34px $page-font;
  margin: 40px 0 20px;
}
h3{
  font: 500 20px/32px $page-font;
  margin: 32px 0 16px;
}
h4{
  font: 500 18px/32px $page-font;
  margin: 32px 0 16px;
}
h5{
  font: 700 16px/24px $page-font;
  margin: 32px 0 16px;
}
h6 {
  font: 500 16px/24px $page-font;
  margin: 32px 0 16px;
}

hr{
  border: none;
  border-bottom: 1px dashed #b7b7b7;
  margin: 2em auto;
  padding: 0;
}

img{
  width: auto;
  max-width: 100%;
}
img:not([src]) {
  visibility: hidden;
}

p{
  margin: 16px 0;
  padding: 0;
  word-wrap: break-word;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

ol{
  padding-left: 40px;
  list-style: decimal outside;
}

pre{
  background-color: $pre-bg-color !important;
  font: 16px/22px $pre-font !important;
	border-radius: 0.3em;
  color: #fff;
	margin: 30px 0;
	overflow: auto;
  padding: 1em;
  code{
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    background-color: transparent;
  }
}

kbd,
samp,
code {
  font: 400 100%/1 $pre-font !important;
  color: $code-color;
  background-color: $code-bg-color;
  border-radius: 4px;
  padding: 2px 4px;
  white-space: pre-wrap;
}


// Utilidades
.u-align-center{
  @include flexbox();
  @include align(center);
  @include justify-content(center);
}


//  Card
.card{
  border: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(43,59,93,0.29);
  margin-bottom: 20px;
  padding: 1em;
}

// full site
.full-site-width{
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

// hidden on
.show-on-medium-screen,
.show-on-small-screen{
  display: none;
}


.landing{
  overflow: hidden;
}

.main{
  position: relative;
}


.page-wrap{
  max-width: 1000px !important;
  width: 100% !important;
  .page-post{
    padding-top: 1.5em !important;
  }
}


// overlay open menu
.overlay{
  background-color: rgba(50,50,50,0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 59;
  @include transition-duration(.3s);
}


// Pagination
.pagination{
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;

  .btn{
    background-color: $accent-color;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    font-size: 30px;

    &:hover{
      box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
      -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
      transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
    }

  }

  .pagination-number{
    margin:  0 20px;
    font-size: 20px;
    color: $secondary-text-color;
  }

}


//  sidebar

.sidebar{
  padding: 0 8px;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;

  h1,h2,h3,h4,h5,h6{margin-top: 0;}

  .items{
    margin-bottom: 20px;
  }

  .title{
    background-color: $primary-color;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
    font-size: 18px;
  }

  @media #{$medium-and-up}{
    padding: 0;
    margin: 1em 12px;
    @include flex(0 0 $sidebar-right);
    @include order(2);
  }
}

// svg all icons
.svg-icon{
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: block;
  fill: currentcolor;
}

// Share social links

.share{
  a{
    border-radius: 0;
    font-size: 20px;

    &.ps-comment{
      background: #989898;
      padding: 0 14px;
      &:before{
        padding-right: .5em;
      }
    }
  }

  span{
    text-transform: capitalize;
    font-size: 16px;
  }

}


// Video Responsive Youtube & Vimeo
.video{
  margin: 30px auto;
  max-width: 100%;
  .video-content {
    height: 0;
    padding: 25px 0 56.25% 0;
    position: relative;
    iframe {
      height: 100%!important;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%!important;
    }
  }
}


// Color social media
@each $social-name, $bgcolor in $social-colors {
  .bg-#{$social-name} {
      background: $bgcolor !important;
      &:hover{
        background: lighten( $bgcolor, 10% ) !important;
      }
    }
  .c-#{$social-name}{
    color: $bgcolor;
  }
}


// error 404 page
.error{
  &-wrap{
    padding-top: 70px;
    text-align: center;
    @media #{$medium-and-up}{
      padding-top: 0
    }
  }
  &-text{
    font-size: 8em;
    font-weight: bold;
    line-height: 1;
    opacity: .2;
  }
  p{
    letter-spacing: .003em;
    max-width: 500px;
    margin: 35px auto;
    padding: 0 50px;
  }
}


// Iden small screen page
@media #{$small-and-down}{

  .hidden-on-small-screen{
    display: none !important;
  }

  .show-on-small-screen {
    display: inherit;
  }

}

@media #{$medium-and-up}{

  .show-on-medium-screen{
    display: block;
  }

  .main{

    &-post{
      margin: 1em 12px 0 12px;
      width: 100%;
      @include flex(1 1 auto);
      @include order(1);
    }

    &-wrap{
      @include flexbox;
      @include flex-direction(row);
    }
  }


  .bg-home{
    @include linear-gradient-left3($color-bg-page, #fff, 0, #fff, 50%, $color-bg-page, 50% , $color-bg-page , 100% );
    .main-post{
      background: #fff;
    }
  }


}




// Post Twitter facebook card embed Css Center

.fb-post,
.twitter-tweet{
  display: block !important;
  margin: 0 auto 40px auto !important;
  text-align: center;
}


// ADS

.Ads{
  position: relative;
  margin: 10px -32px;
  text-align: center;

  .Ads-content{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}


.clear{
  clear: both;
}