.feed-entry-content .feed-entry-wrapper:last-child {
  .entry:last-child {
    padding: 0;
    border: none;
  }
}

.entry {
  margin-bottom: 1.5rem;
  padding: 0 15px 15px;

  &-image {
    // margin-bottom: 10px;

    &--link {
      height: 180px;
      margin: 0 -15px;
      overflow: hidden;

      &:hover .entry-image--bg {
        transform: scale(1.03);
        backface-visibility: hidden;
      }
    }

    &--bg { transition: transform 0.3s }
  }

  // video play for video post format
  &-video-play {
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 3.5rem;
    height: 65px;
    left: 50%;
    line-height: 65px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    z-index: 10;
    // &:before{line-height: inherit}
  }

  &-category {
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: $font-size-sm;
    line-height: 1;

    a:active {
      text-decoration: underline;
    }
  }

  &-title {
    color: $entry-color-title;
    font-size: $entry-font-size-mb;
    height: auto;
    line-height: 1.2;
    margin: 0 0 .5rem;
    padding: 0;

    &:hover {
      color: $entry-color-title-hover;
    }
  }

  &-byline {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: $entry-color-byline;
    font-size: $entry-font-size-byline;

    a {
      color: inherit;
      &:hover { color: #333 }
    }
  }

  &-body {
    padding-top: 20px;
  }
}

/* Entry small --small
========================================================================== */
.entry.entry--small {
  margin-bottom: 24px;
  padding: 0;

  .entry-image { margin-bottom: 10px }
  .entry-image--link { height: 170px; margin: 0 }

  .entry-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
  }

  .entry-byline { margin: 0 }
}

// Media query LG
@media #{$lg-and-up} {
  .entry {
    margin-bottom: 40px;
    padding: 0;

    &-title {
      // font-size: $entry-font-size;
      font-size: 21px;
    }

    &-body { padding-right: 35px !important }

    &-image {
      margin-bottom: 0;
    }

    &-image--link {
      height: 180px;
      margin: 0;
    }
  }
}

// Media Query XL
@media #{$xl-and-up} {
  .entry-image--link { height: 218px }
}
