.footer {
  color: $footer-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 1.6rem 15px;
  text-align: center;

  a {
    color: $footer-color-link;
    &:hover { color: rgba(0, 0, 0, .8); }
  }

  &-wrap {
    margin: 0 auto;
    max-width: 1400px;
  }

  .heart {
    animation: heartify .5s infinite alternate;
    color: red;
  }

  &-copy,
  &-design-author {
    display: inline-block;
    padding: .5rem 0;
    vertical-align: middle;
  }

  &-follow {
    padding: 20px 0;

    a {
      font-size: 20px;
      margin: 0 5px;
      color: rgba(0, 0, 0, .8);
    }
  }
}

@keyframes heartify {
  0% {
    transform: scale(.8);
  }
}
