// Header
// ==========================================================================

.header-logo,
.menu--toggle,
.search-toggle {
  z-index: 15;
}

.header {
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.3);
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: 10;

  &-wrap { height: $header-height; }

  &-logo {
    color: #fff !important;
    height: 30px;

    img { max-height: 100%; }
  }

  // Left
  &-left {
    a {
      padding: 5px 8px;
    }
  }
}

// not have logo
.not-logo .header-logo { height: auto !important }

// Follow more toggle
.follow-toggle {
  height: $header-height;
  border-right: 1px solid rgba(187, 241, 185, .3);
  display: flex;
  align-items: center;
  margin-right: 8px;
  padding-right: 10px !important;
}

// Header Follow More
// ==========================================================================
.follow-more {
  transition: width .4s ease;
  overflow: hidden;
  width: 0;
}

body.is-showFollowMore {
  .follow-more { width: auto }
  .follow-toggle { color: var(--header-color-hover) }
  .follow-toggle::before { content: "\e5cd" }
}

// Header menu
// ==========================================================================

.nav {
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  overflow: hidden;

  ul {
    display: flex;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
  }

  li {
    float: left;

    a {
      font-weight: 600;
      margin-right: 22px;
      text-transform: uppercase;
    }
  }
}

// button-nav
.menu--toggle {
  height: 48px;
  position: relative;
  transition: transform .4s;
  width: 48px;

  span {
    background-color: var(--header-color);
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

// Header menu
// ==========================================================================

@media #{$md-and-down} {
  .header-left { flex-grow: 1 !important; }
  .header-logo span { font-size: 24px }

  // show menu mobile
  body.is-showNavMob {
    overflow: hidden;

    .sideNav { transform: translateX(0); }

    .menu--toggle {
      border: 0;
      transform: rotate(90deg);

      span:first-child { transform: rotate(45deg) translate(0, 0); }
      span:nth-child(2) { transform: scaleX(0); }
      span:last-child { transform: rotate(-45deg) translate(0, 0); }
    }

    .header .button-search--toggle { display: none; }
    .main, .footer { transform: translateX(-25%) !important; }
  }
}
