// Podcast Cover Header
// ==========================================================================
.spc {
  &-header {
    background-color: #110f16;

    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
      display: block;
    }

    &::before {
      height: 200px;
      top: 0;
      background-image: linear-gradient(to top, transparent, #18151f);
    }

    &::after {
      height: 300px;
      bottom: 0;
      background-image: linear-gradient(to bottom, transparent, #110f16);
    }
  }

  // Podcast Header
  &-h {
    &-inner {
      padding: calc(9vw + 55px) 4vw 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
    }

    &-t {
      font-size: 4rem;
    }

    &-e {
      color: #fecd35;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 5px;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }

  // Description
  &-des {
    margin: 40px auto 30px;
    line-height: 1.4;
    font-family: Georgia, 'Merriweather', serif;
    opacity: .8;

    em {
      font-style: italic;
      color: #fecd35;
    }
  }

  // buttons RSS
  &-buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      background: hsla(0, 0%, 100%, .9);
      border-radius: 35px;
      color: #15171a;
      font-size: 16px;
      height: 33px;
      line-height: 1em;
      margin: 5px;
      padding: 7px 12px;
      transition: background .5s ease;

      &:hover {
        background: #fff;
        color: #000;
      }
    }

    img {
      display: inline-block;
      height: 20px;
      margin: 0 8px 0 0;
      width: auto;
    }
  }
}

// Podcast Card (story)
// ==========================================================================
.spc-c {
  color: #fff;
  background-color: #18151f;

  &-img {
    min-height: 200px;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      top: auto;
      width: 100%;
      height: 70%;
      background-image: linear-gradient(to bottom, transparent, #18151f);
    }
  }

  &-body {
    padding: 15px 20px;
  }
}

// Podcast Button Play
// ==========================================================================
.listen-btn {
  border: 2px solid var(--podcast-button-color);
  color: var(--podcast-button-color);
  letter-spacing: 3px;
  border-radius: 0;
  line-height: 32px;
  // background: #fff;

  &:hover {
    color: #fff;
    background-color: var(--podcast-button-color);
    transition: all .1s linear;
  }
}

.listen-icon {
  width: 18px;
  height: 18px;
  top: -2px;
}

// Page Podcast
// ==========================================================================
body.is-podcast {
  background-color: #110f16;

  .flow-meta-cat, .flow-meta, .header-left a, .nav ul li a { color: #fff }
  .footer-links, .header { background-color: inherit }

  .load-more {
    max-width: 200px !important;
    color: var(--podcast-button-color);
    border: 2px solid var(--podcast-button-color);
  }
}

// Media query
// ==========================================================================
@media #{$lg-and-up} {
  .spc-c {
    display: flex;

    &-img {
      width: 285px;
      flex: 0 0 auto;

      &::after {
        top: 0;
        right: 0;
        width: 140px;
        height: 100%;
        background-image: linear-gradient(to right, transparent, #18151f);
      }
    }
  }

  .spc-h-inner { font-size: 1.875rem; }
}
