/*  Post
========================================================================== */
.post-wrapper {
  margin-top: $header-height;
  padding-top: 1.8rem;
}

.post {

  &-header {
    margin-bottom: 1.2rem;
  }

  &-title {
    color: #222;
    font-size: 2.5rem;
    height: auto;
    line-height: 1.04;
    margin: 0 0 0.9375rem;
    letter-spacing: -.028em !important;
    padding: 0;
  }

  &-excerpt {
    line-height: 1.3em;
    font-size: 20px;
    color: #7D7D7D;
    margin-bottom: 8px;
  }

  //  Image
  &-image{
    margin-bottom: 1.45rem;
    overflow: hidden;
  }

  // post content
  &-body{
    margin-bottom: 2rem;

    a:focus {text-decoration: underline;}

    h2{
      // border-bottom: 1px solid $divider-color;
      font-weight: 500;
      margin: 2.50rem 0 1.25rem;
      padding-bottom: 3px;
    }
    h3,h4{
      margin: 32px 0 16px;
    }

    iframe{
      display: block !important;
      margin: 0 auto 1.5rem 0 !important;
    }

    img{
      display: block;
      margin-bottom: 1rem;
    }

    h2 a, h3 a, h4 a {
      color: $primary-color,
    }
  }

  // tags
  &-tags{
    margin: 1.25rem 0;
  }

  // Post comments
  &-comments{
    margin: 0 0 1.5rem;
  }

}

/* Post author by line top (author - time - tag - sahre)
========================================================================== */
.post-byline {
  color: $secondary-text-color;
  font-size: 14px;
  flex-grow: 1;
  letter-spacing: -.028em !important;

  a {
    color: inherit;
    &:active { text-decoration: underline; }
    &:hover { color: #222 }
  }
}

// Post actions top
.post-actions--top .share {
  margin-right: 10px;
  font-size: 20px;

  &:hover { opacity: .7; }
}

.post-action-comments {
  color: $secondary-text-color;
  margin-right: 15px;
  font-size: 14px;
}

/* Post Action social media
========================================================================== */
.post-actions {
  position: relative;
  margin-bottom: 1.5rem;

  a {
    color: #fff;
    font-size: 1.125rem;
    &:hover { background-color: #000 !important; }
  }

  li {
    margin-left: 6px;
    &:first-child { margin-left: 0 !important; }
  }

  .btn { border-radius: 0; }
}

/* Post author widget bottom
========================================================================== */
.post-author{
  position: relative;
  font-size: 15px;
  padding: 30px 0 30px 100px;
  margin-bottom: 3rem;
  background-color: #f3f5f6;


  h5{
    color: #AAA;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
  }

  li{
    margin-left: 30px;
    font-size: 14px;
    a{color: #555;&:hover{color: #000;}}
    &:first-child{margin-left: 0;}
  }

  &-bio{
    max-width: 500px;
  }

  .post-author-avatar{
    height: 64px;
    width: 64px;
    position: absolute;
    left: 20px;
    top: 30px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
  }
}



/* prev-post and next-post
========================================================================== */
// .prev-post,
// .next-post{
//   background: none repeat scroll 0 0 #fff;
//   border: 1px solid #e9e9ea;
//   color: #23527c;
//   display: block;
//   font-size: 14px;
//   height: 60px;
//   line-height: 60px;
//   overflow: hidden;
//   position: fixed;
//   text-overflow: ellipsis;
//   text-transform: uppercase;
//   top: calc(50% - 25px);
//   transition: all 0.5s ease 0s;
//   white-space: nowrap;
//   width: 200px;
//   z-index: 999;

//   &:before{
//     color: #c3c3c3;
//     font-size: 36px;
//     height: 60px;
//     position: absolute;
//     text-align: center;
//     top: 0;
//     width: 50px;
//   }
// }

// .prev-post {
//   left: -150px;
//   padding-right: 50px;
//   text-align: right;
//   &:hover{ left:0; }
//   &:before{ right: 0; }
// }

// .next-post {
//   right: -150px;
//   padding-left: 50px;
//   &:hover{ right: 0; }
//   &:before{ left: 0; }
// }


/* bottom share and bottom subscribe
========================================================================== */
.share-subscribe{
  margin-bottom: 1rem;

  p{
    color: #7d7d7d;
    margin-bottom: 1rem;
    line-height: 1;
    font-size: $font-size-sm;
  }

  .social-share{float: none !important;}

  &>div{
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    &:before{
      content: " ";
      border-top: solid 1px #000;
      position: absolute;
      top: 0;
      left: 15px;
      width: 40px;
      height: 1px;
    }

    h5{
      color: #666;
      font-size:  $font-size-sm;
      margin: 1rem 0;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  //  subscribe
  .newsletter-form{
    display: flex;

    .form-group{
      max-width: 250px;
      width: 100%;
    }

    .btn{
      border-radius: 0;
    }
  }

}


/* Related post
========================================================================== */
.post-related{
  margin-bottom: 1.5rem;

  &-title{
    font-size: 17px;
    font-weight: 400;
    height: auto;
    line-height: 17px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  &-list{
    margin-bottom: 18px;
    padding: 0;
    border: none;
  }

  // .no-image{
  //   position: relative;

  //   .entry{
  //     background-color: $primary-color;
  //     display: flex;
  //     align-items: center;
  //     position: absolute;
  //     bottom: 0;
  //     top: 0;
  //     left: 0.9375rem;
  //     right: 0.9375rem;
  //   }

  //   .entry-title{
  //     color: #fff;
  //     padding: 0 10px;
  //     text-align: center;
  //     width: 100%;
  //     &:hover{
  //       color: rgba(255, 255, 255, 0.70);
  //     }
  //   }
  // }

}


/* Media Query (medium)
========================================================================== */

@media #{$md-and-up}{
  .post{
    .title{
      font-size: 2.25rem;
      margin: 0 0 1rem;
    }

    &-body {
      font-size: 1.125rem;
      line-height: 32px;
      p{
        margin-bottom: 1.5rem;
      }
    }
  }
}


@media #{$sm-and-down}{
  .post-title{
    font-size: 1.8rem;
  }
  .post-image,
  .video-responsive{
    margin-left:  - ($grid-gutter-width / 2);
    margin-right: - ($grid-gutter-width / 2);
  }
}
