// post content
// ==========================================================================

.post {
  // title
  &-title {
    color: #000;
    line-height: 1.2;
    font-weight: 900;
    max-width: 1000px;
  }

  &-excerpt {
    color: #555;
    font-family: $secundary-font;
    font-weight: 300;
    letter-spacing: -.012em;
    line-height: 1.6;
  }

  // author
  &-author-social {
    vertical-align: middle;
    margin-left: 2px;
    padding: 0 3px;
  }

  &-image { margin-top: 30px }
}

// Avatar
// ==========================================================================
.avatar-image {
  display: inline-block;
  vertical-align: middle;

  @extend .u-round;

  &--smaller {
    width: 50px;
    height: 50px;
  }
}

// post content body
// ==========================================================================
.post-body {
  a:not(.button):not(.button--circle):not(.prev-next-link) {
    text-decoration: none;
    position: relative;
    transition: all 250ms;
    box-shadow: inset 0 -3px 0 var(--post-color-link);

    &:hover {
      box-shadow: inset 0 -1rem 0 var(--post-color-link)
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
    font-weight: 900;
    font-style: normal;
    color: #000;
    letter-spacing: -.02em;
    line-height: 1.2;
  }

  h2 { margin-top: 35px }

  p {
    font-family: $secundary-font;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -.003em;
    line-height: 1.7;
    margin-top: 25px;
  }

  ul,
  ol {
    counter-reset: post;
    font-family: $secundary-font;
    font-size: 1.125rem;
    margin-top: 20px;

    li {
      letter-spacing: -.003em;
      margin-bottom: 14px;
      margin-left: 30px;

      &::before {
        box-sizing: border-box;
        display: inline-block;
        margin-left: -78px;
        position: absolute;
        text-align: right;
        width: 78px;
      }
    }
  }

  ul li::before {
    content: '\2022';
    font-size: 16.8px;
    padding-right: 15px;
    padding-top: 3px;
  }

  ol li::before {
    content: counter(post) ".";
    counter-increment: post;
    padding-right: 12px;
  }
}

// Class of Ghost
// ==========================================================================

// fisrt p
// .post-body-wrap > p:first-of-type {
//   margin-top: 30px;

//   // &::first-letter {
//   //   float: left;
//   //   font-size: 55px;
//   //   font-style: normal;
//   //   font-weight: 900;
//   //   letter-spacing: -.03em;
//   //   line-height: .83;
//   //   margin-bottom: -.08em;
//   //   margin-right: 7px;
//   //   padding-top: 7px;
//   //   text-transform: uppercase;
//   // }
// }

.post-body-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  // & > p:first-of-type { margin-top: 30px }

  h1, h2, h3, h4, h5, h6, p,
  ol, ul, hr, pre, dl, blockquote,
  .post-tags, .prev-next, .mob-share, .kg-embed-card {
    min-width: 100%;
  }

  & > ul { margin-top: 35px }

  & > iframe,
  & > img,
  .kg-image-card,
  .kg-embed-card {
    margin-top: 30px !important
  }
}

// Share Post
// ==========================================================================
.sharePost {
  left: 0;
  width: 40px;
  position: absolute !important;
  transition: all .4s;
  top: 30px;

  /* stylelint-disable-next-line */
  a {
    color: #fff;
    margin: 8px 0 0;
    display: block;
  }

  .i-chat {
    background-color: #fff;
    border: 2px solid #bbb;
    color: #bbb;
  }
}

// Post Related
// ==========================================================================

.post-related {
  padding: 40px 0;
}

// Post mobile share
/* stylelint-disable-next-line */
.mob-share {
  .mapache-share {
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
  }

  .share-title {
    font-size: 14px;
    margin-left: 10px
  }
}

// Previus and next article
// ==========================================================================
/* stylelint-disable-next-line */
.prev-next {
  &-span {
    color: var(--composite-color);
    font-weight: 700;
    font-size: 13px;

    i {
      display: inline-flex;
      transition: all 277ms cubic-bezier(0.16, 0.01, 0.77, 1)
    }
  }

  &-title {
    margin: 0 !important;
    font-size: 16px;
    height: 2em;
    overflow: hidden;
    line-height: 1 !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
  }

  // &-arrow {
  //   color: #bbb;
  //   font-size: 40px;
  //   line-height: 1;
  // }

  &-link:hover {
    // .prev-next-title { color: rgba(0, 0, 0, .54) }
    .arrow-right { animation: arrow-move-right 0.5s ease-in-out forwards }
    .arrow-left { animation: arrow-move-left 0.5s ease-in-out forwards }
  }
}

// Image post Format
// ==========================================================================
.cc-image {
  max-height: 100vh;
  min-height: 600px;
  background-color: #000;

  &-header {
    right: 0;
    bottom: 10%;
    left: 0;
  }

  &-figure img {
    opacity: .4;
    object-fit: cover;
    width: 100%
  }

  .post-header { max-width: 700px }
  .post-title, .post-excerpt { color: #fff }
}

// Video post Format
// ==========================================================================

.cc-video {
  background-color: #000;
  padding: 40px 0 30px;

  .post-excerpt { color: #aaa; font-size: 1rem }
  .post-title { color: #fff; font-size: 1.8rem }
  .kg-embed-card, .video-responsive { margin-top: 0 }

  // Video related
  .story h2 {
    color: #fff;
    margin: 0;
    font-size: 1.125rem !important;
    font-weight: 700 !important;
    max-height: 2.5em;
    overflow: hidden;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
  }

  .flow-meta, .story-lower, figcaption { display: none !important }
  .story-image { height: 170px !important; }

  .media-type {
    height: 34px !important;
    width: 34px !important;
  }
}

// change the design according to the classes of the body
body {
  &.is-article .main { margin-bottom: 0 }
  &.share-margin .sharePost { top: -60px }
  &.show-category .post-primary-tag { display: block !important }

  &.is-article-single {
    .post-body-wrap { margin-left: 0 !important }
    .sharePost { left: -100px }
    .kg-width-full .kg-image { max-width: 100vw }
    .kg-width-wide .kg-image { max-width: 1040px }
  }
}

@media #{$md-and-down} {
  .post-body-wrap {
    q {
      font-size: 20px !important;
      letter-spacing: -.008em !important;
      line-height: 1.4 !important;
    }

    // & > p:first-of-type::first-letter {
    //   font-size: 30px;
    //   margin-right: 6px;
    //   padding-top: 3.5px;
    // }

    .kg-image-card img { max-width: 100%; }

    ol, ul, p {
      font-size: 1rem;
      letter-spacing: -.004em;
      line-height: 1.58;
    }

    iframe { width: 100% !important; }
  }

  // Post Related
  .post-related {
    padding-left: 8px;
    padding-right: 8px;
  }

  // Image post format
  .cc-image-figure {
    width: 200%;
    max-width: 200%;
    margin: 0 auto 0 -50%;
  }

  .cc-image-header { bottom: 24px }
  .cc-image .post-excerpt { font-size: 18px; }

  // video post format
  .cc-video {
    padding: 20px 0;

    &-embed {
      margin-left: -16px;
      margin-right: -15px;
    }

    .post-header { margin-top: 10px }
  }
}

@media #{$lg-and-down} {
  body.is-article {
    .col-left { max-width: 100% }
    // .sidebar { display: none; }
  }
}

@media #{$md-and-up} {
  // Image post Format
  .cc-image .post-title { font-size: 3.2rem }
}

@media #{$lg-and-up} {
  body.is-article .post-body-wrap { margin-left: 70px; }

  body.is-video,
  body.is-image {
    .post-author { margin-left: 70px }
    // .sharePost { top: -85px }
  }
}

@media #{$xl-and-up} {
  body.has-video-fixed {
    .cc-video-embed {
      bottom: 20px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
      height: 203px;
      padding-bottom: 0;
      position: fixed;
      right: 20px;
      width: 360px;
      z-index: 8;
    }

    .cc-video-close {
      background: #000;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      display: block !important;
      font-size: 14px;
      height: 24px;
      left: -10px;
      line-height: 1;
      padding-top: 5px;
      position: absolute;
      text-align: center;
      top: -10px;
      width: 24px;
      z-index: 5;
    }

    .cc-video-cont { height: 465px; }

    .cc-image-header { bottom: 20% }
  }
}
