/* sidebar
========================================================================== */
.sidebar{
  position: relative;
  line-height: 1.6;

  h1,h2,h3,h4,h5,h6{margin-top: 0;}

  &-items{
    margin-bottom: 2.5rem;
    position: relative;
  }

  &-title{
    padding-bottom: 10px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $font-weight;
    @extend .u-b-b;
  }

  .title-primary{
    background-color: $primary-color;
    color: #FFFFFF;
    padding: 10px 16px;
    font-size: 18px;
  }

}


.sidebar-post {
  padding-bottom: 2px;

  &--border {
    align-items: center;
    border-left: 3px solid $primary-color;
    bottom: 0;
    color: rgba(0, 0, 0, .2);
    display: flex;
    font-size: 28px;
    font-weight: bold;
    left: 0;
    line-height: 1;
    padding: 15px 10px 10px;
    position: absolute;
    top: 0;
  }

  &:nth-child(3n) { .sidebar-post--border { border-color: darken(orange, 2%) } }
  &:nth-child(3n+2) { .sidebar-post--border { border-color: rgb(0, 160, 52) } }


  &--link {
    background-color: rgb(255, 255, 255);
    display: block;
    min-height: 50px;
    padding: 10px 15px 10px 55px;
    position: relative;

    &:hover .sidebar-post--border {
      background-color: rgb(229, 239, 245);
    }
  }

  &--title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
}
