{{#get "posts" filter="tags:[hash-video, video, youtube]+id:-{{post.id}}" include="tags" order="title desc" limit="4" as |filter_video_related|}}
{{#if filter_video_related}}

<div class="row u-hide-before-md">
    {{#foreach filter_video_related}}
    <div class="col s12 m6 l3">
        {{!-- Story Small Grid - partials/story/story-small.hbs --}}
        {{> "story/story-small"}}
    </div>
    {{/foreach}}
</div>

{{/if}}
{{/get}}
