{{!-- Pagination --}}

{{^is "paged"}}

<a href="#" class="load-more u-hide button button--large button--dark-line" data-page-total="{{pagination.pages}}">{{t "Load More"}}</a>

{{else}}
    {{"pagination"}}
{{/is}}
