// Style entry file
// --------------------------------------------------

:root {
  // Composite Color
  --composite-color: #CC116E;
  --composite-color-hover: #cc116ed6;
}

// Lib
// --------------------------------------------------

@import "node_modules/normalize.css/normalize";

// Abstracts
// --------------------------------------------------
@import "abstracts/variables";
@import "abstracts/mixins";
@import "components/buttons";
@import "components/icons";

// Global Styles
// --------------------------------------------------

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #f4f8fb;
  font-family: $primary-font;
  font-size: 1rem;
  height: 100vh;
  color: #51626a;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

a {
  color: #cc116e;
  text-decoration: none;
  transition: all .5s ease;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: auto;

  &:not([src]) {
    visibility: hidden;
  }
}

input {
  background: #fff;
  border-radius: 3px;
  border: 0;
  color: #303030;
  display: block;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0 10px 0 40px;
  position: relative;
  transition: box-shadow .08s ease-in, color .08s ease-in;
  width: 100%;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  height: 44px;
  line-height: 44px;
}

.u-hide { display: none }

.signup {
  &-header a {
    outline: none;
    text-decoration: none;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &-content {
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    max-width: 450px;
    width: 100%;
    margin: auto;
    padding: 2rem 1rem;
  }

  &-site {
    &-logo {
      margin: 0 auto;
      display: block;
      width: 150px;
    }

    &-title {
      font-size: 2.2rem;
      font-weight: bold;
    }
  }

  &-viewport {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

// Signup Icon input
// --------------------------------------------------

.signup-input-icon {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 12px;
    z-index: 100;
    fill: #a6bac5;
    transform: translateY(-9px);
  }
}

.signup-footer,
.signup-form {
  position: relative;
  margin: 30px auto 20px;
  padding: 40px 30px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .09), 0 2px 5px rgba(0, 0, 0, .03);
}

// Signup Footer
// --------------------------------------------------

.signup-footer {
  padding: 20px;
  a:hover { text-decoration: underline; }
}

// Signup Form
// --------------------------------------------------

.signup-form {
  .button {
    width: 100%;
    margin-top: 20px;
    border-radius: 3px;
  }

  &.error,
  &.invalid,
  &.success {
    .message-error,
    .message-success {
      color: #fff;
      padding: 10px 5px;
      margin-top: 20px;
    }
  }

  // Error
  &.error,
  &.invalid {
    .message-error {
      background-color: #ec694b;
      display: block;
    }
  }

  // success
  &.success .message-success {
    background-color: #98c22e;
    display: block;
  }

  // Animation Loafing
  &.loading {
    .button-text { display: none }

    .icon--loader {
      display: inline-block;
      animation: spin .8s linear infinite;
    }
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
