@media screen and (min-width:601px)

  ol li:before
    font-size 20px

  // Author page

  .Author
    font-size 1.3em
    height 450px
    &-name
      font-size 2em
    &-meta  span
      margin 0 10px
    &-meta
      margin-top 20px

  // Menu
  .Menu
    &-openSearch
    &-closeSearch
      top 0

  // autor post
  .AuthorPost
    &-img
      top 20px
      position relative
    &-name
      text-align left
    &-meta
      padding-left 0 !important

  // post
  .Post
    width 100% !important
    &-title
      font-size 2.5em
      line-height 40px
    &-main
      padding 2em


  // Post Loop
  .Ps
    width 50% !important
    &-inner
      height 330px

  // share
  .Share
    &-hidden
      display inline


  //AuthorPost
  .AuthorPost
    &-meta
      text-align left
      margin-left 0

  // sidebar
  .Sidebar
    &-items
      width 50% !important

  // Tag Page
  .Tag
    font-size 1.3em
    &.cover
      height 450px
    &-title
      font-size 2em

  // Follow
  .Follow
    display block
