@media screen and (min-width:601px)

  ol li:before
    font-size 20px

  // Menu
  .Menu
    &-openSearch
    &-closeSearch
      top 0

  // autor post
  .AuthorPost
    &-img
      top 20px
      position relative
    &-name
      text-align left
    &-meta
      padding-left 0 !important

  // post
  .Post
    width 100% !important


  // Post Loop
  .Ps
    width 50% !important
    &-inner
      height 330px

  // share
  .Share
    &-hidden
      display inline


  //AuthorPost
  .AuthorPost
    &-meta
      text-align left
      margin-left 0

  // sidebar
  .Sidebar
    &-items
      width 50% !important



  // Follow
  .Follow
    display block
