@media screen and (min-width:720px)

  // Follow social
  .Follow
    margin-top 10px

    span
      &.texto
        font-size 18px
        font-weight 500
  // Post
  .Post
    &-header
      min-height 300px
      &:before
        content ""
        position absolute
        width 100%
        z-index 100
        left 0
        right 0
        bottom 0px
        top 0
        background rgba(0,0,0,.9) none
        background-size 100% 100%
        background none,linear-gradient(180deg,rgba(0,0,0,0) 50%,rgba(0,0,0,.8))
        pointer-events none
        display block
    &-headerCont
      background transparent
      border none
      bottom 20px
      color #fff
      left 7%
      margin 0 0 20px 0
      max-width 530px
      padding 0
      position absolute
      text-shadow 0 1px 3px rgba(0,0,0,.4)
      z-index 100

      a
        color #fff
    &-title
      color #fff
      font-size 2.5em
      letter-spacing 1px
      margin-bottom 5px
    &-tags
      color rgba(255,255,255,.8)
      margin-bottom 10px
      font-size 16px
      a
        color rgba(255,255,255,.8)

    &-content
      font-size 18px

  //  Tags post author
  .AuthorPost
    &-top
      color rgba(255,255,255,.8)
      margin-top 10px
      font-size 16px

