@media screen and (min-width:992px)

  body
    background #f1f1f1

  // utilidades
  .u-border
    box-shadow 0 1px 2px rgba(0,0,0,.1) !important
    border 0

  // Author page
  .Author
    height 550px

  //  Footer
  .Footer
    &-social
      text-align right
    &-copy
      text-align left

  // Menu
  .Menu
    &-form
      display block !important
      opacity 1 !important
      top 0
      left 150px
      max-width 750px


      form
        background transparent
        margin-right 0

        input[type=search]
          box-sizing border-box
          border 1px solid #cccccb
          height 35px
          position relative
          margin-top 15px
          line-height 35px
          &:focus
            border 1px solid #4285f4


        button
          display block
          background #4285f4
          background linear-gradient(top,#4387fd,#4683ea)
          border 1px solid transparent
          border-bottom-left-radius 0
          border-top-left-radius 0
          box-shadow none
          box-sizing border-box
          height 35px
          line-height 35px
          margin 0
          margin-top 15px
          outline none
          padding 0 0
          position relative
          width 60px

          &:active
            background #3c78dc
            background linear-gradient(top,#3c7ae4,#3f76d3)
            border 1px solid transparent
            box-shadow inset 0 2px 0 rgba(0,0,0,.15)
          &:focus
            box-shadow inset 0 0 0 1px #fff

          i
            color #fff
            height 100%
            line-height 1
            padding-top 3px
            position relative

    &-closeSearch
    &-openSearch
      display none

    &-openDesktop
      display block
      left 0.75rem
      position relative

    .brand-logo
      margin-left 60px

    &-desktop
      box-shadow 5px 10px 15px 5px rgba(0,0,0,.1)
      left 0 !important
      overflow hidden
      top 0
      padding-bottom 10px
      position fixed !important
      margin-top 64px
      max-height 100%
      &:hover
        overflow-y auto

    &-desktopCont
      width 230px
      padding 13px 22px
      box-sizing border-box



    // Menu social
    &-social
      cursor pointer
      display block
      height 64px
      position relative
      right 0.75rem
      text-align center
      width 160px
      &:hover
        background-color rgba(0,0,0,0.05)
        .Menu-social-panel
          opacity 1
          pointer-events auto
      &-i
        background transparent !important
        font-size 1.8em
        margin 0 5px
      &-panel
        position absolute
        right 0
        text-align left
        width 310px
        top 64px
        opacity 0
        transition-duration .3s
        pointer-events none

        a
          color #444
          height 55px
          text-transform uppercase
          &:hover
            background-color rgba(0, 0, 0, 0.05)

          i
            border-radius 2px
            color #fff
            display inline-block !important
            font-size 1.2em !important
            height 30px !important
            line-height 0px !important
            margin-right 5px
            padding 5px
            text-align center
            vertical-align middle
            width 30px

      &-form
        color #444
        input
          background-color #f0f0f0
          margin 0
          border 0
          padding 0 10px
          box-sizing border-box
          &:focus
            border 0 !important
            box-shadow none !important

        p
          line-height 1

        .search-send
          padding 0
          width 50px
          height 3rem
          border-radius 0
          background $color-blue
          line-height 45px
          &:before
            content "\e6e3"
            font-size 30px
            font-family "Material-Design-Icons"


  // Logo
  .Logo
    &-img
      margin-top 14px
      max-height 35px

  // Post
  .Post
    width 66.66667% !important
    // &-main
    //   padding 2em 2em 3em 2em
    &-content
      margin-left 0
      margin-right 0
      padding 20px 7%

      h2
      h3
      h4
      h5
      h6
        font-size 2em
        margin-top 1.5em
        line-height 1.1

  // Post Loop
  .Ps
    width 33.33333% !important
    &-inner
      height 355px
    &-header
      height 75px
    &-title
      height 100%
      font-size 20px
    &-link
      position absolute
      top 50%
      transform translate(0, -50%)
      width 100%
    &-img
      height 230px

  //share post
  .Share
    .whatsapp
      display none
    .icon-linkedin
      display inline-block

  // Sidebar
  .Sidebar
    padding 0 !important
    width 33.33333% !important
    margin-top 10px
    &-items
      width 100% !important
    // facebook & twitter
    &-social
      display block

  // Error 4
  .Error
    height 700px

  .Header
    &-info
      padding 15px 15px 10px
    &-homeTitle
      font-size 3em

    &-homeDes
      font-size 20px
      line-height 25px

