@media screen and (min-width:992px)

  // Author page
  .Author
    height 550px

  //  Footer
  .Footer
    &-social
      text-align right
    &-copy
      text-align left

  // Menu
  .Menu
    &-form
      display inline-block !important
      margin-left 20px
      opacity 1 !important
      position relative
      vertical-align top
      width 60%

      form
        background transparent
        input
          background #fff
          border-radius 2px
          box-sizing border-box
          height 35px
          line-height 35px !important
          padding-left 10px !important
          margin-top 1rem
          width 100% !important
          &:focus
            border none !important
            color #333
        label
          display none
        #Search-results
          border-radius 2px
          position relative
          top 10px

    &-closeSearch
    &-openSearch
      display none

    &-openDesktop
      display block
      left 5px
      position absolute
      top 0

    .brand-logo
      position relative
      margin-left 50px

    &-desktop
      border-radius 2px
      display none
      left 0
      opacity 0
      padding 24px 0
      position absolute
      top 60px !important
      width 300px
      width 496px
      z-index 99
      &:before
        content "\e896"
        font-family "Material-Design-Icons"
        font-size 70px
        left -15px
        line-height 0
        position absolute
        top -1px

      ul
        overflow-y auto
        max-height 475px
        overflow-x hidden

      li
        display block
        line-height 40px
        width 100%
        a
          color $color-date
          padding 0 0 0 24px

    // Menu social
    &-social
      height 64px
      position absolute
      right 0
      text-align center
      top 0
      width 150px
      cursor pointer
      display block
      &:hover
        background-color rgba(0, 0, 0, 0.1)
        .Menu-social-panel
          opacity 1
          pointer-events auto
      &-i
        background transparent !important
        font-size 1.5em
        margin 0 5px
      &-panel
        position absolute
        right 0
        text-align left
        width 310px
        top 64px
        opacity 0
        transition-duration .3s
        pointer-events none

        a
          color #444
          height 55px
          text-transform uppercase
          &:hover
            background-color rgba(0, 0, 0, 0.05)

        i
          border-radius 2px
          color #fff
          display inline-block !important
          font-size 1.2em !important
          height 30px !important
          line-height 0px !important
          margin-right 5px
          padding 5px
          text-align center
          vertical-align middle
          width 30px


  // Logo
  .Logo
    left auto !important
    transform none !important


  // Post
  .Post
    width 66.66667% !important
    &-main
      padding 2em 2em 3em 2em
    &-content
      h2
      h3
      h4
      h5
      h6
        font-size 2em

  // Post Loop
  .Ps
    width 33.33333% !important
    &-header
      height 75px
    &-title
      height 100%
      font-size 20px
    &-link
      position absolute
      top 50%
      transform translate(0, -50%)
      width 100%

  //share post
  .Share
    .whatsapp
      display none
    .icon-linkedin2
      display inline-block

  // Sidebar
  .Sidebar
    padding 0 !important
    width 33.33333% !important
    &-items
      width 100% !important

  // Tag Page
  .Tag.cover
    height 550px

  // Error 4
  .Error
    height 700px
